{% extends 'base/base.html' %}
{% load static %}

{% block exp_block %}
<div class="topmargin">

<script type="text/javascript">
popupURL = "{% url 'treconomics.views.view_next' %}";
popupWidth = {% if popup_width %}{{ popup_width }}{% else %}undefined{% endif %};
popupHeight = {% if popup_height %}{{ popup_height }}{% else %}undefined{% endif %};

launchPopup(popupURL, popupWidth, popupHeight);
</script>

<p>
The experiment should now automatically launch in a new popup window.<br />
If the popup window doesn't appear, your web browser has most likely blocked the popup. Click <a href="#" onmouseup="launchPopup(popupURL, popupWidth, popupHeight);">here</a> if the popup doesn't appear.

<noscript>
    <span style="color: #F00;"><strong>Please ensure JavaScript is enabled on your browser. The experiment will not function without JavaScript.</strong></span>
</noscript>
</p>

</div>
{% endblock %}