{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> --> 
{% endblock %}

{% block exp_block %}


<p>
    <strong>You have now completed the practice task.</strong><br />
    Click the button below to proceed to the first search task.
</p>

<div style="text-align: center;">
<a href="/treconomics/next/"> <button class="button" type="next" > Next </button></a>
</div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}