{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}


Below is a description of a <b>practice search task</b> that we would like you to undertake. The search task is a description of the topic, and the type of information within documents that would be relevant to this specific topic.

<hr/>

<div class="query" > <b> {{tasktitle}} </b> <span>Search Task: {{task}} Search Topic: {{topic}}</span></div>

<p>{% autoescape off %} {{taskdescription}} {% endautoescape %} </p>


<p> Click the next button to begin the search task: </p>

<a href="/treconomics/next/"> <button class="button" type="next" > Next </button></a>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
