{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}

<p>Now that you've completed the initial demographics survey, we'd like you to try out a <strong>practice search task</strong> to help you familiarise yourself with the search interface.</p>
<p>In a moment you will be using the search interface.</p> 
	
	
<p>Feel free to try out the interface by posing queries and examining the documents returned by the system.</p> 
	
	
<p> Try to find a document that is relevant to the practice task. When you find a relevant document you will be able to mark it as relevant by clicking the button 'Mark as Relevant'.</p>

<p><strong>If you are unsure as to how a particular feature works, please call over the assistant.</strong></p>

<p>When you're confident you can use the system effectively, let the assistant know that you are ready to start.</p>
<hr/>

<div style="text-align: center;">
<a href="/treconomics/next/"> <button class="button" type="next" >Next</button></a>
</div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
