{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}

<p>Now that you've completed the initial demographics survey, we'd like you to try out a <strong>practice search task</strong> to help you familiarise yourself with the search interface.</p>
<p>When you click the <em>Next</em> button below, you'll be shown a search interface. Feel free to try out posing some queries and examining documents returned. Try marking a document as relevant - see how it all works.<br /></p>

<p><strong>If you are unsure as to how a particular feature works, <em>please</em> call over David. He is there to help you!</strong></p>

<p>When you're confident you can use the system effectively, please call over David before continuing. He'll do a quick check to ensure you know about all of the features before continuing.</p>
<hr/>

<div style="text-align: center;">
<a href="/treconomics/next/"> <button class="button" type="next" >Next</button></a>
</div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
