{% extends "base.html" %}

{% block page_title %} Bing {% endblock %}

{% block engine_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bing.css">
{% endblock %}

{% block input_section %}
<div class="input-section">
    <div class ="uk-container uk-container-center">
        <form id="search-form" class="uk-form">
            <input id="search-input" type="text" placeholder="Enter query...">
            <div id="search-btns" class="uk-button-group">
	            <button id="submit-btn" class="search-btn uk-button uk-button-primary" type="submit">Web Search</button>
	            <div class="" data-uk-dropdown="">
		            <a class="search-btn uk-button uk-button-primary" href="#">
                        <i class="uk-icon-caret-down"></i>
		            </a>
                    <div id="dropdown-container" class="uk-dropdown uk-dropdown-small">
                        <ul id="dropdown-options" class="uk-nav uk-nav-dropdown">
                            <li><a href="image">Image</a></li>
                            <li><a href="video">Video</a></li>
                            <li><a href="news">News</a></li>
                            <li><a href="web">Web</a></li>
                        </ul>
                    </div>
	            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block results_section %}
<div class="results-section">
    <div class="uk-container uk-container-center">
            <ol id="results-container" start="1">
            </ol>
    </div>
</div>
{% endblock %}

{% block result_templates %}
{% include "web_result.html" %}
{% include "image_result.html" %}
{% include "video_result.html" %}
{% endblock %}

{% block engine_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/bing.js"></script>
{% endblock %}