{% extends "base.html" %}

{% block page_title %} GovUK/Twitter {% endblock %}

{% block engine_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/govwiki.css">
{% endblock %}

{% block input_section %}
<div class="input-section">
    <div class ="uk-container uk-container-center">
        <form id="search-form" class="uk-form">
            <input id="search-input" type="text" placeholder="Enter query...">
            <button id="submit-btn" class="uk-button uk-button-primary" type="button">Search</button>
        </form>
    </div>
</div>
{% endblock %}

{% block results_section %}
<div class="results-section">
    <div class="uk-container uk-container-center">
        <ol id="results-container" start="1">
        </ol>
    </div>
</div>
{% endblock %}

{% block result_templates %}
{% include "web_result.html" %}
{% endblock %}

{% block engine_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/govwiki.js"></script>
{% endblock %}

