{% extends "base.html" %}

{% block page_title %}{{ engine_name }}{% endblock %}

{% block input_section %}
<div class="input-section">
    <div class ="uk-container uk-container-center uk-text-center">
        <form id="search-form" class="uk-form">
            <input id="search-input" type="text" placeholder="Enter query...">
            <button id="search-btn" class="uk-button uk-button-primary" type="button">Search</button>
        </form>
    </div>
</div>
{% endblock %}

{% block results_section %}
<div class="results-section">
    <ol id="results-container" class="uk-container uk-container-center" start="1">
    </ol>
</div>
{% endblock %}