{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					SearchLab
				</h1>
			</div>
		</div>
	</div>

    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">
           <form class="form-search">
               <div class="row-fluid">
                   <div class="span2">
                        <div class="btn-group">
                         <button class="btn" id="tn-engine">Engine</button> <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                            <ul class="dropdown-menu" id="engine-select">
                                <li>
                                    <a href="#">Bing</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Wikipedia</a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="span8">
                       <input class="input search-query" type="text" id="input-search"/>
                   </div>
                   <div class="span2" id="btn-span">
                        <button type="submit" class="btn" id="btn-submit">Search</button>
                   </div>
               </div>
           </form>
        </div>
        <div class="span3"></div>
    </div>

    <div class="row-fluid" id="results-container">
        <div class="span3"></div>
        <div class="span6">
            <div class="well well-large" id="result-list">
            </div>
        </div>
        <div class="span3"></div>
    </div>

    <div class="row-fluid" id="pagination-container">
        <div class="span3"></div>
        <div class="span6" style="text-align: center;">
            <span class="pagination btn-group">

                <a class="btn first" id="first">&laquo;</a>
                <a class="btn previous" id="previous">&lsaquo;</a>
                <span class="btn" style="cursor: default;" id="pagination-middle">---</span>
                <a class="btn next" id="next">&rsaquo;</a>
                <a class="btn last" id="last">&raquo;</a>
            </span>
        </div>
        <div class="span3"></div>
    </div>
{% endblock %}