# Misc
*.keys
*.db
*.png

keys.py
tester.py

# Pycharm / Python
.idea
*.pyc

.DS_Store

*~
*.swp
*.pot

# ----- Django
*.pyc
*.pyo
.metadata
local_settings.py

# ----- C

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ----- Java

*.class

# Package Files #
*.jar
*.war
*.ear

# ----- LaTeX

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
