body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #333;
	height: 100%;
	}
	
/** CONTAINER **/

.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	}

.header {
	background-color: black;
	color: white;	
	padding: 10px 20px;
	}
	

.header a, .header a:visited {
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
	}

.header a:hover {
	color: white;
	}
	
/** INFO BLOCK **/

.info_block {
	position: absolute;
	top: 0px;
	right: 20px;
	color: white;
	font-size: 12px;
}
	
.info_block a {
	font-weight: bold;
	font-size: 12px;
	color: #ccc;
	text-decoration: none;
	}
		
#info_block a:hover {
	font-weight: bold;
	color: white;	
	text-decoration: underline;		
	}

/** SEARCH**/

.search {
	position: relative;
	top: 20px;
	padding-bottom: 100px;
	}

#search_box_area{
	position: relative;
	height: 140px;
	margin: 0 auto 0 auto;
	}

	
/** QUERY SUGGESTION AREA **/

.query_suggestion_area {
	position: absolute;
	top: 150px;
	width: 150px;
	left: 0px;
	}

.query_suggestion_area a {
	text-decoration: none;
	}
	
.query_suggestion_area a:hover {
	text-decoration: underline;
	}
	
.query span{
	float: right;
}
	
.results {
	width: 70%;
	margin: 0px auto 50px auto;
}

.document_content, .experiment{
	width: 80%;
	margin: 0px auto 50px auto;
}
	
#rightnav {
	position: absolute;
	top: 0px;
	width: 200px;
	left: 800px;
	}

.result_nav {
	position: relative;
	top: 30px;
	text-align: center;
	padding-bottom: 30px;
	}

.result_nav a {
	color: blue;
	}

.title {
	position: absolute;
	top: 0px;
	right: 0px;
	}

h1.document_title {
	margin: 40px 150px;
	font-size: 30px;
	line-height: 35px;
	color: #6699ff;
	}
	
table {
	margin: 0 auto;
}
	
.article {
	margin: 20px 150px;
	line-height: 30px;
	font-size: 16px;
	text-align: justify;
	}
	
.document_source_date {
	margin: 20px 150px;
	line-height: 30px;
	font-size: 16px;
	font-style: italic;
	}
	
.document_source_date span {
	float: right;
	}


h1, h2, h3 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 20px;
	color: #666;
	}

h2 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0px;
	}

td.searchlabel {
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	}

p.result_title a {
	font-size: 18px;
	color: blue;
	}
	
p.result_title a:visited {
	color: #6611cc;
	}

div.byline {
	color: green;
	margin-top: -12px;
	}

p.summary {
	margin-top: -12px;
	}	


/* Footer */	


.experimentFooter {
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 50px;
	background-color: black;
	color: white;	
	text-align: center;		
	}

.experimentHeader p, .experimentFooter p{
	font-weight: bold;
	font-size: 13px;
	}



.button {
	border: 1px solid #999;
	background: #eee;
	font-weight: bold;
	color: #666;
	height: 34px;
	width: 70px;
	border-radius: 4;
	}

.button:hover {
	background: #fff;
	color: black;
	}
	
.largebutton {
	border: 1px solid #999;
	background: #eee;
	font-weight: bold;
	color: #666;
	height: 34px;
	width: 150px;
	margin: 0px 5px;
	border-radius: 4;
	}

.largebutton:hover {
	background: #fff;
	color: black;
	}

.largebuttonright {
    	border: 1px solid #999;
    	background: #eee;
    	font-weight: bold;
    	color: #666;
    	height: 34px;
    	width: 150px;
    	margin: 0px 5px;
    	border-radius: 4;
    	float: right;
}

.largebuttonright:hover {
    background: #fff;
    color: black;
}


.searchbox {
	border: 1px solid #999;
	height: 30px;
	width: 420px;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 5px;
	color: #666;	
	z-index: 2000;
	}

    .smallsearchbox {
    	border: 1px solid #999;
    	height: 30px;
    	width: 80px;
    	font-size: 16px;
    	font-weight: bold;
    	font-family: Helvetica, Arial, sans-serif;
    	padding-left: 5px;
    	color: #666;	
    	z-index: 2000;
    	}



#marked {
	position: fixed;
	top: 100px;
	width: 200px;
	right: -20px;
	}

#marked .largebutton {
	margin-bottom: 20px;
}


.topmargin {
	margin-top: 80px;
	}


.floatright {
    float: right;
}
 
.errorlist {
    color: white;
    letter-spacing: 1px;
    font-weight: bold; 
    background-color: red;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}


/** SURVEYS **/  


.experimentPageTitle {
	margin-left: 20px;
	margin-top: -40px;
	margin-bottom: 30px;
}

.survey {
	width: 800px;
	margin: 0px auto;
}

.survey input {
	border: 1px solid #999;
	height: 30px;
	width: 300px;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 5px;
	color: #666;	
	}

#id_age {
	width: 50px;
}

.survey select {
	border: 1px solid #999;
	height: 30px;
	width: 310px;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 5px;
	color: #666;	
	}


.surveySubmitButton {
	text-align: center;
	margin-top: 30px;

}


.surveySubmitButton input {
	width: 130px;
}

.survey table {
	border-collapse: collapse;
}

.odd {
	background-color: #eee;
}

.survey table tr {
	vertical-align: center;
	font-weight: bold;
}



ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	font-weight: normal;
}


.survey_radio tr td ul li label input {
	width: 30px;
	height: 15px;
	margin-left: 50px;
	}

.survey_radio tr td ul {
	padding-top: 10px;
}




.matrix ul li {
	display: inline;
}


.matrix li label {
	float: left;
	padding-right: 5px;
}


.survey_radio tr td.matrix ul li label input {
	float: left;
	width: 13px;
	height: 15px;
	margin-left: 5px;
	}


td#nasa_load ul li label input {
	float: left;
	width: 11px;
	height: 15px;
	margin-left: 2px;
	}

td#search_experience ul li label input, td#search_engagement ul li label input {
	float: left;
	width: 15px;
	height: 15px;
	margin: 0 25px;
	}
