{% extends 'pagefetch/base.html' %}
{% block title %}
About
{% endblock %}
{% block container %}
<div class="well span11 text-left">
    <h3>Pagefetch</h3>
    <p class="lead">
    Pagefetch is a game developed as a part of a  information retrieval research project in the School of Computing Science at the University of Glasgow. <br />
    It's aim is to to gather information about search engine querying habits and patterns of various user groups.<br>
    <br />
    </p>
</div>
<div class="well well-info span11">
    <h4> Project by</h4>
    <table class="table table-striped">
        <tr>
            <td>
                Martin Bevc
            </td>
            <td>
                1006404B@student.gla.ac.uk
            </td>
        </tr>
        <tr>
            <td>
                <h4>Supervised by</h4>
            </td>
        </tr>
        <tr>
            <td>
                Dr. Leif Azzopardi
            </td>
            <td>
                leif.azzopardi@glasgow.ac.uk
            </td>
        </tr>
    </table>
</div>
{% endblock %}
