{% extends 'pagefetch/base.html' %}

{% block title %}
        Pick a category!
{% endblock %}

{% block container %}
<div class="well">
    <h2>{{avatar}}</h2>
    <!--When you pick a category, all the pages that you are going to be shown will belong to this category.-->
</div>
<div class="well">
        <ul class="thumbnails centre text-center" style="width:95%;margin:auto;">
            {% for c in cats %}
            <li id="{{c.desc}}" class="thumbnail span3.5" style="display:inline-block;margin-right:10px;">
            <a href="/pagefetch/play/{{c.url}}" style="color:#000000;">
                <div>
                    <h3>{{c.name}}</h3>
                    <img src="/data/{{c.icon}}" class ="img-rounded-cat" alt="{{c.name}}" style="height:170px;width:220px;font-color:black;">
                    <br/>
                    {% if user.is_authenticated %}
                        <p> <h4>Highest score: {{c.score}}</h4></p>
                    {% endif %}
                </div>
            </a>
            </li>
            {% endfor %}
        </ul>
      </div>
{% endblock %}



