{% extends 'pagefetch/base.html' %}
{% block title %}
Game on!
{% endblock %}
{% block container %}

<style type="text/css">
div.step {
    position: relative;
    padding-top: 50px;
    z-index: 1;
}

a.button-index {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
}

div.step:after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: black;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

div.step1:after {
    content: "This is the page that you have to retrieve";
}

div.step2:after {
    content: "Enter your query here";
}

div.step3:after {
    content: "Top 10 search results";
}

div.step4:after {
    content: "Score";
}
</style>
<script src="{{ STATIC_URL }}javascript/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}javascript/bootstrap-popover.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/search_ajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/spin.js"></script>



<!-- <div id="defaultCountdown"></div> -->

<div class="span11">
    <div class="alert alert-block well {{cat.desc}}" id="header-div">
        <div id="avatar-div" style="color:black;">
            <h3>{{avatar}}</h3>
        </div>
    </div>
</div>

<div class="span5">
    <!--<div id="header-div" class="alert alert-block">-->
    <!--<table>-->
    <!--<tr>-->

    <!--<td>-->
    <!--<div id="icon-div" class="span2">-->
    <!--<image src="{{ STATIC_URL }}imgs/cow-paper2.jpg" class ="img-rounded" style="height: 100px ;width: 150px"> </image>-->
    <!--</div>-->
    <!--</td>-->
    <!--<td>-->
    <!--<div id="avatar-div">-->
    <!--<h3>{{avatar}}</h3>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <div id="search-div" class="alert alert-info step step2 {{cat.desc}}">
        <input id="query" name="query" class="input-xlarge search-query" type="text"
        placeholder=""/>
        <br/>
        <br/>
        <!-- style="background: #663300"  -->
        <div class="row">
            <div class="span0.5">
            </div>
            <div class="span2">
                <a class="btn btn-primary button-index" id="search-button"><i
                        class="icon-search icon-white align-center"></i> search</a>
            </div>
            <div class="span2">
                <a class="btn btn-danger button-index" id="skip-button"><i
                        class="icon-forward icon-white align-center"></i> skip</a>
            </div>
            <div class="span0.5">
            </div>
        </div>

    </div>
    <div id="content-div" class="alert alert-error {{cat.desc}}">
        <div id="score-div" class="well well-large step step4" style="margin-top:5px;margin-bottom:10px;padding:6px;">
        </div>
        <div id="search-results-div" class="well well-large step step3" sytle="margin-top:5px;">
            <ol id="search-results-ol" style="overflow: auto; padding-left: 25px;">
            </ol>
        </div>
    </div>
</div>
<div class="span6 ">
    <!--<div id="statistics-div" class="alert alert-block">
        <table>
             <div id="game_updates-div">
                <tr>
                    <td><h4> Category :</h4></td>
                    <td><h4 class="pull-right"> {{category}} </h4></td>
                </tr>
            </div> 
        </table>
    </div> -->
    <div id="image-div" class="alert alert-info align-center step step1 {{cat.desc}}">
        <div id="image-box">
            <img src="{{page}}" style="background-color:white;"  width="500" height="500" ></img>
        </div>
    </div>
</div>
{% endblock %}
