{% extends 'pagefetch/base.html' %}
{% block title %}
GAME OVER
{% endblock %}
{% block container %}
<style type="text/css">
    a.button-index {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">
    $(function () {
        var highestCol = Math.max($('#statistics-div').height(), $('#header-div').height());
        $('#statistics-div').height(highestCol);
        $('#header-div').height(highestCol);
        $('#sign-in-button').click(function (event) {
            event.stopPropagation();
            $('#login-dropdown').click();
            $('#li-login-dropdown').addClass("open");
        });
    });
</script>
<div class="span11">
    <div id="header-div" class="alert alert-block">
        <div id="icon-div">

        </div>
        <div id="avatar-div">
            <h3>Well done!</h3>
        </div>
    </div>
</div>
<!-- <div class="span5">
    <div id="statistics-div" class="alert alert-block">
        <table>
            {% if statistics %}
            {% for item in statistics %}
            <tr>
                <td><h4> round no :</h4></td>
                <td><h4> {{item.no_round}} </h4></td>
            </tr>
            <tr>
                <td><h4>remaining rounds :</h4></td>
                <td><h4> 0 </h4></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div> -->
<div id="game-results" class="span11">
    <div class="well">
        <p>

        <h1 class="text-error text-center"><strong> GAME OVER </strong></h1></p>
        <br/>
        {% if statistics %}
        {% for item in statistics %}
        <div class="alert alert-success">
            <p>

            <h3> You have Played in category : {{item.category}} <br/>
                You have <strong> scored : {{item.score}} points </strong> in this game. <br/>
                You have <strong> issued : {{item.no_queries}} queries </strong>, {{item.no_successful_queries}} were
                successful in retrieving the pages. <br/>
                You have <strong> played : {{item.no_round}} rounds </strong>, {{item.no_successful_round}} were
                completed successfully. <br/>
                <strong>Well done! </strong>
            </h3></p>
        </div>
        <div>
            {% if nac %}
    <div class="w-container badges">
            <h3>You unlocked new badges!</h3>
        <div id="badge-div">
            <ul id="badge-list" class="thumbnails centre text-center">
            {% for badge in nac%}
                <li class="list_item_badge">
                <div class="hs.badge">
                    <h5>{{badge.achievement.name}}</h5>
                    <img id="{{badge.achievement.name}}" src="/data/{{murl}}{{badge.achievement.badge_icon}}" alt="{{badge.achievement.name}}" style="height:170px;width=170px;opacity:0.2;">
                    <p>{{badge.achievement.}}</p>
                </div>
                </li>
                {% endfor %}
            </ul>
        </div>
            {% endif %}
        </div>
    </div>
        <!--<div class="alert alert-block">-->
            <!--<h3>-->
                <!--We would like to hear from you-->
                <!--<a href="https://www.surveymonkey.com/s/BRJBRY3">please click here to fill in a survey</a>-->
            <!--</h3>-->
        <!--</div>-->
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="span2">

            </div>
            <div class="span3">
                <a class="btn btn-success btn-large button-index" href="/pagefetch/pick_category/">Play again? »</a>
            </div>
            <div class="span3">
                <a class="btn btn-warning btn-large button-index" href="/leaderboard/">Check leaderboard? »</a>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="span2">

            </div>
            <div class="span3">
                <a class="btn btn-primary btn-large button-index" href="/accounts/register">Register »</a>
            </div>
            <div class="span3">
                <a id="sign-in-button" class="btn btn-info btn-large dropdown-toggle button-index"
                   data-toggle="dropdown">Sign in »</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
