body {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: none;
  background-color: white;
  opacity: 1;
  /*font-family: Arial, Helvetica, sans-serif; */
  color: #333;
  /*font-size: 12px; */
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  padding: 0px 15px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
    text-align: center;
    vertical-align: middle;
  /*margin: 10px 0px 10px 361px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;*/
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: none;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.highscores {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
  border: 0px solid black;
  border-radius: 0px;
  background-color: #ededed;
}
.hs {
  /*text-align: center;
  vertical-align: middle; */
  margin-right: 3px;
  padding-right: 1px;
  padding-left: 6px;
}
.hs.badge {
  /*margin-right: -20px;
  margin-left: 50px;
  padding-right: -10px; */
}
.badges {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0px solid black;
  border-radius: 0px;
  background-color: #ededed;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.prbar {
  margin-top: 4px;
  margin-bottom: 4px;
}
.details {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.score_overview {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 15px;
}
.profile_pic {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile {
  margin-top: -10px;
  position: static;
  clear: none;
  border: 0px solid black;
  border-radius: 0px;
  background-color: #ededed;
  background-image: none;
}
.edit_profile {
  margin: 3px 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.edit_profile_container {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.progress_bar {
    margin-right: 100px;
}
.list_item {
    /*margin-right: -40px;
    margin-left: -30px;
    padding-right: -30px;
    padding-left: 8px;
    padding-bottom: 1px; */
    /*margin-right: -30px; */
}
.list_item_badge {
    /* padding: 7px; */
    /* padding-left: 40px; */

}

#badge-list {
    list-style: none;
    display: inline-block;
}

#badge-div {
    text-align:center;
}

