.thumbnails > li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    /*float: none;*/
}

.thumbnails {
    margin: auto;
}

.well {
    background-color: #ededed;
    border: none;
}

#Games {

    background-color:#f88624;
}

#Universities {
    background-color:#96cc55;
}

#Actors {
    background-color:#edd65a;
}

#Films {
    background-color:#5bba91;
}

#SpaceObjects { 
    background-color:#3e75ad;
}

#BusinessPeople {
    background-color:#5c7fb8;
}

#MusicalArtists {
    background-color:#674c87;
}

#KidsTv {
    background-color:#be3b43;
}


.list_item {
    width:170px;
    margin-left:0px;
}

.thumbnails.prof > li {
    float:none;
}

.hero-unit.profile-form {
    width: 340px;
    margin: 0 auto;
}


.Games {

    background-color:#f88624;
}

.Universities {
    background-color:#96cc55;
}

.Actors {
    background-color:#edd65a;
}

.Films {
    background-color:#5bba91;
}

.SpaceObjects { 
    background-color:#3e75ad;
}

.BusinessPeople {
    background-color:#5c7fb8;
}

.MusicalArtists {
    background-color:#674c87;
}

.KidsTv {
    background-color:#be3b43;
}
