/* Main game content styling
*/
#timer-div
{
margin-top:0px;
margin-bottom:10%;
margin-left:0%;
margin-right:12%;
padding-left:0%;
float:right;
}

#game_view
{
margin-top:0%;
margin-left:2%;
margin-right:1%;
height:20%;
float:top;
z-index:2;
}

#result_view
{
margin-top:100px;
margin-bottom:0px
margin-left:auto;
margin-right:auto;
float:top;
height:60%;
}

#green-border-game
{
border-color:#32CD32;
/*width:98.2%;*/
text-align:center;
}

#blue-border-game
{
border-color:#4169E1;
min-height:700px;
/*max-width:1200px;*/
text-align:center;
}

#blue-border-post-game
{
border-color:#4169E1;
min-height:1200px;
text-align:center;
padding:0px;
}

#red-border-game
{
border-color:#FF0000;
width:100%;
min-height:650px;
max-height:1600px;
/*min-width:950px;*/
text-align:center;
}

#red-border-game-v2
{
border-color:#FF0000;
min-height:800px;
max-height:800px;
min-width:1200px;
text-align:center;
}

#red-border-post-game
{
border-color:#FF0000;
/*max-height:800px;
min-height:800px;*/
min-width:800px;
text-align:center;
padding:0px;
margin-bottom:0px;
}

#game-content
{
height:100%;
}

/*div#current_image
{
margin-top:1px;
}*/

div#gameover
{
margin-left:300px;
margin-right:300px;
}

/* CSS text overlay element based on 
Text Blocks Over Image article available at
http://css-tricks.com/text-blocks-over-image/
*/
h2#text_overlay
{
position: absolute;
border-width:5px;
font-size: x-large;
font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
top: 534px;
left: 54px;
color:#0000FF;
/*width: 100%;*/
}

#game_status
{
z-index:-1;
text-align:center;
vertical-align:top;
}

/* Query content formatting
*/
#query
{
width:300px;
margin-top:0%;
margin-left:0px;
padding-left:0px;
font-size:x-large;
z-index:100;
}

.query-left-div
{
float:left;
padding:0px;
}

.result-left-div
{
border: 1px solid black;
float:left;
padding:10px;
margin-top:0px;	
}

#arrow
{
width:20px;
display:none;
}

#img-spinner
{
margin-top:0px;
margin-left:50px;
}

#query_div
{
margin-left:20px;
max-width:300px;
}

#find
{
float:left;
z-index:100;
}

#continue
{
z-index:100;
}

#buttons
{
float:left;
width:200px;
margin-bottom:10px;
margin-top:0px;
}

#query_stuff
{
width:200px;
height:30px;
}

#current_query_label
{
width:200px;
height:105px;
max-height:105px;
}

#timer-label
{
color:black;
font-size:large;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
text-align:left;
float:left;
margin-right:80px;
}

.info-label
{
color:black;
font-size:large;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
/*float:left;*/
}

.score-label
{
color:black;
font-size:50px;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
}

.link-label
{
color:black;
font-size:x-large;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
}

.info-label-table
{
color:black;
font-size:18px;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
}

.info-label-query
{
color:black;
font-size:x-large;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
}

.info-label-num
{
color:black;
font-size:x-large;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;text-align:left;
float:right;
}

/* Result labelling styling
*/

label.result
{
font-size:large;
font-family:Times;
text-align:left;
margin-left:0px;
max-width:90px;
}

div.individual_result
{
margin-top:50px
background-color:#E0E0E0;
height:150px;
width:350px;
}

div#matching
{
background-color:#90EE90;
border-color:green;
}

div#non_matching
{
background-color:#FFB6C1;
border-color:red;
}

div#almost_matching
{
background-color:#ADD8E6;
border-color:blue;
}

/* Result positioning styling
*/
.results-left-div
{
float:left;
width:30%;
margin-left:15px;
margin-right:auto;
opacity: 0.7;
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/* Result positioning styling 
for version 2
*/
.results-left-div-v2
{
float:left;
width:30%;
margin-left:15px;
margin-right:auto;
}

.results-right-div
{
float:right;
width:30%;
margin-left:10px;
margin-right:10px;
}

.game-button
{
float:left;
width:90px;
height:25px;
font-size:small;
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.fetch-button
{
width:150px;
height:75px;
padding: 0px;
margin: 0;
border: 0;
text-indent: -1000em;
overflow: hidden;
background: transparent url(fetch.png) no-repeat center top;
font-size:small;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.throw-green-button
{
width:150px;
height:75px;
padding: 0px;
margin: 0;
border: 0;
text-indent: -1000em;
overflow: hidden;
background: transparent url(throw_green.png) no-repeat center top;
font-size:small;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.throw-red-button
{
width:150px;
height:75px;
padding: 0px;
margin: 0;
border: 0;
text-indent: -1000em;
overflow: hidden;
background: transparent url(throw_red.png) no-repeat center top;
font-size:small;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.defaultText { 
width: 300px; 
}

.defaultTextActive { 
color: #a1a1a1; 
font-style: italic; 
}

table.results{
	width:300px;
	border: 0px solid black;
}

table.results td{
	text-align:left;
	padding:10px;
}

table.results tr{
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.playagain-button
{
width:280px;
height:90px;
padding: 55px 0 0;
margin: 0;
border: 0;
text-indent: -1000em;
overflow: hidden;
background: transparent url(play_again.png) no-repeat center top;
font-size:small;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}
form>#playagain-button { /* For non-IE browsers*/
  height: 0px;
}

