.centre
{
    position: relative;
    text-align:center;
    display:block;
}

.inputs {
    border: 1px solid #999;
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 5px;
    color: #666;
    z-index: 2000;
}

.logo-align
{
    margin: 20px;
}

#registerlogin{
    position:relative;
    margin-left: 150px;
}
#contactlogin{
    margin-right: 150px;
    margin-top:-175px;
}

/* Rounded corners for borders.
From Jon Raasch Blog entry on CSS Rounded Corners
http://jonraasch.com/blog/css-rounded-corners-in-all-browsers */
.rounded-corners {
    position:relative;
    -moz-border-radius: 00px;
    -webkit-border-radius: 00px;
    -khtml-border-radius: 00px;
    border-radius: 00px;
    border-style:solid;
    border-width:10px;
}

#blue-border
{
    width:1000px;
    position:relative;
    border-color:#4169E1;
    outline: 10px solid #FF0000;

}


#green-border
{
    position:relative;
    width:980px;
    border-color:#32CD32;
}

.user-info
{
    font-size:large;
    font-family:Helvetica;
    margin-top:40px;
    margin-left:0px;
    margin-bottom:100px;
    margin-right:40px;
    float:right;
    padding-left:0px;
}

.username-big
{
    font-size: x-large;
    text-align:center;
    font-family:Helvetica;
}

.next-to-table
{
    float:right;
    margin-right:100px;
    margin-left:0px;
}

.header
{
    margin-top:0px;
}

.content
{
    margin-bottom:0px;
}

.left-div
{
    float:left;
}

.right-div
{
    float:right;
    margin-right:100px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:80px;
}

table
{
    margin: 20px;
    color:black;
    font-size:large;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    text-align:center;
}

#contact{
    font-size:12px;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
}

label#username
{
    font-size:x-large;
    font-family:sans-serif;
    margin-top:10px;
    margin-left:0px;
    margin-bottom:10px;
    margin-right:40px;
    float:right;
    padding-left:0px;
}

label#register
{
    font-size:x-large;
    font-family:sans-serif;
    margin-top:10px;
    padding-left:100px;
    margin-bottom:10px;
    margin-right:5px;
    float:right;
    padding-left:0px;
    color: blue;
}
#deals{
    text-align: center;
    margin-right: 125px;
}

#footer {
    position:relative;
    height:40px;			/* Height of the footer */
    border:solid;
    border-color:#32CD32;
    padding-bottom:35px;
    border-width: 10px;
    margin-top:50px;
}
#footText{
    position: relative;
    color:blue;
    font-size:x-large;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    margin: 15px;
}


#content {
    height:100%
}

#status-table
{
    width:320px;
}
.noborder{
    border: none
}
.playnowdiv{

}
.foot{
    border-style: none;
    margin-right:15px;
    margin-top:10px;
}


/* Leaderboards styling
*/
#leaderboard
{

    width:596px;
    height:369px;
}

#game_leaderboard
{
    position:relative;
    width:245px;
    height:369px;
}

.submit-button
{
    width:90px;
    height:25px;
    font-size:small;
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.playnow-button
{
    width:300px;
    height:90px;
    padding: 55px 0 0;
    margin: 0;
    border: 0;
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url(playnow.png) no-repeat center top;
    font-size:small;
    cursor: pointer; /* hand-shaped cursor */
}

#doggystyle{
    margin-top:-400px;
    margin-left:40px;
}


.speechbubble{
    margin-left:10px;
    margin-top:50px;
}
.speechbubbleabout{
    margin-left:10px;
    margin-top:100px;
}

.playnow-buttonsmall
{
    width:140px;
    height:45px;
    padding: 55px 0 0;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    border: 0;
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url(play_now_small.png) no-repeat center top;
    font-size:small;
    cursor: pointer; /* hand-.shaped cursor */
}

form>#playnow-button { /* For non-IE browsers*/
    height: 0px;
}

/* http://www.ampsoft.net/webdesign-l/image-button.html */
.playagain-button
{
    width:280px;
    height:90px;
    padding: 55px 0 0;
    margin: 0;
    border: 0;
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url(play_again.png) no-repeat center top;
    font-size:small;
    cursor: pointer; /* hand-shaped cursor */
}

img.instructionimg{
    margin-bottom: -5px;
}

#registration-form
{
    margin-left:10px;
}

#game-content
{
    width:75%;
}



p
{
    position: relative;
    colour:black;
    font-size:x-large;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    margin: 15px;
}

.footnote
{
    colour:black;
    font-size:x-small;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    margin: 15px;
}

.margin15{
    margin: 15px
}

.marginright{
    margin: 0 0 10px 50px;
    text-align:left;
    float:right;
}

label#basic
{
    color:black;
    font-size:xx-large;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    text-align:left;
    align:left;
}

img.floatLeft {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
}

form#register
{
    colour:black;
    font-size:x-large;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
}

table.leaderboard {
    border-width: thick;
    border-spacing: 2px;
    border-style: solid;
    border-color: red;
    border-collapse: collapse;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
table.leaderboard th {
    border-width: medium;
    padding: 5px;
    border-style: solid;
    border-color: green;
    background-color: white;
}
table.leaderboard td {
    border-width: medium;
    padding: 5px;
    border-style: solid;
    border-color: green;
    background-color: white;
}

table.feed {
    background-color: white;
}
table.feed td {
    border-width: medium;
    padding: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    overflow:hidden;
}

/* image overlay */

.image {
    position: relative;
    margin-bottom: 50px;
    width: 100%; /* for IE 6 */
}

h2 {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    font-size: x-large;
}

h2 span {
    color: white;
    position:relative;
    font: bold 12px/24px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

h2 span.spacer {
    padding:0 5px;
}

p.triangle-border {
    position:relative;
    margin-left: 20px;
    width:400px;
    border:5px solid #5a8f00;
    color:#333;
    font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
