{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> --> </p>
{% endblock %}

{% block exp_block %}

<div>
<div class="experimentPageTitle">
    <h2>Assessment Load</h2>    
    <p>Activity: Assessing and judging documents for relevance.</p>
      <p>Please rate the activity of <b>ASSESSMENT</b> according to each of the dimensions listed below.  </p>
</div>
<div>

<div class="survey">
    <div id='survey_form_errorloc' class='error_strings' style="color: #F00; text-align: center;"></div>
    <form id="survey_form" method="post" action="{{action}}">
<table class="survey_radio" cellpadding="20"> 
{% csrf_token %}
               {# Include the hidden fields #}
    {% for hidden in formset.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in formset.visible_fields %}
	<tr>
	<td id="nasa_load" class="matrix">
        {{ field.errors }}
        {% autoescape off %}   {{ field.label_tag }} {% endautoescape %}

	    {{ field }}
	</td>
        </tr>
	
    {% endfor %}
    </table>
    <script type="text/javascript">
        var frmvalidator = new Validator("survey_form");
        {% for field in formset.visible_fields %}
        frmvalidator.addValidation("{{field.html_name}}", "selectradio", "{{ field.label }}");
        {% endfor %}
    frmvalidator.EnableOnPageErrorDisplaySingleBox();
    frmvalidator.EnableFocusOnError(true);

    </script>
    
    
    <div class="surveySubmitButton">
 <input class="largebutton" type="submit" name="submit" value="Submit" />
</div>
    </form>


</div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}}
{% endblock %}