



 {% if user.is_authenticated %}
         <li class="nav-header">Welcome {{user.username}}</li>
    <li><a href="/asg/pick/">Play</a></li>

 <li><a href="/asg/players/{{user.username}}/">View Profile</a></li>

    <li><a href="/accounts/logout/">Leave</a></li>

 {% endif %}


 <li class="nav-header">Gameplay</li>
  <li><a href="/asg/">How To Play</a></li>
 <li><a href="/asg/leaderboard">Leaderboard</a></li>


{% if not user.is_authenticated %}

 <li><a href="/accounts/register/">Sign Up</a></li>
  <li><a href="/accounts/login/">Login</a></li>
 {% endif %}



