{% load static %}

<html>

	<head>
		<script type="text/javascript" src="{% static 'testapp/jquery-1.11.1.min.js' %}"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#the_button').click(function() {
					//alert('The AJAX button was clicked!');
					
					$.ajax({
						url: '/ajax_time/',
						statusCode: {
							200: function(response) {
								alert(response['current_time']);
								$('#ajax_time').html(response['current_time']);
							}
						}
					})
					
				});
			});
		</script>
		
		<title>AJAX Page test</title>
	</head>

</html>

<h1>AJAX Example Homepage</h1>

Here is the date and time as it was when Django rendered this page: <strong>{{ rendered_date_time }}</strong>

<hr />

Now what about AJAX? Click <input id="the_button" type="button" value="me" /> to get the latest time from the server.<br />
Time from server: <strong id="ajax_time">Button not clicked yet!</strong>
