{% extends 'pagefetch/base.html' %}

{% block container %}
    {% if form.errors %}
        <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    {% endif %}

    <div class="hero-unit profile-form">
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

            <p>This information is only used for research, other users don't see it.</p>
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Save" />
        </form>
    </div>
{% endblock %}
