{% extends 'pagefetch/base.html' %}
{% block container%}

<style>
.chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}
</style>
<script src="http://d3js.org/d3.v3.min.js"></script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div id="main" class="well span6">
                    <h5>Queries/game</h5>
                    <script>
                  var data = [4, 8, 15, 16, 23, 42];
                  var chart = d3.select("#main")
                    .append("div")
                    .attr("class","chart");


                    chart.selectAll("div")
                        .data(data)
                        .enter().append("div")
                        .transition()
                            .duration(1500)

                        .style("width", function(d) {return d * 5 + "px"; })
                        .text(function(d) {return d;});

                    </script>


				</div>
				<div id="g2" class="well span6">
                    <style>
                        path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

                    </style>
                    <script>
                    var data = [3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 7],
                    w = 400,
                    h = 200,
                    margin = 20,
                    y = d3.scale.linear().domain([0, d3.max(data)]).range([0 + margin, h - margin]),
                    x = d3.scale.linear().domain([0, data.length]).range([0 + margin, w - margin])

                    var vis = d3.select("#g2")
                    .append("svg:svg")
                    .attr("width", w)
                    .attr("height", h)

                    var g = vis.append("svg:g")
                    .attr("transform", "translate(0, 200)");


                    var line = d3.svg.line()
                        .x(function(d,i) { return x(i); })
                        .y(function(d) { return -1 * y(d); })

                    g.append("svg:path").attr("d", line(data));

                    g.append("svg:line")

    .attr("x1", x(0))
    .attr("y1", -1 * y(0))
    .attr("x2", x(w))
    .attr("y2", -1 * y(0))

g.append("svg:line")
    .attr("x1", x(0))
    .attr("y1", -1 * y(0))
    .attr("x2", x(0))
    .attr("y2", -1 * y(d3.max(data)))


g.selectAll(".xLabel")
    .data(x.ticks(5))
    .enter().append("svg:text")
    .attr("class", "xLabel")
    .text(String)
    .attr("x", function(d) { return x(d) })
    .attr("y", 0)
    .attr("text-anchor", "middle")

g.selectAll(".yLabel")
    .data(y.ticks(4))
    .enter().append("svg:text")
    .attr("class", "yLabel")
    .text(String)
    .attr("x", 0)
    .attr("y", function(d) { return -1 * y(d) })
    .attr("text-anchor", "right")
    .attr("dy", 4)



g.selectAll(".xTicks")
    .data(x.ticks(5))
    .enter().append("svg:line")
    .attr("class", "xTicks")
    .attr("x1", function(d) { return x(d); })
    .attr("y1", -1 * y(0))
    .attr("x2", function(d) { return x(d); })
    .attr("y2", -1 * y(-0.3))

g.selectAll(".yTicks")
    .data(y.ticks(4))
    .enter().append("svg:line")
    .attr("class", "yTicks")
    .attr("y1", function(d) { return -1 * y(d); })
    .attr("x1", x(-0.3))
    .attr("y2", function(d) { return -1 * y(d); })
    .attr("x2", x(0))





                    </script>
				</div>
			</div>
			<div class="row-fluid">
				<div class="well span6">


				</div>
				<div class="well span6">


				</div>
			</div>
			<div class="row-fluid">
				<div class="well span6">


				</div>
				<div class="well span6">


				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}