{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p>  <a href="{{current_search}}">Back to Results</a> | 
      <a href="/treconomics/saved/">View Saved</a> |
      <a href="/treconomics/showtask/" target="_blank">Show Task</a> |
      <a href="/treconomics/next/"> End Task</a> </p>
{% endblock %}


{% block document_content %}
<h1>Assessed Document</h1>

<p>
Here is the list of the documents that you have assessed as relevant for this topic:
</p>
<p>
<table>
    <tr> <td> <b>News Article Title</b></td><td> <b>Current Assessment</b></td> <td><b>Change Assessment</b> </td></tr>
{% for doc in docs  %}
<tr>
<td> <a href="{{doc.url}}">{{ doc.title}}</a> </td>
<td>
    
    {% if doc.judgement  == 0 %}
           Marked as NOT Relevant. 
    {%  else %}
    Marked as Relevant.
         
    {% endif %}
</td><td>
    {% if doc.judgement  == 1 %}
    <a id="link12" class="next_links" href="#" row="row13" nextlink="link13"></a>
        <a href="/treconomics/saved/?doc={{doc.docid}}&judge=0"><button class="largebutton" type="next" > Change to NOT Relevant </button> </a>
    {% else %}
        <a href="/treconomics/saved/?doc={{doc.docid}}&judge=1"><button class="largebutton" type="next" > Change to Relevant </button></a>
    {%  endif %}
</td>    

</tr>
{% endfor %}
</table>
</p>
{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
