{% extends 'base/base.html' %}

{% block exp_info_block %}

 <p>  <a href="{{current_search}}">Back to Results</a> | 
      <a href="/treconomics/saved/">View Saved</a> |
      <a href="JavaScript:taskPopup('/treconomics/showtask/');">Show Task</a> |

      <a href="/treconomics/next/"> End Task</a> </p>
{% endblock %}


{% block document_content %}
<h1>Assessed Document(s)</h1>

{% if not docs %}
<p>
You currently have no document(s) marked for this particular topic.
</p>
{% else %}
<p>
Here is the list of the documents that you have assessed for this topic.<br />
You can change your assessment of a given document by clicking the button to the right of the document title.
</p>
<p>
<table style="width: 100%;">
    <tr> <td> <b>News Article Title</b></td><td style="text-align: center;"> <b>Current Assessment</b></td> <td style="text-align: center;"><b>Change Assessment</b> </td></tr>
{% for doc in docs  %}
<tr style="height: 50px; background-color: #{% if doc.judgement  == 0 %}FFCCCC{% else %}CCFFCC{% endif %};">
<td style="padding-left: 10px;"> <a href="{{doc.url}}?backtoassessment=true">{{ doc.title}}</a> </td>
<td style="text-align: center;">
    
    {% if doc.judgement  == 0 %}
           <strong style="color: red;">NOT</strong> Relevant
    {%  else %}
    Relevant
         
    {% endif %}
</td><td style="text-align: center;">
    {% if doc.judgement  == 1 %}
    <a id="link12" class="next_links" href="#" row="row13" nextlink="link13"></a>
        <a href="/treconomics/saved/?docid={{doc.docid}}&judge=0"><button class="largebutton" type="next" > Change to NOT Relevant </button> </a>
    {% else %}
        <a href="/treconomics/saved/?docid={{doc.docid}}&judge=1"><button class="largebutton" type="next" > Change to Relevant </button></a>
    {%  endif %}
</td>    

</tr>
{% endfor %}
</table>
</p>
{% endif %}
{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
