{% extends 'base/base.html' %}

{% load static %}

{% block exp_info_block %}

    {% if ajax_enabled %}<script type="text/javascript" src="{% static 'javascripts/ajax_search.js' %}"></script>{% endif %}
    {% if autocomplete %}<script type="text/javascript" src="{% static 'javascripts/autocomplete.js' %}"></script>{% endif %}
    <script type="text/javascript" src="{% static 'javascripts/search_helpers.js' %}"></script>
    <script type="text/javascript">
    var APP_ROOT = '{{ application_root }}';
    var AJAX_SEARCH_URL = '{{ ajax_search_url }}';
    </script>
    <input type="hidden" id="interface_type" value="{{ interface }}" />
    <input type="hidden" id="delay_results" value="{{ delay_results }}" />
    <input type="hidden" id="delay_docview" value="{{ delay_docview }}" />
    <input type="hidden" id="is_fast" value="{{ is_fast }}" />

     <p>
         <a href="/treconomics/saved/">View Saved</a> |
         <a href="JavaScript:taskPopup('/treconomics/showtask/');">Show Task</a> |
         <a href="/treconomics/next/" id="end-task-link"> End Task</a>
     </p>
{% endblock %}

{% block wait-box %}
<div id="full-grey-out">
    <div id="wait-box">
        <p>
            <span id="full-grey-out-message">Retrieving your results...</span><br />
            <img src="{% static 'images/wait.gif' %}" alt="Wait wait wait..." />
        </p>
    </div>
</div>
{% endblock %}

{% block query_box %}
	<div class="entry" id="search_box_area">
		<form id="search_form" action="/treconomics/search/" method="post">
	        {% csrf_token %} 								
	        <!-- cross-site request forgery protection -->
	        {% if interface == 1%}
	        <script>
	        $(document).ready(function()
            {
	              $('input[type="text"]').keydown(function(e){
                       var ingnore_key_codes = [9,32]; // 9 is tab, 32 is space
                       if ($.inArray(e.keyCode, ingnore_key_codes) >= 0){
                          e.preventDefault();
                       }
                    });
            });
	        </script>
	        
	        
<table>	
<tr>
<td class="searchlabel">All these query terms</td>
<td><input class="smallsearchbox restricted" type="text" name="queryAND" value="" id="query" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryAND1" value="" id="query1" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryAND2" value="" id="query2" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryAND3" value="" id="query3" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryAND4" value="" id="query4" size="20" /></td>
<!--<td class="hidden"><input class="smallsearchbox restricted"  type="text" name="queryAND5" value="" id="queryAND5" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted"  type="text" name="queryAND6" value="" id="queryAND6" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted"  type="text" name="queryAND7" value="" id="queryAND7" size="20" /></td>
-->
<td></td>
</tr>

<tr>
<td class="searchlabel">Any of these query terms</td>
<td><input class="smallsearchbox restricted" type="text" name="queryANY" value="" id="queryANY" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryANY1" value="" id="queryANY1" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryANY2" value="" id="queryANY2" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryANY3" value="" id="queryANY3" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryANY4" value="" id="queryANY4" size="20" /></td>
<!--<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryANY5" value="" id="queryANY5" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryANY6" value="" id="queryANY6" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryANY7" value="" id="queryANY7" size="20" /></td>
-->
<td></td>
</tr>

<tr>
<td class="searchlabel">None of these query terms</td>
<td><input class="smallsearchbox restricted" type="text" name="queryNOT" value="" id="queryNOT" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryNOT1" value="" id="queryNOT1" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryNOT2" value="" id="queryNOT2" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryNOT3" value="" id="queryNOT3" size="20" /></td>
<td><input class="smallsearchbox restricted" type="text" name="queryNOT4" value="" id="queryNOT4" size="20" /></td>
<!--<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryNOT5" value="" id="queryNOT5" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryNOT6" value="" id="queryNOT6" size="20" /></td>
<td class="hidden"><input class="smallsearchbox restricted" type="text" name="queryNOT7" value="" id="queryNOT7" size="20" /></td>
-->
<td> <!--<input type="submit" value="+" class="addButton" />-->
<input type="submit" value="Search" class="button" /></td>

</tr>
</table>




	        {% else %}
	            <table>	
		        <tr><td class="searchlabel">Enter your query here</td>

		        {% if query %}
	                <td><input class="searchbox" type="text" name="query" value="{{ query }}" id="query" size="50" /></td>
		        {% else %}
		            <td><input class="searchbox" type="text" name="query" value="" id="query" size="50" /></td>
                {% endif %}
		        <td> <input class="button" type="submit" name="submit" value="Search" id="search-button" /> </td></tr>
	            </table>
	        {% endif %}	
        </form>

		{% if query_suggest_search %}
		<div id="query_results">
		<div class="entry" id="query_suggestion_area">
			{% for result in query_suggest_results %}
			<a href="{{ result.link }}">{{ result.title }}</a>&nbsp;&nbsp; - &nbsp;&nbsp;
			{% endfor %}
		</div>
		</div>
        {% endif %}


</div>

{% endblock %}



{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}