{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 340px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
  {% comment %}
  {% if form.errors %}
  <p class="errors text-error">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}
  {% endcomment %}

  <div class="container">
      <form method="post" action="" class="form-signin">
        <h1 class="form-signin-heading">Create an account</h1>
        {% csrf_token %}
          <label for="id_username" >Username:</label>
          {% if form.username.errors %}
            <p class="errors text-error">{{ form.username.errors.as_text }}</p>
          {% endif %}
          {{ form.username }}
          <br />
          <label for="id_email">Email address:</label>
          {% if form.email.errors %}
            <p class="errors text-error">{{ form.email.errors.as_text }}</p>
          {% endif %}
          {{ form.email }}
          <br />
        <p>
          <label for="id_password1">Password:</label>
          {% if form.password1.errors %}
            <p class="errors text-error">{{ form.password1.errors.as_text }}</p>
          {% endif %}
          {{ form.password1 }}
        </p>
        <p>
          <label for="id_password2">Password (type again to catch typos):</label>
          {% if form.password2.errors %}
            <p class="errors text-error">{{ form.password2.errors.as_text }}</p>
          {% endif %}
          {{ form.password2 }}
        </p>
        <p class="submit"><input type="submit" class="btn btn-primary btn-large" value="Register &rarr;"></p>
      </form>
  </div>
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
