{% extends 'rmiyc/base.html' %}
{% block title %}
        About us
{% endblock %}
{% block container %}
<div class="well span11 text-left">
    <h3>Retrieve me if you can!</h3>
    <p class="lead">
    Retrieve me if you can is a game developed as a part of a research project in the department of computing science in the University of Glasgow. <br />
    The project considers using human computation game  to collect data to evaluate the hypothesis of the correlation between findability,
    which is how good the users are in retrieving information through searching, and retrievability which is how good the information retrieval system in accessing information. <br>
    <br />
    </p>
</div>
<div class="well well-info span11">
    <p class="lead">
     If you have any questions or complaints please contact us at the following <br />
    </p>
</div>
<div class="span5 pull-left well">
    <p class="lead">
    Dr. Leif Azzopardi <br />
    BInfoSci (Hons I), PhD CompSci, PgCAP <br />
    Glasgow Information Retrieval group<br />
    18 Lilybank Gardens Glasgow, G12 8QQ Scotland<br />
    Web: http://www.dcs.gla.ac.uk/~leif<br />
    Email: leif.azzopardi@glasgow.ac.uk<br />
    </p>
</div>
<di class="span5 well">
    <p class="lead">
    Abdullah Razzouk <br />
    Email:2049292r@student.gla.ac.uk <br />
    <br />
    <br />
    <br />
    <br />
    </p>
</di>
{% endblock %}