{% extends 'rmiyc/base.html' %}

{% block title %}
        Pick a category!
{% endblock %}

{% block container %}
<div class="well">
    <h2>{{avatar}}</h2>
    <!--When you pick a category, all the pages that you are going to be shown will belong to this category.-->
</div>
<div class="well">
        <ul class="thumbnails centre text-center">
            {% for c in cats %}
            <li class="thumbnail span3.5">
            <a href="/rmiyc/play/{{c.url}}">
                <div>
                    <h3>{{c.name}}</h3>
                    <img src="{{c.icon}}" class ="img-rounded" alt="{{c.name}}" height="200" width="300">
                    <br />
                    {% if user.is_authenticated %}
                        <p> <h4>Highest score: {{c.score}}</h4></p>
                    {% endif %}
                </div>
            </a>
            </li>
            {% endfor %}
        </ul>
      </div>
{% endblock %}



