{% extends 'rmiyc/base.html' %}

{% block container %}
<div class="hero-unit">
        <p>
            Please pick a category for your game !
        </p>
        <ul class="thumbnails text-center">
         {% if scores %}
            {% for item in scores %}
            <li class="span3">
            <a href="/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/undergraduate.jpg" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.undergraduate}}</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Postgraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/postgraduate.jpg" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.postgraduate}}</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Research</h3>
                        <img src="{{ STATIC_URL }}imgs/research.jpg" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.research}}</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Alumni</h3>
                        <img src="{{ STATIC_URL }}imgs/alumni.png" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.alumni}}</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://twitter.github.io/bootstrap/components.html#" class="thumbnail">
                <div class="thumbnail">
                    <h3>Student life</h3>
                        <img src="{{ STATIC_URL }}imgs/student_life.jpg" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.student_life}}</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://twitter.github.io/bootstrap/components.html#" class="thumbnail">
                <div class="thumbnail">
                    <h3>About Glasgow uni</h3>
                        <img src="{{ STATIC_URL }}imgs/about_glasgow.jpg" alt="Australia's flag" height="200" width="300">
                    <br />
                    <p>Score: {{item.about_glasgow}}</p>
                </div>
                </a>
            </li>
            {% endfor %}
         {% endif %}
        </ul>
      </div>
{% endblock %}