{% extends 'rmiyc/base.html' %}

{% block container %}
<div class="hero-unit">
        <ul class="thumbnails text-center">
            <li class="span3">
            <a href="http://127.0.0.1:8000/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 1.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://127.0.0.1:8000/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 2.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://127.0.0.1:8000/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 3.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://127.0.0.1:8000/rmiyc/play/engineering" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 4.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://twitter.github.io/bootstrap/components.html#" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 5.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
             <li class="span3">
            <a href="http://twitter.github.io/bootstrap/components.html#" class="thumbnail">
                <div class="thumbnail">
                    <h3>Undergraduate</h3>
                        <img src="{{ STATIC_URL }}imgs/Hollowbody 6.gif" alt="Australia's flag" height="200" width="300">
                    <p>Thumbnail caption...</p>
                </div>
                </a>
            </li>
        </ul>
      </div>
{% endblock %}