{% extends 'rmiyc/base.html' %}
{% block title %}
        Game is on!
{% endblock %}
{% block container %}

     <script type="text/javascript" src="{{ STATIC_URL }}javascript/search_ajax.js"></script>
     <div class="span6">
        <div class="well">
            <div id="icon-div">

            </div>
            <div id="avatar-div">

            </div>
        <!--<image src="{{ STATIC_URL }}imgs/rmiyc1.jpg" width="500" height="200"> </image> -->
        </div>
        <div id="image-div" class="well">
            <div id="image-box">
                {% if overall_results %}
                {% for item in overall_results %}
                    <image src='{{item.page}}' class ="img-rounded" width="1000" height="1000"> </image>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="well well-small text-info">
            <h4>
                <div id="game_updates" >
                    <strong> round no : 1 <br />
                    remaining rounds : 3 </strong>
                </div>
                <div id="num-queries">
                     <strong>queries issued for this page : 0 </strong>
                </div>
            </h4>
        </div>
        <div id ="search-div" class="alert alert-info">
            <h4>Enter your query here ! </h4>
            <br />
            <input  id="query"  name="query" class="input-xlarge search-query" type="text" placeholder="e.g: aerospace systems" />
            <br />
            <br />
            <!-- style="background: #663300"  -->
            <a class="btn btn-primary" id="search" ><i class="icon-search icon-white"></i> search</a>  &nbsp
            <a class="btn btn-error" type="button" id="skip"><i class="icon-forward icon-white"></i> skip</a>
        </div>
        <div id="content"  class="alert alert-success">
            <div id ="score-div">
                <h4>Score:   your score will be displayed here <br />
                    Bonus:   tour bonus will be displayed here
                </h4>
            </div>
            <div id="search-results-div">
                <ol id="search-results-ol">
                </ol>
            </div>
        </div>
    </div>
{% endblock %}