{% extends 'rmiyc/base.html' %}
{% block container %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/search_ajax.js"></script>
     <div class="span6">
        <image src="{{ STATIC_URL }}imgs/rmiyc.jpg" width="400" height="200"> </image>
        <br />
        <div id="image-div" >
            <div id="image-box">
                {% if overall_results %}
                {% for item in overall_results %}
                    <image src='{{item.page}}' width="1000" height="1000"> </image>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span4">
        <br />
        <br />
        <br />
        <div style="border:3px dotted #663300; padding:10px 10px 10px 10px;  background:#FFFFFF; width:250px; border-radius:25px;">
            {% if user.is_authenticated %}
                <strong>Hello {{ user.username }} ! <br />
                score : 67788088 </strong>
            {% else %}
                <strong>Hello player ! <br />
                score : 67788088 </strong>
            {% endif %}
        </div>
        <br />
        <div style="border:3px dotted #663300; padding:10px 10px 10px 10px;  background:#FFFFFF; width:250px; border-radius:25px;">
        <div id="game_updates">
            <strong> round no : 1 <br />
            remaining rounds : 3 </strong>
        </div>
        <div id="num-queries">
             <strong>queries issued for this page : 0 </strong>
        </div>
        </div>
        <br />
        <div id ="search-div">
            <input  id="query"  name="query" class="input-xlarge search-query" type="text" placeholder="Enter your query here" />
            <br />
            <br />
            <a class="btn btn-primary btn-large" id="search" ><i class="icon-search icon-white"></i> search</a>  &nbsp &nbsp
            <a class="btn btn-large" type="button" id="skip"><i class="icon-forward"></i> skip</a>
        </div>
        <div id="content">
            <div id ="score-div">
            </div>
            <div id="search-results-div">
                <ol id="search-results-ol">
                </ol>
            </div>
        </div>
    </div>
{% endblock %}