{% extends 'rmiyc/base.html' %}
{% block title %}
        Game is over!
{% endblock %}
{% block container %}
    <script type="text/javascript">
    $(function()
    {
        $('#sign-in-button').click(function(event)
        {
            alert ('hello');
            $('#login-dropdown').dropdown();
        });
    });
    </script>
    <div id="game-results">
        <div class="hero-unit">
            <p class="text-error"><h1> Game is over </h1></p>
            {% if statistics %}
                {% for item in statistics %}
                <div class="alert alert-success">
                    <p> You have <strong> scored : {{item.score}} points </strong> in this game. <br />
                    You have <strong> issued : {{item.no_queries}} queries </strong>, {{item.no_successful_queries}} were successful in retrieving the pages. <br />
                    You have <strong> played : {{item.no_round}} rounds </strong>, {{item.no_successful_round}} were completed successfully. <br />
                    <strong>Well done! </strong>
                    </p>
                </div>
                {% endfor %}
            {% endif %}
            <p><a class="btn btn-success btn-large" href="/rmiyc/pick_category/">Play again? »</a>
            <a class="btn btn-warning btn-large" href="/leaderboard/">Check leaderboard? »</a></p>
            {% if not user.is_authenticated  %}
                <a class="btn btn-primary btn-large" href="/account/register">Register »</a>
                <a id="sign-in-button" class="btn btn-primary btn-large">Sign in »</a>
            {% endif %}
        </div>
    </div>
{% endblock %}