{% extends 'rmiyc/base.html' %}
{% block title %}
        Game is on!
{% endblock %}
{% block container %}
 <script type="text/javascript" src="{{ STATIC_URL }}javascript/search_ajax.js"></script>
 <!-- <script type="text/javascript" src="{{ STATIC_URL }}javascript/flyoffpage.min.js"></script> -->
 <div class="span6">
    <div id="header-div" class="alert alert-block">
        <div id="icon-div">

        </div>
        <div id="avatar-div">
            <h3>{{avatar}}</h3>
        </div>
    </div>
    <div id="image-div" class="well align-center">
        <h4 class="text-info">Find This page Mother Fucker! </h4>
        <div id="image-box">
            <image src="{{page}}" class ="img-rounded" width="1000" height="1000"> </image>
        </div>
    </div>
</div>
<div class="span5">
    <div id="statistics-div" class="alert alert-block">
        <table>
                <div id="game_updates-div" >

                </div>
                <div id="num-queries-div">

                </div>
        </table>
    </div>
    <div id ="search-div" class="alert alert-info">
        <br />
        <h4>Enter your query here ! </h4>
        <br />
        <input  id="query"  name="query" class="input-xlarge search-query" type="text" placeholder="e.g: aerospace systems" />
        <br />
        <br />
        <!-- style="background: #663300"  -->
        <a class="btn btn-primary" id="search-button" ><i class="icon-search icon-white align-center"></i> search</a>  &nbsp
        <a class="btn btn-danger"  id="skip-button"><i class="icon-forward icon-white align-center"></i> skip</a>
    </div>
    <div id="content-div"  class="alert alert-success">
        <div id ="score-div">
            <h4>Query scored:   your score will be displayed here <br />
                Bonus:   tour bonus will be displayed here
            </h4>
        </div>
        <br />
        <h4>Top 3 search results:</h4>
        <br />
        <div id="search-results-div">
            <ol id="search-results-ol" class="well well-large" style="overflow: auto;">
            </ol>
        </div>
    </div>
</div>
{% endblock %}