{% extends 'rmiyc/base.html' %}
{% block container %}
   <div class="hero-unit">
        <h2>Retrieve me if you can</h2>
        <p>"Retrieve me if you can" is a fun game where you will be shown a web page and you have to type in a query to retrieve it. <br />
            The higher rank in the search results you retrieve it, the more rewards you get!
            <br />
            <a class="btn btn-warning btn-large" href="/rmiyc/how_to_play/">how to play? »</a></p>

        {% if user.is_authenticated %}
            <p><a class="btn btn-success btn-large" href="/rmiyc/pick_category/">Play »</a></p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
            <p><a class="btn btn-primary btn-large" href="/accounts/login/">login »</a></p>
        {% endif %}
     </div>
{% endblock %}