{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> --> </p>
{% endblock %}

{% block exp_block %}

<div>
<div class="experimentPageTitle">
<h2>Search Interface Survey</h2> 
<p>Please rate the different components of the search system:</p>
</div>   
<div>

<div class="survey">   
    
    <form method="post" action="{{action}}">
        {% csrf_token %}
    <table class="survey_radio" cellpadding="10">
         {# Include the hidden fields #}
    {% for hidden in formset.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in formset.visible_fields %}
	<tr>
	<td id="search_experience" class="matrix">
            {{ field.errors }}
            {{ field.label_tag }}
 	    {{ field }}
	</td>
        </tr>
	
    {% endfor %}

       </table>
        <div class="surveySubmitButton">
 <input class="largebutton" type="submit" name="submit" value="Submit" />
</div>
    </form>
</div>

{% endblock %}

{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}}
{% endblock %}