{% extends "base/base.html" %}

{% block title %}Log in{% endblock %}

{% block navbar %}
{% include "base/navbar.html" %}
{% endblock %}


{% block content %}
    <div class="hero-unit">
<h1>Log in</h1>
<br/>
{% if form.errors %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Please correct the errors below: {{ form.non_field_errors }}
    </div>
{% endif %}


 <form method="post" action="?next={{ next|default:'/asg/' }}" class="form-horizontal">
        {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_username" >Username</label>
                <div class="controls">
                    <small>{{form.username.errors}}</small>
                    <input type="text" id="id_username" name="username" placeholder="">
                </div>
           </div>

            <div class="control-group">
                <label class="control-label" for="id_password" >Password</label>
                <div class="controls">
                    <small>{{form.password.errors}}</small>
                    <input type="password" id="id_password" name="password" placeholder="Password">
                </div>
           </div>


<div class="control-group">
    <div class="controls">
    <button type="submit" class="btn btn-primary btn-large" value="Login &rarr;">Login &rarr;</button>
   </div>
</div>
      </form>

{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
{% endblock %}
        </div>