{% extends "pagefetch/base_with_foot.html" %}
<head>
    <title> Pagefetch - About </title>
</head>
{% block content %}

<div  class="speechbubble" width="250" align="left">

    <div align="right" >
        <a href="http://www.gla.ac.uk/"><img src="{{MEDIA_URL}}pagefetch/Logos/glasgow_logo.jpg" width="342" height="143"/></a>
        <a href="http://www.puppyir.eu/"><img src="{{MEDIA_URL}}pagefetch/Logos/puppyir-logo.png" width="178" height="110" /></a>

    </div>
    <div align="left">
        <p class="triangle-border" style="margin-top: -150px;">
            Pagefetch was developed for PuppyIR, a UN funded research project. <br />
            It was developed by Jim Boswell Purvis BSc (Hons) at the University of Glasgow. <br />
        </p>
        <img id="doggystyle" src="{{MEDIA_URL}}pagefetch/Logos/doggy.png" align="left" style="margin-top: 50px;"/>
    </div>
</div>
<br>
<div width="250" class="playnowdiv" align="center" style="margin-top: 150px;">

    {% if user.is_authenticated %}
    <a href="/pagefetch/categories/"> <img  class="noborder" src="{{MEDIA_URL}}pagefetch/Style/playnow.png" width="280" height="90"  /> </a>
    {% else %}
    <a href="/pagefetch/login/"> <img  class="noborder" src="{{MEDIA_URL}}pagefetch/Style/playnow.png" width="280" height="90"  /> </a>
    {% endif %}
</div>



{% endblock %}