<html>
<head>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}pagefetch/style/style.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}pagefetch/style/triangles.css" />
    <title>PageFetch</title>

    {% endblock css %}
    {% block scripts %}
    {% endblock %}
</head>
<body style="margin-right:10%; margin-left: 10%;">

<div class="rounded-corners" id="blue-border">

    <div class="rounded-corners" id="green-border">
        <a href="/pagefetch/home"><img src="{{MEDIA_URL}}pagefetch/Logos/logo_colour.png" alt="PageFetch" class="noborder"></a>
        <!-- If user is already logged in -->
        {% if user.is_authenticated %}
        <label id="username"> Hello <a href="/pagefetch/user/"><strong>{{user.username}}</strong></a>!
            </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/pagefetch/logout/"> Log out </a></label>
        {% else %}
        <!-- CODE FOR LOGIN/REGISTER -->
        <label id="register"> <a href="/pagefetch/login/"> Login/Register </a></label>
        {% endif %}
    </div>
    {% block content %}


    <!--{% block disclaimer %}
 <div class="footnote"> This game has been created as part of a BSci research project
 investigating the behaviour of children using search engines.  If you have
 any questions regarding the study, the game itself, or would like to
 obtain the findings of the experiment upon completion, please
 contact the creator at
 <a href="mailto:0801303p@student.gla.ac.uk">0801303p@student.gla.ac.uk</a> or
 the project supervisor at
 <a href="mailto:Leif.Azzopardi@glasgow.ac.uk">Leif.Azzopardi@glasgow.ac.uk</a>
 </div>
 {% endblock disclaimer %}-->
    <!-- Footer containing social media widgets -->




    {% endblock content %}
    {% block foot %}
    {% endblock foot %}
</div>

</body>
</html>