{% extends "pagefetch/base.html" %}


<head>
    <title>PageFetch</title>
    {% block scripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/home.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/twitter.js" ></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/facebook.js" ></script>
    {% endblock %}
</head>


    {% block content %}
    {% endblock content %}

    <!--{% block disclaimer %}
 <div class="footnote"> This game has been created as part of a BSci research project
 investigating the behaviour of children using search engines.  If you have
 any questions regarding the study, the game itself, or would like to
 obtain the findings of the experiment upon completion, please
 contact the creator at
 <a href="mailto:0801303p@student.gla.ac.uk">0801303p@student.gla.ac.uk</a> or
 the project supervisor at
 <a href="mailto:Leif.Azzopardi@glasgow.ac.uk">Leif.Azzopardi@glasgow.ac.uk</a>
 </div>
 {% endblock disclaimer %}-->
    <!-- Footer containing social media widgets -->

        {% block foot %}
        <br>
<div id="footer" align="center">
    <a href="/pagefetch/about/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/about.png" width="64" height="27"/></a>
    <a href="/pagefetch/contact/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/contact.png" width="84" height="27"/></a>
    <a href="/pagefetch/leaderboard/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/leaderboard.png" width="127" height="27"/></a><br>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.pagefetch.org" data-text="I have just played an awesome game called Pagefetch!" data-size="large"> </a>
    <div class="fb-like" data-href="http://www.pagefetch.org" data-send="true" data-width="390" data-show-faces="false" data-font="lucida grande"/>
</div>


{% endblock foot %}

