{% extends "pagefetch/base.html" %}
{% block scripts %}
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/home.js"></script>
{% endblock %}

{% block content %}
<div class="child-content">

<form id="category_form" autocomplete="off" action="/pagefetch/play/" method="POST">
    <div align="center">
        <table>
                {% for key, value in category_scores %}
                {% cycle '<tr>' '' '' ''  %}
                <td>
                    <div class="image">
                        <a href="/pagefetch/play/{{key}}/"><img src="{{MEDIA_URL}}pagefetch/Category_Images/{{key}}.jpg" width="200" height="200" alt="{{key}}" border="5">
                        <h2><span>{{key}} <br />
                        {% if value > 0 %} High Score: {{value}} {% endif %}
                        </span></h2></a>
                    </div>
                </td>
                {% cycle '' '' ''  '</tr>' %}
                {% endfor %}
        </table>
    </div>
</form>

<div align="center"><p>Please select a category of pages for your game!</p></div>

</div>
{% endblock %}