{% extends "pagefetch/base.html" %}
{% block content %}
	<div style="margin-left:20px;">
    <p style="margin-left:0px; font-size:3em;">Share your thoughts on PageFetch here!</p>
    <form action="" method="post" autocomplete="off">

	{% csrf_token %}

    <table align = "left">
        <tr>
            <td><label class="basic" for="comment"> Name: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ form.submitter }}</td>
        </tr>

        <tr>
            <td><label class="basic" for="comment"> Comment: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ form.comment }}</td>
        </tr>

        <tr>
            <td><input class="submit-button" type="submit" value="Submit"/></td>
        </tr>
    </table>

	</form>
	</div>
{% endblock %}
{% block disclaimer %}
{% endblock disclaimer %}