<html>
<head>
    <link href="{{MEDIA_URL}}pagefetch/javascript/Grafikart-Zoombox-f0657e7/zoombox.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{MEDIA_URL}}pagefetch/javascript/jquery.imageoverlay.1.3.2/ImageOverlay.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{MEDIA_URL}}pagefetch/javascript/jboesch-Gritter-e6e8b03/css/jquery.gritter.css" rel="stylesheet" type="text/css" media="screen"/>

    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/Grafikart-Zoombox-f0657e7/zoombox.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jboesch-Gritter-e6e8b03/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/cl.js"></script>
</head>

<div class="left-div" id="current_image">
    <img src="{{MEDIA_URL}}pagefetch/GamePageImages/rover.png" alt="Rover" style="float: left"/>
    <div id="dogalogBox">
        <div id="dialogBoxCurves" ></div>
        <p >This is the page we have to find!</p>
    </div>
    </br><br>
    <a href="{{MEDIA_URL}}pagefetch/ZoomboxImages/{{ game.current_page.screenshot.name }}" rel="zoombox" title="Current Image"><img src="{{MEDIA_URL}}pagefetch/ZoomboxImages/{{ game.current_page.screenshot.name }}" alt="Current Image" style="margin-top:10px;"/></a>
</div>

<!-- query entry area -->
<div class="left-div" style="margin-top:30px">
    <div class="query-left-div" id="query_div">
    <form id="search_form" autocomplete="off" action="/pagefetch/results/" method="POST">{% csrf_token %}

    <div id="dogalogBoxFind">
        <div id="dogalogBoxCurvesFind"></div>
        <p>Type here to find the page! </p>
    </div>

    <img src="{{MEDIA_URL}}pagefetch/GamePageImages/roverflipped.png" alt="Rover" style="float: right;"/>
    <br /> <br />

    {% if game.current_page_score > 0 %}
    <div id="dogalogBoxGood">
        <div class="dialogBoxCurves"></div>
        <p>Nice work! Hit THROW to get another page!</p>
    </div>
    {% endif %}

    <input type="text" name="query" id="query" title="Type here to find the page!" size="40"/>
    <label class="error" for="query" id="query_error" style="display:none;"><br />You didn't enter anything into the search box!<br /> Please enter a query to find the current page.</label> <br /> <br />

    <input type="submit" class="fetch-button" value="Find" id="find">
    <input type="hidden" id="game_id" name="game_id" value="{{game.game_id}}">
    <input type="hidden" id="category" name="category" value="{{game.category}}">

    {% if game.current_page_score > 0 %}
    <input type="submit" class="throw-green-button" value="Next Page" id="continue">
    {% else %}
    <input type="submit" class="throw-red-button" value="Next Page" id="continue">
    {% endif %}
    <br /><br />

    <!-- query info -->
    <table class="results">
    {% if game.current_page_score > 0 %}
    <td><label class="info-label-table" id="current_query_label" style="color:green"><div align="center"><strong>{{game.current_query}}</strong></div></label></td>
    {% else %}
    <td><label class="info-label-table" id="current_query_label" style="color:red"><div align="center"><strong>{{game.current_query}}</strong></div></label></td>
    {% endif %}

    <!-- score for this page -->
    {% if game.current_page_score > 0 %}
    <tr>
        <td><label class="info-label-table" id="query_stuff" style="color:green">Score</label></td>
        <td><label class="info-label-table" id="query_stuff" style="color:green">{{game.current_page_score}}</label></td>
    </tr>
    <script> $('#arrow').show(); </script>
    {% else %}
    <tr>
        <td><label class="info-label-table" id="query_stuff" style="color:red">Score</label></td>
        <td><label class="info-label-table" id="query_stuff" style="color:red">{{game.current_page_score}}</label></td>
    </tr>
    {% endif %}

    <!-- no pass -->
    {% if game.current_page_score > 0 %}
    <tr>
        <td><label class="info-label-table" id="query_stuff" style="color:green">No pass</label></td>
        <td><label class="info-label-table" id="query_stuff" style="color:green">{{game.current_pass}}</label></td>
    </tr>
    <script> $('#arrow').show(); </script>
    {% else %}
    <tr>
        <td><label class="info-label-table" id="query_stuff" style="color:red">No pass</label></td>
        <td><label class="info-label-table" id="query_stuff" style="color:red">{{game.current_pass}}</label></td>
    </tr>
    {% endif %}

    <!-- total score -->
    <tr>
        <td><label class="info-label-table" id="total_score_label">Total</label></td>
        <td><label class="info-label-table" id="total_score_label">{{game.total_score}}</label></td>
    </tr>

<!--<tr><td><label class="link-label"><a href="/pagefetch/resultpage" target="_blank">View results</a></label></td></tr> -->
    </table>
</form>

</div>

</html>