{% extends "pagefetch/base.html" %}
{% block scripts %}
<head>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/home.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/twitter.js" ></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/facebook.js" ></script>
    {% endblock %}
</head>
{% block content %}



<div class="speechbubble" width="250" align="left">
    <div>
        <img src="{{MEDIA_URL}}pagefetch/InstructionScreenshots/gamepage.png"width="522" height="369" align="right"/>
    </div>
    <div>
        <p class="triangle-border">
            <img src="{{MEDIA_URL}}pagefetch/Buttons/1.png" width="33" height="33"> You are given a page to find <br />
            <img src="{{MEDIA_URL}}pagefetch/Buttons/2.png" width="33" height="33"> Type in a query to <img class="instructionimg" src="{{MEDIA_URL}}pagefetch/GamePageImages/fetch.png" width="70" height="30" > <br />
            <img src="{{MEDIA_URL}}pagefetch/Buttons/3.png" width="33" height="33"> Take points & <img class="instructionimg" src="{{MEDIA_URL}}pagefetch/GamePageImages/throw_green.png" width="70" height="30">  the page <br />
            <img src="{{MEDIA_URL}}pagefetch/Buttons/4.png" width="33" height="33"> Or <img class="instructionimg" src="{{MEDIA_URL}}pagefetch/GamePageImages/skip.png" width="70" height="30">  to get a new page <br />
            <img src="{{MEDIA_URL}}pagefetch/Buttons/5.png" width="33" height="33"> Get bonuses by not skipping <br />
        </p>
        <img id="doggystyle" src="{{MEDIA_URL}}pagefetch/Logos/doggy.png" align="left" style="margin-top: 50px;">
    </div>



</div>
<br>

<div  id="deals" align="center">
    <p style="margin-top: 110px;" > {{deal.offer_text}}  </p>
</div>
<div width="250" class="playnowdiv" align="center">

    {% if user.is_authenticated %}
    <a href="/pagefetch/categories/"> <img  class="noborder" src="{{MEDIA_URL}}pagefetch/Style/playnow.png" width="280" height="90"  /> </a>
    {% else %}
    <a href="/pagefetch/login/"> <img  class="noborder" src="{{MEDIA_URL}}pagefetch/Style/playnow.png" width="280" height="90"  /> </a>
    {% endif %}
</div>

<br>
<div id="footer" align="center">
    <a href="/pagefetch/about/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/about.png" width="64" height="27"/></a>
    <a href="/pagefetch/contact/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/contact.png" width="84" height="27"/></a>
    <a href="/pagefetch/leaderboard/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/leaderboard.png" width="127" height="27"/></a><br>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.pagefetch.org" data-text="I have just played an awesome game called Pagefetch!" data-size="large"> </a>
    <div class="fb-like" data-href="http://www.pagefetch.org" data-send="true" data-width="390" data-show-faces="false" data-font="lucida grande"/>
</div>

{% endblock %}