{% extends "pagefetch/base.html" %}
            {% block scripts %}
            <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
            <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/home.js"></script>
            <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/gameredirect.js"></script>
            {% endblock %}
            {% block content %}
			<div class="child-content">
                <script type="text/javascript" src="{{ MEDIA_URL}}pagefetch/javascript/howtoplay.js"></script>

                 <div align="center">
                     <p id="topText">The main aim of the game is to find a webpage, for which an image is displayed on the left. Clicking on this image shows an enlarged screenshot of the page. </p>
                     <input type='submit' class='howtoButtonL' onclick='goBack()' value='Change Text' />

                    <img src='{{MEDIA_URL}}pagefetch/InstructionScreenshots/pagefetchnoresult.png' align="center" width='522' height='369' alt='PageFetch game page' id="middleImage" >
                    <img src='{{MEDIA_URL}}pagefetch/InstructionScreenshots/pagefetchnoresult.png' align="center" width='0' height='0' alt='PageFetch game page' id="middleImage1" >
                    <img src='{{MEDIA_URL}}pagefetch/InstructionScreenshots/fufinderallresults.png' align="center" width='0' height='0' alt='PageFetch game page' id="middleImage2" >

                    <input type='button' class='howtoButtonR' onclick='goForward()' value='Change Text' align="right"><br><br>
                     <p id="bottomText">You have 3 minutes to find as many pages as you can. Points are awarded for getting a page in the top 8 results. You can earn bonus points if you don't skip pages! </p> <br>
                </div>


            </div>




            {% endblock %}
