{% extends "pagefetch/base.html" %}
{% block content %}


<head>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/twitter.js" ></script>
    <script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/facebook.js" ></script>
</head>

<div class="centre" align="center">
    <form action="/pagefetch/login/" autocomplete="off" method="post">{% csrf_token %}
        <p>Username: <input class="inputs" type="text" name="username" value=""  align="center"/> <br>
            Password: <input class="inputs" type="password" name="password" value="" align="center"/> </p>
        <input class="playnow-button" type="submit" value="Play Now!" />
    </form>


    <div id="registerlogin" align="left">
        <p></br>Don't have a login?</br>
            <a href="/pagefetch/register/"><img class="noborder" src="{{MEDIA_URL}}pagefetch/Buttons/register.png"></a>
        </p>
    </div>

    <div id="contactlogin" align="right">
        <p></br>Forgot your login?</br>
            <a href="/pagefetch/contact/"><img class="noborder" src="{{MEDIA_URL}}pagefetch/Buttons/contactlogin.png"></a>
        </p>
    </div>
</div>

<div id="footer" align="center">
    <a href="/pagefetch/about/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/about.png" width="64" height="27"/></a>
    <a href="/pagefetch/contact/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/contact.png" width="84" height="27"/></a>
    <a href="/pagefetch/leaderboard/"> <img class="foot" src="{{MEDIA_URL}}pagefetch/Buttons/leaderboard.png" width="127" height="27"/></a><br>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.pagefetch.org" data-text="I have just played an awesome game called Pagefetch!" data-size="large"> </a>
    <div class="fb-like" data-href="http://www.pagefetch.org" data-send="true" data-width="390" data-show-faces="false" data-font="lucida grande"/>
</div>
{% endblock %}
