{% extends "pagefetch/base.html" %}
{% block content %}
<div class="centre">
</br>
</br>
<h2> PageFetch New Password Entry </h2> 
<p> Please enter a new password. &#x263A; </p>

<form method="post" action="">
{% csrf_token %}
{{ form.new_password1.label_tag }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.new_password1 }}
</br>
</br>
{{ form.new_password2.label_tag }}: &nbsp;
{{ form.new_password2 }}
</br>
</br>
<input type="submit" value="Change my password" />
</form>

</br>
</br>
</div>
{% endblock content %}
