

<div class="centre" id="gameover">
<img src="{{MEDIA_URL}}pagefetch/GamePageImages/gameoverlogo.png" alt="Game Over">
</div>
</br></br>

<p>Your score:</p>
{% if score == 0 %}
<b><font color="black" size="50" face="arial">{{score}}</font></br></b>
{% endif %}

{% if score > 0 and score < 1000 %} 
<b><font color="red" size="50" face="arial">{{score}}</font></br></b>
{% endif %}

{% if score >= 1000  and score < 5000 %}
<b><font color="orange" size="50" face="arial">{{score}}</font></br></b>
<p>Good job! Play again and see how you do!</p>
{% endif %}

{% if score >= 5000 and score < 10000 %}
<b><font color="green" size="50" face="arial">{{score}}</font></br></b>
{% endif %}

{% if score >= 10000 %}
<b><font color="green" size="50" face="arial">{{score}}</font></br></b>
{% endif %}

</br>

<p>Your status is:</p>
<div class="centre">
<img src="{{MEDIA_URL}}pagefetch/Status/{{status}}.png" alt="Status Image">
</div>

{% if score == 0 %}
<p>Were you even trying?</p>
{% endif %}

{% if score > 0 and score < 1000 %} 
<p>Nice try, but you can do better!</p>
{% endif %}

{% if score >= 1000  and score < 5000 %}
<p>Good job! Play again and see how you do!</p>
{% endif %}

{% if score >= 5000 and score < 10000 %}
<p>Wow! Well played!</p>
{% endif %}

{% if score >= 10000 %}
<p>Outstanding! You are a PageFetch pro!</p>
{% endif %}

</br>

<a href="http://wickham.dcs.gla.ac.uk:8080/pagefetch/categories/"><img src="{{MEDIA_URL}}pagefetch/Buttons/play_again.png" alt="Play again!">

