{% block content %}
<div class="child-content">
{% if rewards_earned.items|length > 0 %}
<p> Reward(s) Earned: </p>
<div class="centre">
{% for key, reward in rewards_earned.items %}
    <div>
    <img src="{{MEDIA_URL}}game/EngineAwards/Engine{{key}}{{reward}}.png">
	</br>
	<label class="basic">Engine {{key}} {{reward}}</label>
    </div>
	</br>
    {% endfor %}
{% else %}
	<p> No rewards obtained during this game.  Keep trying! &#x263A; </p>
	</br>
{% endif %}
    </br>
	<button class="submit-button" id="status_move">Continue</button>
    </div>
    </br>
    </br>
    </div>
{% endblock %}