{% extends "pagefetch/base.html" %}

{% block content %}
<p> Welcome to PageFetch, a fun game for kids and adults! 

You have 3 minutes to find as many pages as you can. Points are awarded for getting a page in the top 8 results, and bonus points are awarded if you don't pass!

Once you have found the current page, you can move onto the next page or try to improve your score.

You can also strive to earn ranks and rewards within the game.
</p>
</br>
<p> Enjoy PageFetch! &#x263A; </p>
<p><a href="/pagefetch/home/">Home</a></p>
{% endblock content %}
