{% extends "pagefetch/base.html" %}
{% block scripts %}
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/spriteTimer.1.3.6/js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/gameredirect.js"></script>
{% endblock %}
{% block content %}
<div class="child-content">
<p> The points required to obtain the levels of PageFetch status are:</p>
</br>
<table class="centre" id="status-table" border="1">
<tr>
<td>Status</td>
<td>Points Required</td>
</tr>
{% for possible_status in status_data %}
<tr>
<td>{{possible_status}}</td>
<td>{{possible_status.points_required}}</td>
</tr>
{% empty %}
	<p> Status information currently unavailable.  Sorry! &#x2639; </p>
	</br>
{% endfor %}
</table>
</br>
<div class="centre">
<button class="submit-button" id="play">Play again</button>
</div>
</br>
<p><a href="http://www.surveymonkey.com/s/RJTC32W">Give feedback</a></p>
<p><a href="/pagefetch/leaderboard/">View leaderboard</a></p>
</div>
{% endblock %}
