{% extends "pagefetch/base.html" %}
{% block scripts %}
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}pagefetch/javascript/home.js"></script>
{% endblock %}

{% block content %}
<br/><br/>
<div class="child-content">
<div class="centre">
<div class="username-big"><strong>{{user.username}}</strong> is a...
<br/><img src="{{MEDIA_URL}}pagefetch/Status/{{status}}.png">
<br/>He is {{age}} years old and has played <strong>{{games_played}}</strong> games of PageFetch,<br/> with an average score of <strong>{{avg_score}}</strong> per game!
</div>
</p>
</div>

{% if games %}
</br>
</br>
<div class="centre">
<div class="username-big">Your top scores:</div>
</div>
</br>
<center>
<table class="leaderboard" id="leaderboard" border="1">
<tr>
<td><img src="{{MEDIA_URL}}pagefetch/LeaderboardImages/rank.png"/></td>
<td><img src="{{MEDIA_URL}}pagefetch/LeaderboardImages/score.png"/></td>
<td><img src="{{MEDIA_URL}}pagefetch/LeaderboardImages/date.png"/></td>
</tr>
{% for game in games %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{game.total_score}}</td>
<td>{{game.timestamp}}</td>
</tr>
{% endfor %}
{% else %}
<center><p> Leaderboard information currently unavailable.  Sorry! &#x2639; </p></center>
	</br>
{% endif %}
</table>
</center>

</div>


            
{% endblock %}
