/* main page elements */

#page
{
	font: 100% Verdana, Sans-serif;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#imagePreviewBackground
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #778899;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#imagePreview
{
	position: absolute;
	top: 1%;
	left: 1%;
	border-color: white;
	border-width: 4px;
	border-style: solid;
	font-weight: bold;
	background-color: white;
	text-align: center;
	position: absolute;
	color: white;
	z-index:100;
}

#maseLogo
{
	height: 100%;
	vertical-align:middle;
}

#searchLogo
{
	height: 40%;
	vertical-align:middle;
}

.pawImage
{
	height: 100%;
	vertical-align:middle;
}

.changeStyle
{
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;	
}

#searchEngineTitle
{
	vertical-align: middle;
	font-size: 350%;
	height: 100%;
	width: 100%;
}

#titleEdit
{
	font-weight: bold;
	font-size: 350%;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	border-color: white;
	border-width: 0px;
	outline: none;
}

body
{
	background-color: white;
	min-height: 100%;
}

#header
{
	vertical-align: middle;
	width: 100%;
	height: 12%;
	clear: both;
	font: 100% Chiller;
	text-align: center;
	position: absolute;
	top: 0%;
	margin-left: 2.5%;
}

#headerBorder
{
	vertical-align: middle;
	text-align: center;
	width:95%;
	height: 4%;
	clear:both;
	color: white;
	position: absolute;
	top: 11%;
	margin-left: 2.5%;
	/*background-color: blue;*/
	border-style: solid;
	border-width: 4px;
	border-color: black;
	border-radius: 30px;
	background: -moz-linear-gradient(left,  #003DF5,  #00B8F5);
	background: -webkit-gradient(linear, left top, right top, from(#003DF5), to(#00B8F5));	
}

#logo
{
	height: 100%;
	width: 33.3%;
	float: left;
	clear: right;
	vertical-align: middle;
}

#title
{
	height: 100%;
	width: 33.3%;
	text-align: center;
	float: left;
	clear: left;
	display: inline-block;
	vertical-align: middle;
}

#search
{
	height: 100%;
	width: 33.3%;
	display: inline-block;
	float: left;
	clear: right;
	vertical-align: middle;
}


#resultTypes
{
	position: absolute;
	width: 100%;
	height: 8%;
	top: 10%;
	clear: both;
	font: 100% Chiller;
	text-align: center;
}

#typesSection
{
	width:20%;
	clear:left;
	text-align:center;
	float: left;
}

#resultTypesBorder
{
	clear: both;
	width: 100%;
}

#mainSection
{
	width:100%;
	height: auto;
	clear:both;
	text-align:center;
	margin-left: 2.5%;
}

#history
{
	float: left;
	width: 67%;
	text-align: center;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}

#suggestions
{
	top: 14%;
	float: left;
	clear: left;
	display: block;
}

.resultArea
{
	height: 100%;
	/*min-height: 100%;*/
	top: 16%;
	position: absolute;

}

#leftColumn
{
	width: 16%;
	left: 3%;
	display: block;
	float: left;
	clear: left;
}

#middleColumn
{
	width: 47%;
	left: 20%;
	display: block;
	float: left;
}

#rightColumn
{
	width: 30%;
	left: 68%;
	display: block;
	float: left;
	clear: right;
}

.resultsBox
{
	background-color: white;
	border-style:solid;
	border-width:5px;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	clear: both;
	margin-top: 5px;
	border-radius: 15px;
}

#query
{
	font-weight: bold;
	/*background-color: blue;*/
	background: -moz-linear-gradient(left,  #003DF5,  #00B8F5);
	background: -webkit-gradient(linear, left top, right top, from(#003DF5), to(#00B8F5));
	text-align: center;
	color: white;
	height: 100%;
	border-style:solid;
	border-width:5px;
	border-color: black;	
	border-radius: 15px;
	outline: none;
	height: 80%;
	width: 60%;
	font-weight: bold;
	font-size: 200%;
	vertical-align: middle;
}

.embeddedVideo
{
	left: 4px;
	z-index: 50;
}

.resultsBoxHelper
{
	/*height: auto;
	width: auto;*/
	position: relative;
	background: -moz-linear-gradient(left,  #003DF5,  #00B8F5);
	background: -webkit-gradient(linear, left top, right top, from(#003DF5), to(#00B8F5));
	color: white;
	border-style:solid;
	border-width:4px;
	border-color: black;	
	border-radius: 8px;	
}

.resultsBoxHeader
{
	width: 100%;
	clear: both;
	background: -moz-linear-gradient(left,  #003DF5,  #00B8F5);
	background: -webkit-gradient(linear, left top, right top, from(#003DF5), to(#00B8F5));
	color: white;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color: black;	
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;	
}

.fullResults
{
	padding: 5px;
}

.showFullResults
{
	text-align: right;
	float: right;
}

#copyrightSection
{
	width: 100%;
	height: 5%;
	float: left;
	font-style: italic;
	text-align: center;
	clear: both;
	position: inherit;
}

.imageThumbnail
{
	border-color: black;
	border-width: 2px;
	border-style: solid;
}