{% extends 'slowsearch/base.html' %}
{% load static %}

{% block body_block %}

<h3>About WebSearch</h3><br>
WebSearch is a search site developed by Craig Goodbrand, an MSc IT student at the
University of Glasgow as part of a research project.  <br><br>

Its aim is to find out how individuals change their behaviour when the conditions of a search engine interface
are altered. <br><br>

The experiment will end on 22/8/14, at which point you will be invited to complete a short survey. <br><br>

If you have any questions or comments please contact Craig at: <a href ="mailto:0907666g@student.glasgow.ac.uk">
                                                               0907666g@student.glasgow.ac.uk</a><br>
or the project supervisor, Dr Leif Azzopardi at: <a href ="mailto:Leif.Azzopardi@glasgow.ac.uk">
                                                 Leif.Azzopardi@glasgow.ac.uk</a> <br><br>


{% endblock %}