{% extends 'slowsearch/base.html' %}
{% load static %}


{% block body_block %}

<script type="text/javascript">

    $( document ).ready(function() {
        $("#progress").css("visibility", "visible");
        $("#whole_page").css("opacity", "0.5");
        $("#whole_page").css("pointerEvents", "none");

        var token = "{{csrf_token}}";
        var formData = token + '&';
        formData = formData + (window.location.hash);

        if(formData.indexOf("&query=")>1) {
            processRequest(formData);
        }
        $("#progress").css("visibility", "hidden");
        $("#whole_page").css("opacity", "1");
        $("#whole_page").css("pointerEvents", "auto");
    });

</script>


    {% if user.is_authenticated %}
        <div id="whole_page">
        <div class="modal" id="progress" style="visibility: hidden">
                <img src="{% static 'throbber.GIF' %}" alt="Progress Spinner" height="45" width="45"/>
        </div>
           <div id="results" style="width: 40%; margin-left: 10%; min-width: 500px">
            <h2>Welcome to WebSearch</h2>
            <strong> The experimental period is now over. Your search behaviour will no longer be recorded, but if you haven't already, please
                click the button to fill in the feedback questionnaire:
                <a class="btn-primary" href="finalsurvey">Survey</a><br><br>
            </strong>

                {% if not request.user.id|divisibleby:2 %}
                    <form id="search_form" action="/ajax_results/" method="post">
                        {% csrf_token %}
                        <input type=text style="width: 80%; vertical-align: top" name=query value="{{ query }}">
                        <input class="btn-primary" style="vertical-align: top; height: 30px" id="SearchDelay" type=submit value="Search">
                    </form>
                {% else %}
                     <form id="search_form_no_delay" action="/search/" method="post">
                        {% csrf_token %}
                        <input type=text style="width: 80%; vertical-align: top" name=query value="{{ query }}">
                        <input class="btn-primary" style="vertical-align: top; height: 30px" id="SearchNoDelay" type=submit value="Search">
                    </form>
                {% endif %}
            </div>

        <div id="ajax_results_div"></div>
        </div>
        {% else %}
        <div style="width: 40%; float: left">
            Thank you for agreeing to participate in this experiment. <b>For the duration of the experimental period,
            please use this site in place of your go-to search engine</b>. All searches are <b>confidential</b> and data related
            to queries entered and websites visited <b>will not be recorded by this site</b> and is visible to nobody.
            <br>
            <br>
            The search engine functions like any other popular search engine. Before you begin searching, please
            create your account and fill in the optional short questionnaire.
            <br>
            <br>
            <strong>Please read the Study Information below and tick the boxes to agree to the terms
            of this study.</strong><br>
            <ul>
                <li> The application is intended to be used in place of your favourite
                search engine for the duration of the experiment.</li><br>
                <li>As part of the study you will be asked to complete some optional questionnaires regarding your
                demographics and experience with the application.</li><br>
                <li>The experiment will last for 7 days, beginning on the 14th of August, 2014.</li><br>
                <li>Participation in this study is voluntary, and <strong>you may withdraw consent to use the information you
                    provided at any time before the 22nd of August, 2014.</strong></li><br>
                <li>Your name will not appear on any published document in relation to this study.</li>
                <li>The time you spend on each query will be recorded for purposes of this experiment. <strong>Your search
                    queries will be converted to hashes so that they cannot be read and will not be recorded, nor will any
                    URLs visited using this application.</strong></li><br>
                <li>An example of a hashed query is the query <strong>'test'</strong>, which would be hashed to
                    <strong>'a94a8fe5ccb19ba61c4c0873d391e987982fbbd3'</strong>
                before being recorded to render it unreadable to any individual. URLs visited are hashed in a similar way.</li><br>
                <li>You are able to ask questions at any time before, during or after the experiment using the contact
                details available on the <a target="_blank" href="slowsearch/about">About</a> page.</li>
        </div>

            <div class="inline">
            <div class="span2">
            <a class="btn btn-link" href="register">Register</a><br><br>
            <a class="btn btn-link" href="login">Login</a>
            </div>
            </div>
        {% endif %}

    {% endblock %}