{% extends 'slowsearch/base.html' %}
{% load static %}

{% block body_block %}
        <h2>Login</h2>

        <form id="login_form" method="post" action="/slowsearch/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    {% if error %}
    <p class="text-error">{{ error }}</p>
    {% endif %}
    <img src="{% static "SOCS Logo.jpg"%}">
{% endblock %}