{% extends 'slowsearch/base.html' %}
{% load static %}

{% block body_block %}
        <h2>Login</h2>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td><td><input type="text" name="username" value="" size="50" /></td>
                </tr>

                <tr>
                        <td>Password: </td><td><input type="password" name="password" value="" size="50" /></tr>
                </td>
            </table>
            <br />

            <input type="submit" value="submit" />
        </form>

    {% if error %}
    <p class="text-error">{{ error }}</p>
    {% endif %}
    <img src="{% static "SOCS Logo.jpg"%}">
{% endblock %}