{% extends 'slowsearch/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h2>hello {{ user_name }}, welcome to your profile!</h2>
        <a href="/slowsearch/logout/">Logout</a><br />
        <a href="/slowsearch/">Return to the homepage</a><br />
        {% else %}
        <h2>You're not logged in!</h2>
        <a href="/slowsearch/login/">Login</a> <br>
        <a href="/slowsearch/register/">Register Here</a> <br>
        <a href="/slowsearch/">Return to the homepage</a><br />
    {% endif %}
{% endblock %}