{% extends 'slowsearch/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h2>hello {{ user_name }}, welcome to your profile!</h2>

        {% if demographics %}
            Age: {{ demographics.age }}<br>
            Gender: {{ demographics.sex }}<br>
            {% if demographics.education_undergrad == "Y" %}
                University Education: Yes<br>
                Major: {{ demographics.education_undergrad_major }}<br>
                Year: {{ demographics.education_undergrad_year }}<br><br>
            {% endif %}
            {% else %}
                You haven't completed the demographic form yet! <a href = "/slowsearch/demographic/">Do it now!</a><br>
        {% endif %}
        User Since: {{ profile.user_since }}<br>
        Number of Queries: {{ profile.queries_submitted }} <br>
        Number of URLs Visited: {{ profile.links_visited }} <br>

    {% else %}
        You are not logged in! Please use the login button in the navbar above
    {% endif %}
{% endblock %}