{% extends 'slowsearch/base.html' %}
{% load static %}

{% block body_block %}
    {% if registered or request.user.username %}
       <strong>Thank you for registering!</strong><br>
       Please continue to our <a class="btn-primary" href = "/demographic/">Demographic Survey</a><br>
       Alternatively, <a class="btn-primary" href = "/">Skip the survey</a>

    {% else %}
        <h2>Register here!</h2>
        <div style="width: 40%">
    <form id="reg_form" method="post" action="/register/"
            enctype="multipart/form-data">

        {% csrf_token %}

        {% for field in validation_form %}
        {{ field }}{{ field.label_tag }}<br>
        {% endfor %}



        {{ user_form.as_table }}


        {% if user_form.errors or validation_form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert" onclick="parentNode.style.display = 'none'">Close</button>

                {% for field in user_form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}

                {% for field in validation_form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
         <br>
        <input class="btn-primary" type="submit" name="submit" value="Register" />
        </form>
        </div>
{% endif %}


{% endblock %}