{% extends 'slowsearch/base.html' %}

{% block body_block %}

        <h2>Register</h2>

        {% if registered %}
       <strong>Thank you for registering!</strong>

        {% else %}
       <strong>Register here!</strong><br />

        <form id="reg_form" method="post" action="/slowsearch/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ demog_form.as_p }}

        <strong>Thank you for agreeing to participate in this experiment. For the duration of the experimental period,
        please use this site in place of your go-to search engine. All searches are confidential and data related
        to queries entered and websites visited will not be recorded by this site and is visible to nobody.
        To this end, it is recommended that you do NOT use your real name as a username.
        <br>
        <br>
        The search engine functions like any other and is powered by Microsoft Bing. Before you begin searching, please
        create your account below and fill in the optional short questionnaire.
        <br>
        <br>
        Don't forget to tick the box to indicate you understand these terms and conditions!</strong>
        <br>
        <br>
            {{ validation_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

        <a href="/slowsearch/">Return to the homepage</a><br>

{% endblock %}