{% extends 'base/base.html' %}

{% block exp_info_block %}
    <p> <!-- a href="/treconomics/logout">Logout</a> -->
{% endblock %}

{% block exp_block %}
    <script>
        $(document).ready(function () {
            $('.surveySubmitButton').click(function () {
                $(this).hide()
            });
        })
    </script>

    <p> Thank you for completing this task. </p>


    <p> Click the next button to proceed to the next stage of the experiment: </p>

    <div class="surveySubmitButton">
        <a href="{% url 'next' %}">
            <button class="button" type="next"> Next</button>
        </a>
    </div>

{% endblock %}


{% block exp_footer_block %}
    Participant: {{ participant }}  - Condition: {{ condition }} - Task: {{ task }}
{% endblock %}