/* custom CSS */


#home{
    background-position: 25%;

    background-image: url(/static/Wild%20West%20Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 5%;

    margin-bottom: 0;

}

#about{
    background-position: center bottom;
    color: #000000;
    background-image: url(/static/Wild%20West%20Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17%;
    padding-top: 3%;
    height: 0;
    margin-bottom: 0;
}

.game {
    background-position: center bottom;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17%;
    padding-top: 3%;
    height: 0;
    margin-bottom: 0;
}

#California_landscape {
    background-image: url(/static/Wild%20West%20Background.png)
}

#Scotland_landscape {
    background-image: url(/static/Scotland.png)
}

#Yukon_landscape {
    background-image: url(/static/Yukon.png)
}


#Brazil_landscape {
    background-image: url(/static/Brazil2.png);
    color: #ffffff;
}

#Brazil_landscape h2{
    color: #ffffff;
}

#Victoria_landscape {
    background-image: url(/static/Victoria2.png);
    background-position: top

}

#South_Africa_landscape {
    background-image: url(/static/South_Africa3.png);
}


#currentgold {
    text-align: right;
    width: 60%;
}

#totalgold {
    text-align: right;
    width: 60%;
}

#right{
    text-align: right;
    width: 10%;
}

#left{
    text-align: left;
}

#rank{
    width: 6%;
}

#mine{
    background-image: url(/static/ground.jpg);
    background-repeat: repeat;
}

#stats{
    font-family: pixelfont;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.17);
    position: fixed;
    border-radius: 4px;

}

#statsright{
    font-family: pixelfont;

    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.17);
    padding-left: 1.5%
}

#statsicon {
    border-radius: 4px;
    border-width: medium;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.16);
}

#side {
    height: 1000px;
}

#controls {
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 2%;
}

#disclaimerlabel {
    width: 26%;
    padding-right: 15px;
}

#text {
    width: 74%;
}


#resultcol {
    font-family: pixelfont;
    color: gold;
    font-size: 150%;
    padding-left: 3%;

}

#store {
    background-image: url(/static/planks.jpg);
}

#storesign {
    width: 30%;
    margin-left: 32%;
    margin-top: 2%;
}

#shopgold {
    font-family: pixelfont;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.55);
    border-color: #000000;
    border-width: 2px;
    width: 15%;
    color: #000000;
    margin-top: 2%;
    position: fixed;
    font-size: medium;
}

#mapstats {
    font-family: pixelfont;
    border-color: #000000;
    border-width: 2px;
    height: 300px;
    font-size: large;
    background-color: rgba(245, 222, 179, 0.46);
    color: gold;
}

#mapstats2 {
    font-family: pixelfont;
    border-color: #000000;
    border-width: 2px;
    height: 300px;
    font-size: large;
    background-color: rgba(245, 222, 179, 0.46);
    color: gold;
}

#profileimg {
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    margin-top: 1%;
    border-color: #000000;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0);

}

#right_stats {
    text-align: right;
    width: 380px;
    color: gold;

}

#dayscore {
    font-size: 30pt;
    color: #000000;
}

#dayscore img {

    vertical-align: middle;
}

#playstore {
    margin-top: 10%;
}

.points {
  font-family: pixelfont;
  color: gold;
  visibility: hidden;
  opacity: 0.0;
  position: relative;
  right: 70px;
  top: 30px;
  font-size: large;

}

.comment {
  font-family: pixelfont;
  color: #05ff18;
  visibility: hidden;
  opacity: 0.0;
  position: relative;
  text-align: center;
  font-size: 50pt;
  bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: pixelfont;
    color:#000000;
}


hr {
    border-top: 2px groove rgba(0, 0, 0, 0.59);
    background-color: rgba(255, 255, 255, 0);
}

body{
    color: black;
}

/*ul li {*/
    /*list-style-type: none;*/
/*}*/

#leaderboards{
    background-color: #acacac;
    font-family: pixelfont;
    font-size: medium;
}

#leaderboards th {
    color: darkred;
}

@font-face {
    font-family: pixelfont;
    src: url(/static/fonts/Pixelate.ttf);
}

.equipment {
    align-content: center;
    margin-right: 20px ;
    background-color: rgba(255, 255, 255, 0.10);

    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 2%
}


.equip {
    width: inherit;
    height: inherit;
}

.equip td, th{
    text-align: right;
    padding-left: 28px;
    height: 29px;
    width: 49px;
}

.equip img {
    width: 20%;
}


.scores td{
    text-align: center;
    width: inherit;
    line-height: 155%;
}

.progress {
    background-color: rgb(255, 255, 255);
}

.progress-bar {
    background-color: #0FD968;
    color: #000000;
}


.current {
    padding-left: 3%;
    width: 200px;
}

#well {
    padding-top: 10px;
    margin-right: 1%;
    font-family: pixelfont;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
    width: inherit;
    height: 47%;
    font-size: 150%;
    color: gold;
    position: fixed;

}

#welltour {
    padding-top: 10px;
    margin-right: 1%;
    font-family: pixelfont;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
    width: inherit;
    height: 47%;
    font-size: 150%;
    color: gold;
    position: fixed;

}

#profile_well {
    font-family: pixelfont;
    font-size: large;
    padding-top: 1%;
    background-color: rgba(245, 222, 179, 0.26);
    border-radius: 10px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 400px;
    padding-left: 2%;
    padding-right: 2%;
}

#equipment_well {
    font-family: pixelfont;
    font-size: large;
    padding-top: 1%;
    background-color: rgba(245, 222, 179, 0.26);
    border-radius: 10px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 700px;
    padding-left: 2%;
    padding-right: 2%;
}

#modifier {
    font-size: xx-large;
    color: #1c5916;
}
#stats_well {
    font-family: pixelfont;
    font-size: large;
    background-color: rgba(245, 222, 179, 0.26);
    border-radius: 10px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 400px;
    padding-left: 2%;
    padding-right: 2%;

}

#details_well {
    font-family: pixelfont;
    font-size: large;
    background-color: rgba(245, 222, 179, 0.26);
    border-radius: 10px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 400px;
    padding-left: 2%;
    padding-right: 2%;

}

#titoli {
   font-family: pixelfont;
   font-size: xx-large;
   text-align: center;
   text-decoration: underline;
   color: darkgoldenrod;
}

#img {
    text-align: right;
}

#profile_options {
    margin-top: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 6px;
    background-color: rgba(245, 222, 179, 0.26);
    border-width: 3px;

}

#profile_options a {
    color: #000000;
    font-weight: bold;
}

.buttons {
    font-family: pixelfont;
    width: 60px;
    height: 40px;


}


.results {
    font-family: pixelfont;
    font-size: 150%;
    color: gold;
    padding-left: 4%;
}


.score_right {
    width: inherit;
    align-items: center;
    font-size: 150%;
    font-family: pixelfont;
    padding-left: 3%;
    background-color: rgba(255, 255, 255, 0.16);
}


.hidden{
    visibility: hidden;

}

.prova{
    height: 100px;
}

.colophon {
    width: 100%;
    height: 30%;
}

.gameover {
    background-image: url(/static/Day_end.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: pixelfont;
    color: #ffffff;
    font-size: 400%;
    text-align: center;

}

.gameover2 {
    background-color: black;
    font-family: pixelfont;
    color: #ffffff;
    font-size: 400%;
    text-align: center;

}

.tab-content {
    font-size: 12pt;
}


.gameover_options {
    font-size: 30pt;
    color: #5e198a
}

 a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.newrow {
    padding-top: 6%;
    height: 130px;
}

.move {
	margin-left: 0;
    font-family: pixelfont;
    color: #000000;
}

.description {
    height: 250px;
    font-size: medium;
}

#shoppe {
    border: 2px solid #000000;
    margin-top: 5%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.55);
}




#shoppe h3 {
    margin-top: 0;
}


/*.caption {*/
    /*padding-left: 0;*/
/*}*/

#shopbody {
    background-image: url(/static/ground.jpg);
}

#ocean {
    background-image: url(/static/oceantile2.png);
}

.finalscore {
    font-size: 60pt;
    color: #8c0c00;
}

.upgrade {
    /*width: 64px;*/
    /*height: 26px;*/
    padding-left: 5px;
    font-size: 11px;
    background-image: linear-gradient(#2E2A2E, #000000 6%, #5C575C);
    border: 1px solid #000000;
}

#homewell {

    border-color: #000000;
    border-width: 2px;
    background-color: rgba(245, 222, 179, 0.46);

}

#name {
    font-family: pixelfont;
    font-weight: bolder;
}

#thumb {
    margin-right: auto;
    margin-right: auto;
    width: 11%;
}

.thumbnail {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.thumbnail .caption {
    color: #000000;
}

#prices {
    color: #ffff00;
}

#accuracy {
    color: darkgreen;
}

#cost {
    color: darkred;
}

#gover {
    list-style-type: none;
}

#upgrade_scan {
    color: #ffffff;
}

#alert {
    display: inline;
    margin-left: 30px;
    color: red;
}

.intro {
    background: rgb(0, 0, 0);
    border-color: black;
    margin-right: 2%;
    margin-left: 2%;
}

.introp {
    font-size: medium;
    text-align: justify;
}
/*#goldlayer_1 {*/
    /*-webkit-animation-duration: 5s;*/
    /*-webkit-animation-delay: 5s;*/

/*}*/

/*#goldlayer_2 {*/
    /*-webkit-animation-duration: 5s;*/
    /*-webkit-animation-delay: 5s;*/
/*}*/

#storebody {
    background-image: url(/static/planks.jpg);
}

#navtabs {
    font-family: pixelfont;
    font-size: large;
    }
#newitem {
    border-width: 3px;
    border-color: #000000;
    background-color: rgba(245, 222, 179, 0.26);;

}

#newitem img {
    height: 100px;
}

#modalcost {
    background-color: rgba(255, 249, 0, 0.50);
}

.achievements {
    color: #000000;
    font-family: pixelfont;
}

#achievementprofile {
    border-color: black;
    border-width: 3px;
}



/******************************************************************************/


.dig_view {
 padding-top: 0;
 background: url(/static/ground.jpg);
}

.map_view {
 padding-top: 50px;
 background: #eacc99;
}

.store_view {
 padding-top: 50px;
 background: url(/media/mine/wood_texture.jpg) repeat;
}

.landscape_container {
	min-width: 100% !important;
}

.col-centered {
    margin: 0 auto;
}


.mine > div > div {
	position: relative;
}

.button_icon {
 	float: left;
	border-radius: 10px;
 	width: 30px;
 	height: 30px;	
 	margin: 0px 10px 0px 0px;
  	opacity: 0.7;
}


.button {
 	background-image: linear-gradient(#2E2A2E, #000000 6%, #5C575C);
    border: 1px solid #000000;
    color: #ffffff;
	margin-top: 13%;
    float: left;
    vertical-align: top;
    width: 100px;
}

.button:hover {
	text-decoration: none;
 	box-shadow: 0px 0px 10px #fff;
}

.dig_button {
	position: absolute;
	top: 20%;
	right: 5px;
}



.button:hover > .button_icon {
	opacity: 1.0;
}

.button_text {
	float: right;
	text-decoration: none;
	color: #cccccc;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0px;
}

.nuggets_0 {
 	background: url(/media/mine/main_nuggets_6pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_1 {
 	background: url(/media/mine/main_nuggets_6pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_2 {
 	background: url(/media/mine/main_nuggets_5pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_3 {
 	background: url(/media/mine/main_nuggets_4pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_4 {
 	background: url(/media/mine/main_nuggets_3pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_5 {
 	background: url(/media/mine/main_nuggets_2pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_6 {
 	background: url(/media/mine/main_nuggets_1pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_0 {
 	background: url(/media/mine/flecks_0.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_1 {
 	background: url(/media/mine/flecks_1.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_2 {
 	background: url(/media/mine/flecks_2.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_3 {
 	background: url(/media/mine/flecks_3.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_4 {
 	background: url(/media/mine/flecks_4.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_5 {
 	background: url(/media/mine/flecks_5.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_6 {
 	background: url(/media/mine/flecks_6.png) no-repeat center;
 	background-size: 100% 100%;
}

.scaffold_1 {
 	background: url(/media/mine/scaffold_1pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_1_shaded {
 	background: url(/media/mine/scaffold_1_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_2 {
 	background: url(/media/mine/scaffold_2pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_2_shaded {
 	background: url(/media/mine/scaffold_2_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_3 {
 	background: url(/media/mine/scaffold_3pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_3_shaded {
 	background: url(/media/mine/scaffold_3_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	

.mine, .shaft {
	background: rgba(0,0,0,0.3);
}



.store_sign {
 		background: url(/media/mine/store_sign.png) no-repeat center top;
 		background-size: contain;
 		margin-top: 50px;
}

.left .row {
 	background: url(/media/mine/shelf_cubes_left.jpg) no-repeat center top;
 	background-size: 100% 100%;
}
 	
.right .row {
 	background: url(/media/mine/shelf_cubes_right.jpg) no-repeat center top;
 	background-size: 100% 100%;
}

.digging_0 {
 	background: url(/media/icons/Tools/Spoon.png) no-repeat center;
 	background-size: 30%;
}

.digging_0:hover {
 	background: url(/media/mine/Spoon_hover.png) no-repeat center;
 	background-size: 40%;
}

.digging_1 {
 	background: url(/media/icons/Tools/Shovel_normal.png) no-repeat center;
 	background-size: 50%;
}

.digging_1:hover {
 	background: url(/media/mine/Shovel_normal_hover.png) no-repeat center;
 	background-size: 60%;
}

.digging_2 {
 	background: url(/media/icons/Tools/Shovel_golden.png) no-repeat center;
 	background-size: 50%;
}

.digging_2:hover {
 	background: url(/media/mine/Shovel_golden_hover.png) no-repeat center;
 	background-size: 60%;
}

.digging_3 {
 	background: url(/media/icons/Tools/Dynamite.png) no-repeat center;
 	background-size: 60%;
}

.digging_3:hover {
 	background: url(/media/mine/Dynamite_hover.jpg) no-repeat center;
 	background-size: 70%;
}

.digging_4 {
 	background: url(/media/icons/Tools/Mecha.png) no-repeat center;
 	background-size: 60%;
}

.digging_4:hover {
 	background: url(/media/mine/Mecha_hover.jpg) no-repeat center;
 	background-size: 70%;
}


.scanning_1 {
 	background: url(/media/icons/Scan/Map.png) no-repeat center;
 	background-size: 40%;
}

.scanning_1:hover {
 	background: url(/media/mine/Map_hover.png) no-repeat center;
 	background-size: 50%;
}

.scanning_2 {
 	background: url(/media/icons/Scan/Sonar.png) no-repeat center;
 	background-size: 40%;
}

.scanning_2:hover {
 	background: url(/media/mine/Sonar_hover.png) no-repeat center;
 	background-size: 60%;
}

.scanning_3 {
 	background: url(/media/icons/Scan/Guide%20Dwarf.png) no-repeat center;
 	background-size: 60%;
}

.scanning_3:hover {
 	background: url(/media/mine/Guide%20Dwarf_hover.png) no-repeat center;
 	background-size: 70%;
}

.scanning_4 {
 	background: url(/media/icons/Scan/Spell.png) no-repeat center;
 	background-size: 40%;
}

.scanning_4:hover {
 	background: url(/media/mine/Spell_hover.png) no-repeat center;
 	background-size: 50%;
}

.scanning_5 {
 	background: url(/media/icons/Scan/Oil%20Lamp.png) no-repeat center;
 	background-size: 40%;
}

.scanning_5:hover {
 	background: url(/media/mine/Oil%20Lamp_hover.png) no-repeat center;
 	background-size: 50%;
}

.moving_2 {
 	background: url(/media/icons/Vehicle/Cart.png) no-repeat center;
 	background-size: 60%;
}

.moving_2:hover {
 	background: url(/media/mine/Cart_hover.png) no-repeat center;
 	background-size: 70%;
}

.moving_3 {
 	background: url(/media/icons/Vehicle/Donkey.png) no-repeat center;
 	background-size: 70%;
}

.moving_3:hover {
 	background: url(/media/mine/Donkey_hover.png) no-repeat center;
 	background-size: 80%;
}

.moving_4 {
 	background: url(/media/icons/Vehicle/Truck.png) no-repeat center;
 	background-size: 80%;
}

.moving_4:hover {
 	background: url(/media/mine/Truck_hover.png) no-repeat center;
 	background-size: 90%;
}

.moving_1 {
 	background: url(/media/icons/Vehicle/Wheelbarrow.png) no-repeat center;
 	background-size: 60%;
}

.moving_1:hover {
 	background: url(/media/mine/Wheelbarrow_hover.png) no-repeat center;
 	background-size: 70%;
}

.moving_0 {
 	background: url(/media/icons/Vehicle/Boots.png) no-repeat center;
 	background-size: 40%;
}

.moving_0:hover {
 	background: url(/media/mine/Boots_hover.png) no-repeat center;
 	background-size: 50%;
}
 

@media (min-width: 0px) {

	.store_sign_area .row {
		height: 50px;
	}

	.store .row, .store .row > div {
		height: 100px;
	}

	.map .row {
		height: 150px;
	}

	.landscape .row, .landscape .row > div {
		height: 100px;
	}

	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 60px;
	}

.shaft, .shaft:hover {
 	background-size: contain;
}


}

@media (min-width: 500px) {

	.store_sign_area .row {
		height: 100px;
	}

	.store .row, .store .row > div {
		height: 200px;
	}

.map .row {
	height: 250px;
}



	.landscape .row, .landscape .row > div {
		height: 175px;
	}

	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 90px;
	}


}


@media (min-width: 768px) {
	.store_sign_area .row {
		height: 150px;
	}

	.store .row, .store .row > div {
		height: 200px;
	}

.map .row {
	height: 300px;
}

.landscape .row, .landscape .row > div {
	height: 200px;
}

.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 90px;
}

.shaft, .shaft:hover {
 	background-size: 70%;
}

}

@media (min-width: 992px) {

.store .row, .store .row > div {
		height: 170px;

	}

.map .row {
	height: 375px;
}

.landscape .row, .landscape .row > div {
	height: 260px;
}

.shaft .row, .mine .row, .score .row, .mine .row> div {
	height: 110px;
}

.equip img {
        width: 40px;
    }

.equip {

        font-size: medium;
    }

.scores{
    font-size: small;
    }

.progress  {
        margin-top: 2%;

    }

 .well {
        height: 46%;
    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .container{
        width: 888px;
        margin-left: 270px;
    }
    #shoprow{
        margin-left: 107px;
    }

    #generalstore{
        margin-left: 70px;
    }

    #shopgold{
        height: 48%;
        width: 23%;
    }

    #shopgold img {
        height: 50px;
    }

}

@media (min-width: 1200px) {

.store .row, .store .row > div {
		height: 200px;
        width: 200px;

	}

.map .row {
	height: 375px;
}

.landscape .row, .landscape .row > div {
	height: 260px;
}

.shaft .row, .mine .row, .score .row, .mine .row> div {
	height: 110px;
}

.equip img {
        width: 40px;
    }

.equip {

        font-size: medium;
    }

.scores{
    font-size: small;
    }

.progress  {
        margin-top: 2%;

    }

 .well {
        height: 46%;
    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .container{
        width: 888px;
        margin-left: 270px;
    }
    #shoprow{
        margin-left: 326px;
    }

    #generalstore{
        margin-left: 163px;
    }

    #shopgold{
        height: 311px;
        width: 23%;
    }

    #shopgold img {
        height: 50px;
    }

    #shoppe {
        height: 233px;
        font-size: small;
        width: 162px;
    }

     #resultcol {
        font-size: medium;
        width: 300px;
    }

     #buystuff {
         width: 100px;
         margin-top: 10px;
         /*margin-bottom: 100px;*/
         margin-left: 20%;
     }

     #mapstats {
        font-family: pixelfont;
        border-color: #000000;
        border-width: 2px;
        height: 325px;
        font-size: large;
        background-color: rgba(245, 222, 179, 0.46);
        color: gold;
        width: 283px;
     }


     #mapstats img {
         height: 60px;
     }

     #mapstats2 {
        font-family: pixelfont;
        border-color: #000000;
        border-width: 2px;
        height: 328px;
        font-size: large;
        background-color: rgba(245, 222, 179, 0.46);
        color: gold;
        width: 283px;
     }

     #mapstats2 img {
         height: 60px;
     }

     #totalwell {
        font-family: pixelfont;
        border-color: #000000;
        border-width: 2px;
        height: 110px;
        font-size: large;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.85);
        color: gold;
        width: 283px;
     }

     #img_ID {
        width: 930px;
        margin-left: 92px;


     }
     #shoppe {
        font-family: pixelfont;
     }

     #achleader {
         height: 30px;
}
}

@media (min-width: 1300px) {

	.store .row, .store .row > div {
		height: 220px;
        width: 220px;
	}

	.map .row {
		height: 400px;
	}

	.landscape .row, .landscape .row > div {
		height: 330px;
	}
	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 130px;
	}
    .row .hidden > div {
        height: 130px;
    }

    .equip img {
        width: 40px;
    }

    .equip {

        font-size: medium;
    }

    .scores{
        font-size: small;
    }

    .well {
        height: 46%;
    }

    .progress {
        margin-top: 2%;

    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #shoprow{
        margin-left: 340px;
    }

    #generalstore{
        margin-left: 180px;
    }

    #shopgold{
        height: 48%;
        width: 23%;
    }

    #shopgold img {
        height: 50px;
    }

    #shoppe {
        font: pixelfont;
        width: 170px;
        padding-right: 5%;

    }

    #resultcol {
        font-size: medium;
        width: 300px;
    }

    #details_well .thumbnail{
        width: 500px;
    }

    #buystuff {
         width: 100px;
         margin-top: 30px;
         margin-bottom: 100px;
         margin-left: 20%;
     }


    #img_ID {
        width: 970px;
        margin-left: 92px;
     }

    #shoppe {
        font-family: pixelfont;
    }
    #achleader {
         height: 30px;
}
}



@media (min-width: 1500px) {

	.store .row, .store .row > div {
		height: 300px;
        width: 300px;
	}

	.map .row {
		height: 400px;
	}

	.landscape .row, .landscape .row > div {
		height: 330px;
	}
	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 130px;
	}
    .row .hidden > div {
        height: 130px;
    }

    .equip img {
        width: 80px;
    }

    .scores{
        font-size: large;
    }

    .container {
        margin-left: 295px;
        width: 1599px;
    }

     .progress {
        margin-top: 4%;
    }

    #shoprow{
        margin-left: 486px;
    }

     #shopgold img {
        height: 70px;
    }

     #shopgold{
       font-size: x-large;
       height: 38%;
       width: 350px;

    }

     #generalstore{
        margin-left: 200px;
        margin-bottom: 3%;
    }

     #shoppe {
        font-family: pixelfont;
        font-size: medium;
        width: 230px;
    }

     #buystuff {
        width: 158px;
        margin-top: 50%;
        /*margin-bottom: 100px;*/
        margin-left: 20%;
     }

     #mapstats {
         width: 380px;
         height: 350px;
     }

     #mapstats img{
        height: 70px;
     }

     #mapstats2 {
         width: 280px;
         height: 350px;
     }

     #mapstats2 img {
         height: 70px;
     }

      #img_ID {
        width: 100%;
        margin-left: 25px;
     }
      #achleader {
         height: 40px;
}

   }

@media (min-width: 1700px) {

	.store .row, .store .row > div {
		height: 300px;
        width: 300px;
	}

	.map .row {
		height: 400px;
	}

	.landscape .row, .landscape .row > div {
		height: 330px;
	}
	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 130px;
	}
    .row .hidden > div {
        height: 130px;
    }

    .equip img {
        width: 80px;
    }

    .scores{
        font-size: large;
    }

    .container {
        margin-left: 295px;
        width: 1599px;
    }

     .progress {
        margin-top: 4%;
    }

    #shoprow{
        margin-left: 486px;
    }

     #shopgold img {
        height: 70px;
    }

     #shopgold{
       font-size: large;
       height: 37%;
       width: 328px;

    }

     #generalstore{
        margin-left: 200px;
        margin-bottom: 5%;
    }

     #shoppe {
        font-family: pixelfont;
        font-size: medium;
        width: 230px;
    }

     #buystuff {
        width: 158px;
        margin-top: 50%;
        /*margin-bottom: 100px;*/
        margin-left: 20%;
     }

     #mapstats {
         width: 400px;
         height: 370px;
     }

     #mapstats img{
        height: 70px;
     }

     #mapstats2 {
         width: 330px;
         height: 370px;
     }

     #mapstats2 img {
         height: 60px;
     }

      #img_ID {
        width: 100%;
        margin-left: 25px;
     }
      #achleader {
         height: 40px;
}

   }



.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    color: gold;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 8px;


}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    width: 8px;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
    background: rgba(79, 79, 79, 0.80);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.40);
}

::-webkit-scrollbar-corner {
    background-color: rgba(255, 0, 0, 0);

}


