/* custom CSS */


#home{
    background-position: 25%;

    background-image: url(/static/Wild%20West%20Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 5%;

    margin-bottom: 0;

}

#about{
    background-position: center bottom;
    color: #000000;
    background-image: url(/static/Wild%20West%20Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 3%;
    height: 0;
    margin-bottom: 0;
}

.game {
    background-position: center bottom;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 3%;
    height: 0;
    margin-bottom: 0;
}

#California_landscape {
    background-image: url(/static/Wild%20West%20Background.png)
}

#Scotland_landscape {
    background-image: url(/static/Scotland.png)
}

#Yukon_landscape {
    background-image: url(/static/Yukon.png)

}

#Yukon_landscape h1 {
    margin-top: 14%;
}

#currentgold {
    text-align: right;
    width: 60%;
}

#totalgold {
    text-align: right;
    width: 60%;
}

#right{
    text-align: right;
    width: 10%;
}


#rank{
    width: 6%;
}

#mine{
    background-image: url(/static/ground.jpg);
    background-repeat: repeat;
}

#stats{
    font-family: pixelfont;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.17);
    position: fixed;
    border-radius: 4px;

}

#statsright{
    font-family: pixelfont;

    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.17);
    padding-left: 1.5%
}

#statsicon {
    border-radius: 4px;
    border-width: medium;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.16);
}

#side {
    height: 1000px;
}

#controls {
    margin-right: 0%;
    margin-left: 0%;
}

#disclaimerlabel {
    width: 26%;
    padding-right: 15px;
}

#text {
    width: 74%;
}


#resultcol {
    font-family: pixelfont;
    color: gold;
    font-size: 150%;
    padding-left: 3%;

}

#store {
    background-image: url(/media/mine/wood_texture.jpg);
}

#storesign {
    width: 30%;
    margin-left: 32%;
    margin-top: 2%;
}
h1, h2, h3, p {

    color:#000000;
}

hr {
    border-top: 2px groove rgba(0, 0, 0, 0.59);
    background-color: rgba(255, 255, 255, 0);
}

body{
    color: black;
}

#leaderboards{
    background-color: #acacac;
}



@font-face {
    font-family: pixelfont;
    src: url(/static/fonts/Pixelate.ttf);
}

.equipment {
    align-content: center;
    margin-right: 20px ;
    background-color: rgba(255, 255, 255, 0.10);

    border-radius: 4px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 2%
}


.equip {
    width: inherit;
    height: inherit;
}

.equip td, th{
    text-align: right;
    padding-left: 15%;
    height: 29px;
    width: 49px;
}

.equip img {
    width: 20%;
}


.scores td{
    text-align: center;
    width: inherit;
    line-height: 155%;
}

.progress {
    background-color: rgba(255, 255, 255, 0);
}

.current {
    padding-left: 3%;
    width: 200px;
}

.well {
    padding-top: 1%;
    margin-right: 1%;
    font-family: pixelfont;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
    width: inherit;
    height: 47%;
    font-size: 150%;
    color: gold;
    position: fixed;

}


.buttons {
    font-family: pixelfont;
    width: 60px;
    height: 40px;


}


.results {
    font-family: pixelfont;
    font-size: 150%;
    color: gold;
    padding-left: 4%;
}


.score_right {
    width: inherit;
    align-items: center;
    font-size: 150%;
    font-family: pixelfont;
    padding-left: 3%;
    background-color: rgba(255, 255, 255, 0.16);
}


.hidden{
    visibility: hidden;

}

.colophon {
    width: 100%;
    height: 30%;
}

.gameover {
    background-color: black;
    font-family: pixelfont;
    color: #ffffff;
    font-size: 400%;
    text-align: center;

}

.newrow {
    padding-top: 6%;
    height: 130px;
}

.move {
	margin-left: 0;
    font-family: pixelfont;
    color: #000000;
}

.description {
    height: 250px;
    font-family: pixelfont;
    font-size: medium;
}

.thumbnail {
    border: 2px solid #000000;
}

.thumbnail img {
    width: 50%;
}

/******************************************************************************/


.dig_view {
 padding-top: 0;
 background: url(/static/ground.jpg);
}

.map_view {
 padding-top: 50px;
 background: #eacc99;
}

.store_view {
 padding-top: 50px;
 background: url(/media/mine/wood_texture.jpg) repeat;
}

.landscape_container {
	min-width: 100% !important;
}

.col-centered {
    margin: 0 auto;
}


.landscape_1 {
 		background: url(../media/landscape_1.png) no-repeat center top;
 		background-size: cover;
}

.landscape_2 {
 		background: url(../media/landscape_2.png) no-repeat center top;
 		background-size: cover;
}

.landscape_3 {
 		background: url(../media/landscape_3.png) no-repeat center top;
 		background-size: cover;
}

.landscape_4 {
 		background: url(../media/landscape_4pixel.png) no-repeat center top;
 		background-size: cover;
}

.landscape_5 {
 		background: url(/static/Wild%20West%20Background.png) no-repeat center bottom;
 		background-size: 100%;

}

.landscape_6 {
 		background: url(../media/landscape_6.png) no-repeat center top;
 		background-size: cover;
}

.landscape_7 {
 		background: url(../media/landscape_7.png) no-repeat center top;
 		background-size: cover;
}

.landscape_8 {
 		background: url(../media/landscape_8.png) no-repeat center top;
 		background-size: cover;
}

.landscape_9 {
 		background: url(../media/landscape_9.png) no-repeat center top;
 		background-size: cover;
}

.landscape_10 {
 		background: url(../media/landscape_10.png) no-repeat center top;
 		background-size: cover;
}

.extraction_technology_1 {
 	background: url(../media/extraction_technology_1.png) no-repeat center bottom;
 	background-size: contain;
}

.extraction_technology_2 {
 	background: url(../media/extraction_technology_2.png) no-repeat center bottom;
 	background-size: contain;
 	}

.extraction_technology_3 {
 	background: url(../media/extraction_technology_3.png) no-repeat center bottom;
 	background-size: contain;
 	}

.extraction_technology_4 {
 	background: url(../media/extraction_technology_4pixel.png) no-repeat center bottom;
 	background-size: contain;
 	}

.shaft_shack {
 	background: url(../media/shaft_shack.png) no-repeat right -11px bottom;
 	background-size: 15%;
}

.total {
 	background: url(../media/total.png) no-repeat center bottom;
 	margin-top: 20px;
}

.map_button {
 	background: url(../media/map_button.png) no-repeat center top;
 	background-size: 90%;
 	height: 80%;
}

.map_button:hover {
 	background: url(../media/map_button_hover.png) no-repeat center top;
 	background-size: 90%;
 	height: 80%;
}

.mine > div > div {
	position: relative;
}

.button_icon {
 	float: left;
	border-radius: 10px;
 	width: 30px;
 	height: 30px;	
 	margin: 0px 10px 0px 0px;
  	opacity: 0.7;
}

.icon_dig_1 {
 	background: #990000 url(../media/icon_dig_1.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_dig_2 {
 	background: #990000 url(../media/icon_dig_2.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_dig_3 {
 	background: #990000 url(../media/icon_dig_3.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_dig_4 {
 	background: #990000 url(../media/icon_dig_4.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_move_1 {
 	background: #009900 url(../media/icon_move_1.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_move_2 {
 	background: #009900 url(../media/icon_move_2.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_move_3 {
 	background: #009900 url(../media/icon_move_3.png) no-repeat center top;
 	background-size: 100% 100%;
}

.icon_move_4 {
 	background: #009900 url(../media/icon_move_4.png) no-repeat center top;
 	background-size: 100% 100%;
}

.button {
 	background: #dfdfdf;
	margin-top: 13%;
    float: left;
    vertical-align: top;
    width: 100px;
}

.button:hover {
	text-decoration: none;
 	box-shadow: 0px 0px 10px #fff;
}

.dig_button {
	position: absolute;
	top: 20%;
	right: 5px;
}



.button:hover > .button_icon {
	opacity: 1.0;
}

.button_text {
	float: right;
	text-decoration: none;
	color: #cccccc;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0px;
}

.map_button:hover {
 	background: url(../media/map_button_hover.png) no-repeat center top;
 	background-size: 90%;
 	height: 80%;
}

.score_1 {
 	background: url(/media/mine/score_nuggets_1.png) no-repeat center top;
 	background-size: contain;
}

.score_2 {
 	background: url(/media/mine/score_nuggets_2.png) no-repeat center top;
 	background-size: contain;
}

.score_3 {
 	background: url(/media/mine/score_nuggets_3.png) no-repeat center top;
 	background-size: contain;
}

.score_4 {
 	background: url(/media/mine/score_nuggets_4.png) no-repeat center top;
 	background-size: contain;
}

.nuggets_0 {
 	background: url(/media/mine/main_nuggets_6pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_1 {
 	background: url(/media/mine/main_nuggets_6pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_2 {
 	background: url(/media/mine/main_nuggets_5pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_3 {
 	background: url(/media/mine/main_nuggets_4pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_4 {
 	background: url(/media/mine/main_nuggets_3pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_5 {
 	background: url(/media/mine/main_nuggets_2pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.nuggets_6 {
 	background: url(/media/mine/main_nuggets_1pixel.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_1 {
 	background: url(/media/mine/flecks_1.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_2 {
 	background: url(/media/mine/flecks_2.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_3 {
 	background: url(/media/mine/flecks_3.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_4 {
 	background: url(/media/mine/flecks_4.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_5 {
 	background: url(/media/mine/flecks_5.png) no-repeat center;
 	background-size: 100% 100%;
}

.flecks_6 {
 	background: url(/media/mine/flecks_6.png) no-repeat center;
 	background-size: 100% 100%;
}

.scaffold_1 {
 	background: url(/media/mine/scaffold_1pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_1_shaded {
 	background: url(/media/mine/scaffold_1_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_2 {
 	background: url(/media/mine/scaffold_2pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_2_shaded {
 	background: url(/media/mine/scaffold_2_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.scaffold_3 {
 	background: url(/media/mine/scaffold_3pixel.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_3_shaded {
 	background: url(/media/mine/scaffold_3_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_shaft {
 	background: url(/media/mine/scaffold_shaft.png) no-repeat center top;
 	background-size: 100% 100%;
 	}
 	
.scaffold_shaft_shaded {
 	background: url(/media/mine/scaffold_shaft_shaded.png) no-repeat center top;
 	background-size: 100% 100%;
 	}

.mine, .shaft {
	background: rgba(0,0,0,0.3);
}



.store_sign {
 		background: url(/media/mine/store_sign.png) no-repeat center top;
 		background-size: contain;
 		margin-top: 50px;
}

.left .row {
 	background: url(/media/mine/shelf_cubes_left.jpg) no-repeat center top;
 	background-size: 100% 100%;
}
 	
.right .row {
 	background: url(/media/mine/shelf_cubes_right.jpg) no-repeat center top;
 	background-size: 100% 100%;
}

.row:hover > div > .buy_1 {
 	background: url(../media/buy_1.png) no-repeat center bottom;
 	background-size: 100%;
 	height: 100%;
}

.row:hover > div > .buy_2 {
 	background: url(../media/buy_2.png) no-repeat center bottom;
 	background-size: 100%;
 	height: 100%;
}

.row:hover > div > .buy_3 {
 	background: url(../media/buy_3.png) no-repeat center bottom;
 	background-size: 100%;
 	height: 100%;
}

.row:hover > div > .buy_4 {
 	background: url(../media/buy_4.png) no-repeat center bottom;
 	background-size: 100%;
 	height: 100%;
}

.digging_1 {
 	background: url(/media/icons/Tools/Shovel_normal.png) no-repeat center;
 	background-size: 80%;
}

.digging_1:hover {
 	background: url(/media/mine/Shovel_normal_hover.png) no-repeat center;
 	background-size: contain;
}

.digging_2 {
 	background: url(/media/icons/Tools/Shovel_golden.png) no-repeat center;
 	background-size: 80%;
}

.digging_2:hover {
 	background: url(../media/store_digging_2_hover.png) no-repeat center;
 	background-size: contain;
}

.digging_3 {
 	background: url(/media/icons/Tools/Dynamite.png) no-repeat center;
 	background-size: 60%;
}

.digging_3:hover {
 	background: url(../media/store_digging_3_hover.png) no-repeat center;
 	background-size: contain;
}

.digging_4 {
 	background: url(/media/icons/Tools/Mecha.png) no-repeat center;
 	background-size: 60%;
}

.digging_4:hover {
 	background: url(../media/store_digging_4_hover.png) no-repeat center;
 	background-size: contain;
}

.extraction_1 {
 	background: url(../media/store_extraction_1.png) no-repeat center;
 	background-size: contain;
}

.extraction_1:hover {
 	background: url(../media/store_extraction_1_hover.png) no-repeat center;
 	background-size: contain;
}

.extraction_2 {
 	background: url(../media/store_extraction_2.png) no-repeat center;
 	background-size: contain;
}

.extraction_2:hover {
 	background: url(../media/store_extraction_2_hover.png) no-repeat center;
 	background-size: contain;
}

.extraction_3 {
 	background: url(../media/store_extraction_3.png) no-repeat center;
 	background-size: contain;
}

.extraction_3:hover {
 	background: url(../media/store_extraction_3_hover.png) no-repeat center;
 	background-size: contain;
}

.extraction_4 {
 	background: url(../media/store_extraction_4.png) no-repeat center;
 	background-size: contain;
}

.extraction_4:hover {
 	background: url(../media/store_extraction_4_hover.png) no-repeat center;
 	background-size: contain;
}

.scanning_1 {
 	background: url(/media/icons/Scan/Map.png) no-repeat center;
 	background-size: 40%;
}

.scanning_1:hover {
 	background: url(../media/store_scanning_1_hover.png) no-repeat center;
 	background-size: contain;
}

.scanning_2 {
 	background: url(/media/icons/Scan/Sonar.gif) no-repeat center;
 	background-size: 40%;
}

.scanning_2:hover {
 	background: url(../media/store_scanning_2_hover.png) no-repeat center;
 	background-size: contain;
}

.scanning_3 {
 	background: url(/media/icons/Scan/Guide%20Dwarf.png) no-repeat center;
 	background-size: 60%;
}

.scanning_3:hover {
 	background: url(../media/store_scanning_3_hover.png) no-repeat center;
 	background-size: contain;
}

.scanning_4 {
 	background: url(/media/icons/Scan/Spell.png) no-repeat center;
 	background-size: 40%;
}

.scanning_4:hover {
 	background: url(../media/store_scanning_4_hover.png) no-repeat center;
 	background-size: contain;
}

.moving_2 {
 	background: url(/media/icons/Vehicle/Cart.png) no-repeat center;
 	background-size: 60%;
}

.moving_2:hover {
 	background: url(../media/store_moving_1_hover.png) no-repeat center;
 	background-size: contain;
}

.moving_3 {
 	background: url(/media/icons/Vehicle/Donkey.png) no-repeat center;
 	background-size: 80%;
}

.moving_3:hover {
 	background: url(../media/store_moving_2_hover.png) no-repeat center;
 	background-size: contain;
}

.moving_4 {
 	background: url(/media/icons/Vehicle/Truck.png) no-repeat center;
 	background-size: 80%;
}

.moving_4:hover {
 	background: url(../media/store_moving_3_hover.png) no-repeat center;
 	background-size: contain;
}

.moving_1 {
 	background: url(/media/icons/Vehicle/Wheelbarrow.png) no-repeat center;
 	background-size: 60%;
}

.moving_1:hover {
 	background: url(../media/store_moving_4_hover.png) no-repeat center;
 	background-size: contain;
}
 

@media (min-width: 0px) {

	.store_sign_area .row {
		height: 50px;
	}

	.store .row, .store .row > div {
		height: 100px;
	}

	.map .row {
		height: 150px;
	}

	.landscape .row, .landscape .row > div {
		height: 100px;
	}

	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 60px;
	}

.shaft, .shaft:hover {
 	background-size: contain;
}


}

@media (min-width: 500px) {

	.store_sign_area .row {
		height: 100px;
	}

	.store .row, .store .row > div {
		height: 200px;
	}

.map .row {
	height: 250px;
}



	.landscape .row, .landscape .row > div {
		height: 175px;
	}

	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 90px;
	}


}


@media (min-width: 768px) {
	.store_sign_area .row {
		height: 150px;
	}

	.store .row, .store .row > div {
		height: 200px;
	}

.map .row {
	height: 300px;
}

.landscape .row, .landscape .row > div {
	height: 200px;
}

.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 90px;
}

.shaft, .shaft:hover {
 	background-size: 70%;
}

}

@media (min-width: 992px) {

	.store .row, .store .row > div {
		height: 250px;
	}

.map .row {
	height: 375px;
}

.landscape .row, .landscape .row > div {
	height: 260px;
}

.shaft .row, .mine .row, .score .row, .mine .row> div {
	height: 110px;
}

.equip img {
        width: 40px;
    }

.equip {

        font-size: medium;
    }

.scores{
    font-size: small;
    }

.progress  {
        margin-top: 4%;

    }

 .well {
        height: 46%;
    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

}

@media (min-width: 1200px) {

	.store .row, .store .row > div {
		height: 300px;
	}

	.map .row {
		height: 400px;
	}

	.landscape .row, .landscape .row > div {
		height: 330px;
	}
	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 130px;
	}
    .row .hidden > div {
        height: 130px;
    }

    .equip img {
        width: 40px;
    }

    .equip {

        font-size: medium;
    }

    .scores{
        font-size: small;
    }

    .well {
        height: 46%;
    }

    .progress {
        margin-top: 4%;

    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

   }

@media (min-width: 1500px) {

	.store .row, .store .row > div {
		height: 300px;
	}

	.map .row {
		height: 400px;
	}

	.landscape .row, .landscape .row > div {
		height: 330px;
	}
	.shaft .row, .mine .row, .score .row, .mine .row > div {
		height: 130px;
	}
    .row .hidden > div {
        height: 130px;
    }

    .equip img {
        width: 80px;
    }

    .scores{
        font-size: large;
    }

   }


.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    color: gold;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
