<!DOCTYPE html>
{% load static %}


<html>
    <head>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css'%} " rel="stylesheet" media="screen">


        <title>Badsearch! {% block title %}{% endblock %}</title>
    </head>

    <body>


    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/badsearch/">Badsearch!</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


            {% if user.is_authenticated %}
                 <ul class="nav navbar-nav">
                <li class="navbar-brand"> Welcome {{ user.username}}! </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
             <li><a href="/badsearch/">Search</a></li>
             <li><a href="/badsearch/profile">Profile</a></li>
            <li><a href="/badsearch/about">About</a></li>
            <li><a href="/badsearch/logout">Sign Out</a></li>
                </ul>

        {% else %}
                <ul class="nav navbar-nav">
                <li class="navbar-brand">Welcome Stranger!</li>
                </ul>

             <ul class="nav navbar-nav navbar-right">
             <li ><a href="/badsearch/about">About</a></li>
             <li ><a href="/badsearch/register">Register</a></li>
             <li ><a href="/badsearch/login">Sign In</a></li>
             </ul>
        {% endif %}

          </ul>

        </div>
      </div>
    </div>
        <center>

    <div class="container">

      <div class="page-header" id="banner">

         <div class="container-fluid" style="max-width:800px">
    <div class="row-fluid">

        <div class="span8">
            {% block body_block %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>



<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootswatch.js' %}"></script>
    </body>
</html>