{% extends 'badsearch/base.html' %}

{% block body_block %}
    <div align="left">
    {% if completed %}
    <br> <br>
    <div align="center"></div>
    Thank you for completing the survey! <a href = "/">Begin Searching</a>
    </div>
    {% else %}
    <br> <br>
         <form id="reg_form" method="post" action="/demographics/"
                enctype="multipart/form-data">

        Please complete the following demographic questions to complete your registration. <br>
        Please note that all questions are optional. <br> <br>

         {% csrf_token %}

        {{ demographics_form.as_p }}

         {% if demographics_form.errors %}
             <div class="alert alert-danger">

             {% for field in demographics_form %}
                {% if field.errors %}
                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
             </div>
         {% endif %}
             <br>
              <input class="btn btn-primary" type="submit" name="submit" value="Submit"/>
        </form>
    {% endif %}
    </div>
{% endblock %}