{% extends 'badsearch/base.html' %}
{% load static %}

{% block body_block %}
<div class="hero-unit">
        {% if user.is_authenticated %}
        <div align="center">
        <h1>Welcome to Badsearch, {{ user.username }}!<br></h1>
        <br>
        Begin searching below:<br><br><br><br>
        <form id="search" action="/search/" method="post">
        {% csrf_token %}
            <input type="text" size="60" name="query" value= "{{ query }}"  id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
        </form>
        </div>
        {% else %}
        <div align="center">
        <h1>Welcome to Badsearch!</h1><br>
        </div>
    <div align = "left">

    Badsearch is a search application developed by Iain Hendry, an MSc IT student at the University of Glasgow,
    as part of a research project. The following Study Information must be understood and agreed to before participation
    in this study:<br />
    <br />
    <ul>
            <li> The application is powered by a popular search engine, and is intended to be used in place of your favourite
            search engine for the duration of the experiment.</li>
            <li>As part of the study you will be asked to complete some optional questionnaires regarding your
            demographics and experience with the application.</li>
            <li>The experiment will last for X days, beginning on X July, 2014.</li>
            <li>Participation in this study is voluntary, and you may withdraw consent to use the information you provided
                at any time before the X of August, 2014.</li>
            <li>Your name will not appear on any published document in relation to this study.</li>
            <li>The time you spend on each query will be recorded for purposes of this experiment. Your specific queries
                will not be recorded, nor will any URLs visited using this application.</li>
            <li>Your details will not be used for any purposes other than this experiment, and will not be passed on to
            any third party.</li>
            <li>You are able to ask questions at any time before, during or after the experiment using the contact
            details below.</li>

        </ul>
    <br>
       </div> <div align = "center"></div>
    If you would like to participate, Please <a href="/login">login</a> or <a href="/register">register</a> to begin searching. <br />
    <br />
    If you have any questions or problems please contact Iain at:
    <a href ="mailto:0900282h@student.glasgow.ac.uk"> 0900282h@student.glasgow.ac.uk</a><br>
    or the project supervisor, Dr. Leif Azzopardi, at: <a href ="mailto:Leif.Azzopardi@glasgow.ac.uk">
                                                 Leif.Azzopardi@glasgow.ac.uk</a> <br /><br />
    {% endif %}
    </body>
</div>
{% endblock %}
