{% extends 'badsearch/base.html' %}


{% block body_block %}
<div class="jumbotron">

    <div align="center" class="container">
    <form id="login_form" method="post" action="/login/">
       <br> <h2 class="form-signin-heading">Sign in to Badsearch</h2> <br><br>
        {% csrf_token %}

        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Badsearch account is currently disabled; we can't log you in!</strong></p>
        {% endif %}
        <fieldset></fieldset>
        <div class="form-group">
        <label for="username" class="col-lg-2 control-label">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" style="clear: both;" />
        <br />

        <label for="password" class="col-lg-2 control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Sign in</button>
         </div>
    </fieldset>
    </form>
    {% if error %}
    <p class="alert alert-danger" size = "medium">{{ error }}</p>
    {% endif %}
    </div>
    <!-- /container -->
</div>
{% endblock %}

