{% extends 'badsearch/base.html' %}
{% load static %}

{% block body_block %}
<div class="hero-unit">
    {% if user.is_authenticated %}
        <h1>Here is your Netsearch profile, {{ user.username }}!</h1><br>

        <body>
        {% if demographics %}
        Username: {{ user.username }}<br>
        {% if profile.picture %}Picture: <img src="/media/{{ profile.picture }}" alt="Profile picture unavailable" /> <br>{% endif %}
        Age: {{ demographics.age }}<br>
        Gender: {{ demographics.sex }}<br>
        Undergraduate Degree: {{ demographics.education_undergrad }}<br>
        Major: {{ demographics.education_undergrad_major }}<br>
        Year: {{ demographics.education_undergrad_year }}<br><br>
        {% else %}
                    You haven't completed the demographic form yet. <a href = "/demographics/">Do it now!</a><br><br>
        {% endif %}

        User Since: {{ profile.user_since }}<br>
        Number of Queries: {{ profile.num_query }} <br>
        Number of URLs Visited: {{ profile.num_links }} <br>
        Time Remaining of Experiment: <br><br>

        </body>

        <a href="/demographics"> Edit your profile</a><br />
        {% else %}
        <h1>You are not logged in! Please login or register to access your profile.</h1>
        {% endif %}
</div>
{% endblock %}