{% extends 'badsearch/base.html' %}
{% load static %}

{% block body_block %}

    {% if user.is_authenticated %}
        <h1>Here is your Badsearch profile, {{ user.username }}!</h1>

        <body>
        Username: {{ user.username }}<br>
        Picture: <img src="path/to/images/{{ profile.picture }}" alt="Profile picture unavailable" /><br>
        Age: {{ demographics.age }}<br>
        Gender: {{ demographics.sex }}<br>
        Undergraduate Degree: {{ demographics.education_undergrad }}<br>
        Major: {{ demographics.education_undergrad_major }}<br>
        Year: {{ demographics.education_undergrad_year }}<br><br>
        User Since: {{ profile.user_since }}<br>
        Number of Queries: {{ profile.num_query }} <br>
        Number of URLs Visited: {{ profile.num_links }} <br>
        Time Remaining of Experiment: <br><br>

        </body>

        <a href="/badsearch/"> Return to the homepage</a><br />
        {% else %}
        <h1>You are not logged in! Please login or register to access your profile.</h1>
        <a href="/badsearch/"> Return to the homepage</a><br />
        {% endif %}

{% endblock %}