{% extends 'badsearch/base.html' %}

{% block body_block %}

        <div align="left">
        {% if registered %}
       <div align = center>
       Thank you for registering.<br>
       Please continue to our <a href = "/demographics/">Demographic Survey</a><br>
       Alternatively, <a href = "/">Skip the survey and begin searching</a>
        </div>
        {% else %}
        <form class="form-signin span8" id="user_form" method="post" action="/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>
            <!-- Display each form here -->

        Thank you for your interest in participating in this experiment.<br />
        This application is powered by a popular search engine, <b>please use this application
        in place of your favourite search engine for the duration of this experiment.</b><br />

        <strong>Please fill in your details below and agree to the Study Information to begin searching.</strong><br><br>

        <strong>Study Information:</strong><br>
        Netsearch is a search application developed by Iain Hendry, an MSc IT student at the University of Glasgow,
        as part of a research project. <strong>Please read the Study Information below and tick the boxes to agree to the terms
        of this study.</strong><br><br>
        <ul>
            <li> The application is powered by a popular search engine, and is intended for to be used in place of your favourite
            search engine for the duration of the experiment.<br></li>
            <li>As part of the study you will be asked to complete some optional questionnaires regarding your
            demographics and experience with the application.<br></li>
            <li>The experiment will last for X days, beginning on X July, 2014.</li>
            <li>Participation in this study is voluntary, and <b>you may withdraw consent to use the information you provided
                at any time before the X of August, 2014.</b></li>
            <li>Your name will not appear on any published document in relation to this study.</li>
            <li>The time you spend on each query will be recorded for purposes of this experiment. <b>Your specific queries
                will not be recorded, nor will any URLs visited using this application.</b></li>
            <li><b>Your details will not be used for any purposes other than this experiment, and will not be passed on to
            any third party.</b></li>
            <li>You are able to ask questions at any time before, during or after the experiment using the contact
            details available on the <a target=_blank href="/about">About</a> page.</li>

        </ul>

         {% for field in validation_form %}
            {{ field }}{{ field.label_tag }}
            <br><br>
        {% endfor %}<br>

        <table>
        <tbody>
        {% for field in user_form %}
            <tr class="spaceUnder">
            <td align="'right">{{ field.label }}: </td>
            <td align="left"> {{ field }} </td>
            </tr>
        </tbody>

        {% endfor %}
        </table>

        {% if user_form.errors or validation_form.errors %}
            <div class="alert alert-danger">

                {% for field in user_form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}

                {% for field in validation_form %}
                    {% if field.errors %}
                    <li>{{ field.label }} {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
            <br>
            <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}

