{% extends 'badsearch/base.html' %}

{% block body_block %}

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/badsearch/">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />
        Thank you for your interest in participating in this experiment.<br />
        This search engine is powered by Microsoft Bing, please use this search engine
        in place of your favourite search engine for the duration of this experiment.<br />

        Please fill in your details below and agree to the terms and conditions to begin searching.

        <form id="user_form" method="post" action="/badsearch/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {{ demographics_form.as_p }}

        <strong>Study Information:</strong><br>
        Badsearch is a search application developed by Iain Hendry, an MSc IT student at the University of Glasgow,
        as part of a research project. Please read the Study Information below and tick the boxes to agree to the terms
        of this study.<br>
        <ul>
            <li> The application is powered by Microsoft Bing, and is intended for to be used in place of your favourite
            search engine for the duration of the experiment.</li>
            <li>As part of the study you will be asked to complete some optional questionnaires regarding your
            demographics and experience with the application.</li>
            <li>The experiment will last for X days, beginning on X July, 2014.</li>
            <li>Participation in this study is voluntary, and you may withdraw consent to use the information you provided
                at any time before the X of August, 2014.</li>
            <li>Your name will not appear on any published document in relation to this study.</li>
            <li>The time you spend on each query will be recorded for purposes of this experiment. Your specific queries
                will not be recorded, nor will any URLs visited using this application.</li>
            <li>Your details will not be used for any purposes other than this experiment, and will not be passed on to
            any third party.</li>
            <li>You are able to ask questions at any time before, during or after the experiment using the contact
            details available on the <a href="/badsearch/about">About</a> page.</li>

        </ul>

            {{ validation_form.as_p }}


            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}