{% extends 'badsearch/base.html' %}

{% block body_block %}

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/badsearch/">Return to the homepage.</a><br />
        {% else %}
        <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/badsearch/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}