{% extends 'pagefetch/base.html' %}
{% block title %}
        Leaderboard
{% endblock %}
{% block container %}
   <div class="well">
        <h1 class="text-center text-warning">Leaderboard</h1>
        <br />
        <h3 class="text-success">High Scores</h3>
        {% if high_scores %}
            <table class="table table-hover table-bordered">
            {% for item in high_scores %}
                <tr class="success">
                    <td><strong>{{item.rank}}</strong></td>
                    <td><a href='/profile/{{item.username}}'>{{item.username}}</a></td>
                    <td><strong>{{item.score}}</strong></td>
                </tr>
            {%endfor%}
            </table>
        {% endif %}
        <h3 class="text-success">Top 10 Category High Scores</h3>
        {% if cat_high_scores %}
            <table class="table table-hover table-bordered">
            {% for item in cat_high_scores %}
              <tr class="success">
                  <td> <strong>{{item.rank}}</strong></td>
                  <td><a href='/profile/{{item.username}}'>{{item.username}}</a></td>
                  <td><a href='/play/{{item.category_url}}'>{{item.category}}</a></td>
                  <td><strong>{{item.score}}</strong></td>
              </tr>
            {%endfor%}
            </table>
        {% endif %}

<!--
       <h3 class="text-success">School High Scores</h3>
        {% if school_hs %}
            <table class="table table-hover table-bordered">
            {% for item in school_hs %}
              <tr class="success">
                  <td> <strong>{{item.rank}}</strong></td>
                  <td><a href='/profile/{{item.username}}'>{{item.username}}</a></td>
                  <td><strong>{{item.score}}</strong></td>
              </tr>
            {%endfor%}
            </table>

        {% endif %}



        <h3 class="text-success">Age group High Scores</h3>
        {% if age_scores %}
            <table class="table table-hover table-bordered">
            {% for item in age_scores %}
              <tr class="success">
                  <td> <strong>{{item.rank}}</strong></td>
                  <td><a href='/profile/{{item.username}}'>{{item.username}}</a></td>
                  <td><strong>{{item.score}}</strong></td>
              </tr>
            {%endfor%}
            </table>

        {% endif %}
-->


        <h3 class="text-success">High Score Average by Gender</h3>
        {% if gender_scores %}
            <table class="table table-hover table-bordered">
            {% for item in gender_scores  %}
              <tr class="success">
                  <td> <strong>{{item.rank}}</strong></td>
                  <td><a href=''>{{item.username}}</a></td>
                  <td><strong>{{item.score}}</strong></td>
              </tr>
            {%endfor%}
            </table>
        {% endif %}

   </div>

{% endblock %}

