{% extends 'base/base.html' %}

{% block exp_info_block %}
<p> <!-- a href="/treconomics/logout">Logout</a> --></p>
{% endblock %}

{% block exp_block %}
<script>
$(document).ready(function(){
    $('.surveySubmitButton').click(function(){
        $(this).hide()
    });
})
</script>

<div class="experimentPageTitle">
   <p> <h1> Practice Task</h1></p>
    <p> So you that you can get acquainted with the search system and newspaper database,
        we would first like you to practice using the system using a task similar to those
        you will do later in the study.
    </p>

    <!--    <p>To get you familar with the system we would like you to undertake the following practice search task.</p>
    <p>The search task is a description of the topic, and the type of information within documents that would be relevant to this specific topic.</p>
    <hr/>
    -->

    <!-- <div id="query" > <b> {{tasktitle}} </b> <span>Search Task: <strong>{{task}}</strong> Search Topic: <strong>{{topic}}</strong></span></div> -->

    <p>{% autoescape off %} <strong>{{taskdescription}}</strong> {% endautoescape %} </p>



    <p>To get familiar with the system, we would like you to:
    <ul>
        <li>- Search for articles about this topic,</li>
        <li>- Mark at least two documents as relevant,</li>
        <li>- Review your list of documents, by selecting "View Saved" , and</li>
        <li>- Select "End Task".</li>
    </ul>
    </p>

</div>




<div style="text-align: center;">
    <p>Click Next to start the practice task.</p>
    <hr/>
<div class=surveySubmitButton">
    <a href="/treconomics/next/"> <button class="button" type="next" >Next</button></a>
</div>
 </div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
