{% extends 'base/base.html' %}

{% block exp_info_block %}
 <p> <!-- a href="/treconomics/logout">Logout</a> -->
 </p>
{% endblock %}

{% block exp_block %}

<p>Now that you've completed the initial demographics survey, we'd like you to try out a <strong>practice search task</strong> to help you familiarise yourself with the search interface, which you'll be using in just a moment.</p>
	
	
<p>Feel free to try out the interface by posing queries and examining the documents returned by the system. Try finding documents that are relevant to the topic description given below.</p>

<div style="padding: 20px;"><em><strong>Topic: Old-Fashioned Piracy in Modern Times</strong></em><br /><em>What modern instances have there been of old fashioned piracy, the boarding or taking control of boats?<br />Documents discussing piracy on any body of water are relevant.<br />Documents discussing the legal taking of ships or their contents by a national authority are non-relevant.<br />Clashes between fishing vessels overfishing are not relevant, unless one vessel is boarded.</em></div>
	
	
<p> Try to find a document that is relevant to the practice task. When you find a relevant document you will be able to mark it as relevant by clicking the button <em>'Mark as Relevant'.</em></p>

<!--<p><strong>If you are unsure as to how a particular feature works, please call over the assistant.</strong></p>
-->
<p>When you're confident you can use the system effectively, let the assistant know that you are ready to start.</p>
<hr/>

<div style="text-align: center;">
<a href="/treconomics/next/"> <button class="button" type="next" >Next</button></a>
</div>


{% endblock %}


{% block exp_footer_block %}
Participant: {{participant}}  - Condition: {{condition}} - Task: {{task}}
{% endblock %}
