{% extends 'rmiyc/base.html' %}

{% block container %}
   <div class="hero-unit">
        <h2>Retrieve me if you can</h2>

        <h3>Profile</h3>
        {% if user_profile %}

            Viewing {{user_profile.username}}'s profile page. <br /><br />
        {% endif %}

        {% if view_perm %}
         {{ user.username }} is logged in. <br />
         level : {{level}} <br />
         experience points : {{xp}} <br />

         Highscores:
         {% for item in highscores %}

            {{item.highest_score}},

         {% endfor %} <br />

         Achievements:
         {% for item in achievements %}
               {{item.achievement.name}},
         {% endfor %} <br />

         <a href="/profiles/">edit profile</a>

       {% endif %}


     </div>
{% endblock %}


