/**************************/
/*   BING SPECIFIC CSS    */
/**************************/
/* INPUT SECTION STYLING  */
/**************************/

.input-section {
    background-color: #fafafa;
    padding-bottom: 10px;
}

#search-form {
    margin-left: 8px;
}

#search-input {
    width: 79%;
    margin-right: 6px;
}

#search-input:focus {
    background: white;
}

#search-btns {
    margin-left: 5px;
}

.search-btn {
    background-image: linear-gradient(to bottom, #3a81ba, #3a81ba);
}

.search-btn:hover {
    background-image: linear-gradient(to bottom, #4093d2, #3e95d2);
}

#dropdown-container {
    min-width: 64px;
    margin-top: 23px;
}

#dropdown-container > ul {
    text-align: left;
    background-color: #fafafa;
}

#dropdown-container > ul > li > a:hover {
    background-color: #3a81ba;
}

/***************************/
/* RESULTS SECTION STYLING */
/***************************/

.results-section {
    background-color: #fafafa;

}
/***********************/
/*     WEB RESULTS     */
/***********************/

/*#results-container {*/
    /*padding-left: 289px;*/
    /*padding-right: 440px;*/
/*}*/


.result {
    padding-top: 10px;
    padding-bottom: 5px;
}

.result-title {
  margin-left: -0px;
  font-size: 16px;
  font-weight: 700;
  color: #3a81ba;
  text-decoration: underline;
}


.result-url {
  margin-top: -2px;
  color: #093;
  font-size: 14px;
}

.result-summary {
    margin-top: -1px;
    margin-bottom: 1px;
    line-height: 16px;
    font-size: 13px;
}

#no-results {
    font-family: Charcoal, sans-serif;
    font-weight: 500;
    color: #963334;

    padding-left: 1px;
}

/*************************/
/*     IMAGE RESULTS     */
/*************************/

#results-container {
    margin-left: -22px;
    margin-top: 12px;
}

.image-result {
    margin-right: 7px;
    margin-bottom: 7px;
    float: left;
    list-style: none;
}

.uk-overlay-caption {
    padding: 0;
}

/*************************/
/*     Video RESULTS     */
/*************************/

.video-result {
    margin-right: 7px;
    margin-bottom: 7px;
    float: left;
    list-style: none;
}