html {
  height: 100%;
}

body {
    background: #c4e3f3;
    min-height: 100%;
}

#container {
    margin: 10px auto;
    padding: 2px 5px;
    width: 1000px;
}

/* HEADER SECTION STYLING  */
.header-section {
    display: block;
    padding-top: 56px;
    padding-bottom: 24px;
    background-color: #fafafa;
}

.header-container {
    margin-left: 6px;
}

#head1, #head2 {
    display: inline;
}

#head1 {
    font-family: Impact, Charcoal, sans-serif;
    color: #3a81ba;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
}

#head2 {
    color: #963334;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* PAGINATION SECTION STYLING*/

.pagination-section {
    margin-top: -15px;
    padding-top: 30px;
    background-color: #fafafa;
}

#pagination-container {
    padding-top: 1px;
    padding-bottom: 11px;
    margin-left: 226px;
}