html, body {
    background-color: #fafafa;
}

/* HEADER SECTION STYLING  */
.header-section {
    display: block;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #fafafa;
}

#head1, #head2 {
    display: inline;
}

#head1 {
    font-family: Impact, Charcoal, sans-serif;
    color: #3a81ba;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
}

#head2 {
    color: #963334;
    font-family: "Great Vibes";
    font-size: 100px;
    font-weight: 700;
}

/* PAGINATION SECTION STYLING*/

.pagination-section {
    margin-top: -15px;
    padding-top: 30px;
    background-color: #fafafa;
}

#pagination-container {
    padding-right: 110px;
}