
.addButton {
	border: 1px solid #999;
	background: #eee;
	font-weight: bold;
	color: #666;
	height: 25px;
	width: 25px;
	border-radius: 4;
}


input.multisearchbox {
	border: 1px solid #999;
	height: 30px;
	width: 70px;
	margin-right: 2px;	
}

#hiddenALL, #hiddenANY, #hiddenNOT {
	display: none;
}



