{% extends "gold_digger/base.html" %}
<!DOCTYPE html>

{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About Gold Digger</title>
</head>
{% block body_block %}
<body id="shopbody">


    <div class="jumbotron" id="about">

        <h1>About Gold Digger</h1><br>

    </div>
    <hr>
    <div class="container-fluid">
        <div class="col-xs-2 col-md-2">

        </div>
        <div class="col-xs-7 col-md-7 well">

            <img src="{% static "glasgow.gif" %}" alt="Uni logo" width=50%><br><br>
            Gold Digger is a project by the <a href="http://www.gla.ac.uk">University of Glasgow</a> developed by Gabriele Rossi and supervised by Leif Azzopardi.
            It's objective is to provide a game that would act as a <b>metaphor for searching behavior</b>. In the same way as users of a web search engine tipe in queries to the system,
            so do the miners in gold digger access a mine showing different layers instead of different links. Each layer/link will hold a certain amount of gold just as each link in a web search will
            hold a certain amount of information that might be more or less useful to us. With this game/experiment we hope to find a correspondence between the two behaviors and hopefully
            let users have fun!<br><br>
            <u>For more information email:</u><br><br>
            Gabriele Rossi: - <a href="mailto:2108535r@student.glasgow.ac.uk">2108535r@student.glasgow.ac.uk</a><br><br>
            Leif Azzopardi: - <a href="mailto:2108535r@student.glasgow.ac.uk">2108535r@student.glasgow.ac.uk</a><br><br>

            <br>
            <h2>Acknowledgements</h2>
            <br>
            <h3>Content</h3>
            The following items have been partially modified from, and they are copyright of, <b>SNK/Playmore's METAL SLUG</b>. No credit is claimed upon them.
            <br><br>
            <ul>
                <li>Truck</li>
                <li>Mecha</li>
                <li>Horse</li>
            </ul>
            <br>
            The <b>achievements Sprites</b> and part of the shop items were made by Alis and are available <a href="http://www.pixeljoint.com/pixelart/44976.htm">here</a><br><br>
            The <b>day's end screen</b> is modified from the indipendent game <a href="http://ostrichbanditos.com/press/sheet.php?p=westerado">Westerado </a> by <b>Ostrich Banditos</b>

        </div>
        <br><br>

        </div>
    </div>
{% endblock %}
</body>
</html>