{% extends "gold_digger/base.html" %}
<!DOCTYPE html>

{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Achievements</title>
</head>
{% block body_block %}
    <body id="shopbody">


    <div class="jumbotron" id="about">

        <h1>Achievements</h1><br>

    </div>
    <hr>
    <div class="container-fluid">
        <div class="col-xs-2 col-md-2">

        </div>
        <div class="col-xs-7 col-md-8">
        <h1 style="font-family: pixelfont; color: gold">Coins</h1>
            <h4 style="font-family: pixelfont; color: gold">Gather gold and get more achievements!</h4>
        <br>
        <div class="row thumbnail" id="newitem">

            {% for a in achievements %}
                    {% if forloop.counter > 0 and forloop.counter <= 6 %}
                        <div class="col-sm-6 col-md-3">
                            <div style="background-color: rgba(255, 255, 255, 0); border: none" class="thumbnail">
                                <img src="{{ a.image.url }}" alt="{{ a.name }}" >
                            </div>
                            <div class="caption">
                                <h3 style="text-align: center">{{ a.name }}</h3>

                                <p style="text-align: center"><b>{{ a.condition }}</b></p>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
        <h1 style="font-family: pixelfont; color: gold">Gems</h1>
            <h4 style="font-family: pixelfont; color: gold">Keep digging and you'll find more than just gold!</h4><br>
        <div class="row thumbnail" id="newitem">
              {% for a in achievements %}
                    {% if forloop.counter > 6 and forloop.counter <= 11 %}
                        <div class="col-sm-6 col-md-3">
                         <div id="achievementprofile">
                            <div style="background-color: rgba(255, 255, 255, 0); border: none" class="thumbnail" >
                                <img src="{{ a.image.url }}" alt="{{ a.name }}">
                            </div>
                            <div class="caption">
                                <h3 style="text-align: center">{{ a.name }}</h3>

                                <p style="text-align: center"><b>{{ a.condition }}</b></p>
                            </div>
                         </div>
                        </div>
                    {% endif %}
            {% endfor %}
          </div>
        <br>
        <br>
        <h1 style="font-family: pixelfont; color: gold">Medals</h1>
            <h4 style="font-family: pixelfont; color: gold">A proud symbol of Gold digging heroes.</h4><br>
        <div class="row thumbnail" id="newitem">
              {% for a in achievements %}
                    {% if forloop.counter > 11 and forloop.counter <= 14 %}
                        <div class="col-sm-6 col-md-3">
                         <div id="achievementprofile">
                            <div style="background-color: rgba(255, 255, 255, 0); border: none" class="thumbnail" >
                                <img src="{{ a.image.url }}" alt="{{ a.name }}">
                            </div>
                            <div class="caption">
                                <h3 style="text-align: center">{{ a.name }}</h3>

                                <p style="text-align: center"><b>{{ a.condition }}</b></p>
                            </div>
                         </div>
                        </div>
                    {% endif %}
            {% endfor %}
          </div>
         </div>
        </div>
        <div class="col-xs-2 col-md-2">
        </div>
    </div>
{% endblock %}
</body>
</html>