{% extends "gold_digger/base.html" %}

<!DOCTYPE html>

<html>
{% load static %}
<head>
    <title>Mine selection</title>

</head>
<body>
{% block body_block %}
    <span id='csrf'>{% csrf_token %}</span>
    <div class="jumbotron" id="about">
        <h1>Locations</h1>

        <h4>Select a location to start diggin'!</h4>
    </div>
    <hr>
    <!-- California Modal -->
    <div class="modal fade" id="California" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">California</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Wild%20West%20Background.png" %}"></div>
                    <strong>Gold Rush!!</strong><br><br>
                    In 1848 <a href="http://en.wikipedia.org/wiki/California_Gold_Rush#History">James W. Marshall
                    noticed some shiny metal</a> in the tailrace of a lumber mill <strong>at Sutter's Mill
                    (Coloma)</strong> and, what do you know?
                    The old dog litterally struck gold! After Marshall's find the news started to spread, and before one
                    was able to saddle a horse and say
                    "giddyup!" thousands came flocking to California.
                </div>
                <div class="modal-footer">
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.0 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Yukon Modal -->
    <div class="modal fade" id="Yukon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yukon - Klondike</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Yukon.png" %}"></div>
                    <strong>The last Great gold Rush!</strong><br><br> On <a
                        href="http://en.wikipedia.org/wiki/Klondike_Gold_Rush#Discovery_.281896.29"> August 16 1896
                    George Carmack and Skookum Jim </a>found a considerable amount
                    of gold at Bonanza creek. Since then and between 1896 and 1899 a <strong>stampede of an estimated
                    100,000 people</strong> migrated to the Klondike region of the Yukon in North-West Canada.
                    Wanna have a go? But be careful it's pretty chilly up there!


                </div>
                <div class="modal-footer">
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.1 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Brazil Modal -->
    <div class="modal fade" id="Brazil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Brazil</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Brazil.png" %}"></div>

                Qualé mano!?<br><br>
                The Brazilian Gold rush started in the 1700s when bandeirantes <a href="http://en.wikipedia.org/wiki/Brazilian_Gold_Rush">discovered large deposits in the mountains of Minas Gerais. </a>
                More than 400,000 Portuguese people came to the mines to seek fortune abandoning the sugar plantations in the north east coast.
                By 1725 <strong>half the population of Brazil</strong> was living here in southeastern Brazil!
                </div>
                <div class="modal-footer">
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.2 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- South Africa Modal -->
    <div class="modal fade" id="South_Africa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">South Africa</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "South_Africa3.png" %}"></div>
                    California man! C'mon!
                </div>
                <div class="modal-footer">
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.3 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>

        <!-- Scotland Modal -->
        <div class="modal fade" id="Scotland" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Scotland - Kildonan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="thumbnail">
                            <img src="{% static "Scotland.png" %}"></div>
                        Betcha didn't know <a href="http://www.helmsdale.org/gold-rush.php">Scotland had its own
                        gold rush!</a><br><br>

                        <p>The history of <strong>Kildonan's gold</strong> started in 1818, when a solitary nugget of
                            gold weighing about ten pennyweights was found in the
                            <strong>River Helmsdale.</strong> It is claimed a ring was made out of this and is in the
                            possession of the Sutherland family.</p>
                    </div>
                    <div class="modal-footer">
                        <form action="/gold_digger/game2/">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.4 }}" name="mine type">Go
                                to mine
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Victoria Modal -->
        <div class="modal fade" id="Victoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Victoria</h4>
                    </div>
                    <div class="modal-body">
                        <div class="thumbnail">
                            <img src="{% static "Victoria2.png" %}"></div>

                        Go Down Under to dig Down Under!<br><br>

                        When <a href="http://en.wikipedia.org/wiki/Victorian_gold_rush#Gold_discovered">gold was
                        discovered in 1850 by Mr. W. Campbell of Strath Loddon</a>
                        the whole business was kept secret for fear of destabilizing the young colony, but now you can
                        dig to your heart's content! <strong>Go on! Grab a shovel and start digging mate!</strong>
                        <br><br>
                    </div>
                    <div class="modal-footer">
                        <form action="/gold_digger/game2/">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.5 }}" name="mine type">Go
                                to
                                mine
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-2 col-md-2">

                <ul class="nav nav-pills nav-stacked">

                    {% if user.is_authenticated %}
                        <li class="animated bounceInDown"><a href="/gold_digger/profile/">Your profile</a></li>
                    {% endif %}
                    <li class="animated bounceInDown"><a href="/gold_digger/about/">About Gold Digger</a></li>
                    <li class="animated bounceInDown"><a href="/gold_digger/leaderboards/">Leaderboards</a></li>

                </ul>
                <div class="animated wobble"><a href="/gold_digger/store/"><img id="buystuff"
                                                                                src="/media/mine/buy_stuff.png"/></a>
                </div>
            </div>
            <div class="col-xs-10 col-md-10">


                <!-- Map -->
                <img id="img_ID" src="/static/map_locations.png" usemap="#map" border="0" width="100%" alt=""/>
            </div>
            <map id="map_ID" name="map">
                <area shape="rect" coords="79,212,249,264" href="#" data-toggle="modal" data-target="#California"
                      alt="California" title="California" class="location"/>
                <area shape="rect" coords="258,62,378,109" href="#" data-toggle="modal" data-target="#Yukon" alt="Yukon"
                      title="Yukon" class="location"/>
                <area shape="rect" coords="583,613,715,643" href="#" data-toggle="modal" data-target="#Brazil"
                      alt="Brazil" title="Brazil" class="location"/>
                <area shape="rect" coords="995,576,1234,624" href="#" data-toggle="modal" data-target="#South_Africa"
                      alt="South Africa" title="South_Africa" class="location"/>
                <area shape="rect" coords="657,37,815,81" href="#" data-toggle="modal" data-target="#Scotland"
                      alt="Scotland" title="Scotland" class="location"/>
                <area shape="rect" coords="1500,693,1640,737" href="#" data-toggle="modal" data-target="#Victoria"
                      alt="Victoria" title="Victoria" class="location"/>

            </map>
        </div>
    </div>
    <hr>
    <script type="text/javascript" src="/static/js/map_javascript.js"></script>

{% endblock %}
</body>
</html>