{% extends "gold_digger/base.html" %}
<!DOCTYPE html>
<html>
{% load static %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Gold Digger</title>

</head>
<!-- <style>
 th
{
text-align:left;
}
progress{
    background-color: darkgreen;
}
</style> -->
<body>
{% block body_block %}
    <div class="jumbotron">
        <h1> Gold Digger</h1>

        <h2>{{ mine_type }} mine</h2>
    </div>


    <br>
    <form action="/gold_digger/move/">
        <button type="submit" value="move mine" name="move">New mine</button>
    </form>


    <!-- Digging -->
    <div class="container-fluid" id="mine">
        <div class="col-xs-6 col-md-2">

            <!-- Player stats -->

            <table class="table">
                <tr>
                    <td>Equipment:
                    <td><img src="{{ user.equipment.image.url }}"
                             title="{{ user.equipment.name }}, modifier: {{ user.equipment.modifier }}" height="75px">
                    </td>
                </tr>
                <tr>
                    <td>Vehicle:</td>
                    <td><img src="{{ user.vehicle.image.url }}"
                             title="{{ user.vehicle.name }}, modifier: {{ user.vehicle.modifier }}" height="75px"></td>
                </tr>
                <tr>
                    <td>Tool:</td>
                    <td><img src="{{ user.tool.image.url }}"
                             title="{{ user.tool.name }}, modifier: {{ user.tool.modifier }}" height="75px"></td>
                </tr>
                <tr>
                    <td><img src="/media/icons/Items/Chest.png" height="50px"></td>
                    <td>Total: {{ user.gold }}</td>

                </tr>
                <tr>
                    <td><strong>Daylight remaining:</strong></td>

                    <td>
                        <progress value="{{ time_remaining }}" max="100"></progress>
                    </td>
                    <td>{{ time_remaining }}</td>
                </tr>
            </table>

        </div>

        <div class="col-xs-6 col-md-8">


            <table class="table table-striped">

                <tr>
                    <th></th>
                    <th>Depth</th>
                    <th>Cue</th>
                </tr>
                {% if blocks %}
                    {% for block in blocks %}
                        {% if block.dug == False %}
                            <tr>
                                <td></td>
                                <td>{{ block.pos }}<br></td>
                                <td>{{ block.cue }}<br></td>
                                {% if pointer == block.pos %}
                                    <td>
                                        <form action="/gold_digger/dig/">
                                            <button type="submit" value="{{ block.gold }}" name="dig">dig</button>
                                            <input type="hidden" value="{{ block.pos }}" name="block">
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td></td>
                                <td>xxxxxxxxxx<br></td>
                                <td>xxxxxxxxxx<br></td>
                                <td>{{ block.gold }}</td>
                                <td>({{ block.gold_extracted }})</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>

                {% endif %}
            {% if pointer == blocks|length %}
                <a href="/gold_digger/dig/">Next mine?</a><br>

            {% endif %}
            <form action="/gold_digger/back_to_main/">
                <button type="submit" onclick="myFunction()" value="Back to main">Back to main</button>
                <br>
            </form>

            <script>
                function myFunction() {
                    alert("You will lose {{ gold }} gold!");
                }
            </script>
            <form action="/gold_digger/move/">
                <button type="submit" value="choose mine" name="move">Choose mine</button>
            </form>
        </div>
        <div class="col-xs-6 col-md-2">
            <br>
            <br>
            <img src="/media/icons/Items/Chest.png" height="50px">Total: {{ user.gold }}
            <br>
            <br>
            <img src="/media/icons/Items/Gold.png"> Current gold: {{ gold }}
            <br>
            <br>

        </div>
    </div>


{% endblock %}
</body>
</html>