<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Gold Digger - {{ mine_type }} mine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src={% static "js/respond.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
</head>
<body class="dig_view">


<!-- Header -->

<div class="landscape_container">
    <div class="row landscape landscape_5"><!-- change increment (1-10) to show different landscapes -->

        <div class="col-xs-2">
            <div class="row"><a href="map_view.html">
                <div class="map_button"></div>
            </a></div>
        </div>
        <div class="col-xs-8">
            <div class="row shaft_shack">
                <!-- get rid of the 'shaft_shack' class until you're ready to show the mining shaft -->
                <div class="extraction_technology_4"></div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row"><a href="#" class="button move_button">
                <div class="button_icon icon_move_1">
                    <!-- change the increments to show improved move technology tools (1-4) --></div>
                <div class="button_text">move</div>
            </a></div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <!-- a few empty columns on the left. -->
    <div class="col-xs-1 mine"></div>
    <div class="col-xs-3 mine" >
        <!-- Player stats -->

        <table id="stats">
            <tr>

                <td>Equipment:
                <td><img src="{{ user.equipment.image.url }}"
                         title="{{ user.equipment.name }}, modifier: {{ user.equipment.modifier }}" height="75px">
                </td>
            </tr>
            <tr>
                <td>Vehicle:</td>
                <td><img src="{{ user.vehicle.image.url }}"
                         title="{{ user.vehicle.name }}, modifier: {{ user.vehicle.modifier }}" height="75px"></td>
            </tr>
            <tr>
                <td>Tool:</td>
                <td><img src="{{ user.tool.image.url }}"
                         title="{{ user.tool.name }}, modifier: {{ user.tool.modifier }}" height="75px"></td>
            </tr>

            <tr>
                <td><img src="/media/icons/Items/Chest.png" height="50px"></td>
                <td>Total: {{ user.gold }}</td>

            </tr>
            <tr>
                <td><strong>Daylight remaining:</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{ time_remaining }}%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>

                </td>
                <td>{{ time_remaining }}</td>
                <td>{% if pointer == blocks|length %}
                    <a href="/gold_digger/dig/">Next mine?</a><br>

                {% endif %}
                </td>
            </tr>
        </table>

    </div>

<!-- Mine -->

    {% if blocks %}
        <div class="col-xs-5 mine">
            {% for block in blocks %}

                {% if block.dug == False %}
                    <div class="row flecks_{{ block.cue }}">
                        <div class="scaffold_1_shaded">
                        </div>
                    </div>
                {% else %}
                    {% if  block.gold < limits.0 and block.gold > limits.1  %}
                        <div class="row nuggets_6">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.1 and block.gold > limits.2 %}
                        <div class="row nuggets_5">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.2 and block.gold > limits.3 %}
                        <div class="row nuggets_4">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.3 and block.gold > limits.4 %}
                        <div class="row nuggets_3">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.4 and block.gold > limits.5 %}
                        <div class="row nuggets_2">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.5 and block.gold > limits.6 %}
                        <div class="row nuggets_1">
                            <div class="scaffold_{{ scaffold|random }}">
                            </div>
                        </div>
                    {% elif block.gold <= limits.6 and block.gold < limits.7 %}
                            <div class="scaffold_{{ scaffold|random }}"></div>
                    {% endif %}
                    {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-2 mine" id="statsright">
            {% for block in blocks %}

                <div class="row">
                    {% if block.dug == True %}
                        {{ block.gold }} <img src="/media/icons/items/Gold.png">
                        ({{ block.gold_extracted }}) <img src="/media/icons/items/Chest.png">

                    {% endif %}
                    {% if pointer == block.pos %}
                        <form action="/gold_digger/dig/">
                            <button type="submit" value="{{ block.gold }}" name="dig">dig</button>
                            <input type="hidden" value="{{ block.pos }}" name="block">
                        </form>
                        {% if pointer == blocks|length %}
                            <a href="/gold_digger/dig/">Next mine?</a><br>

                        {% endif %}

                    {% endif %}


                </div>
            {% endfor %}
        </div>

    {% endif %}

</div>

</body>
</html>