<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gold Digger</title>
</head>
<style>
 th
{
text-align:left;
}
</style>
<body>
<h1> Gold Digger</h1>

<table style="width:50px;  height:100px">
    <tr>
        <td>Equipment:
        <td><img src="{{ user.equipment.image.url}}" height="50px"></td>
    </tr>
    <tr>
        <td>Vehicle:</td>
        <td>{{ user.vehicle }}</td>
    </tr>
    <tr>
        <td>Total:  {{user.gold }}</td>
        <td><img src="/media/Chest.png"></td>
    </tr>
    <tr>
        <td><strong>Time remaining:</strong></td>
        <td></td>
        <td> {{ time_remaining }} </td>
    </tr>
</table>

<br>
<form action="/gold_digger/move/">
<button type="submit" value="move mine" name="move">New mine</button>
</form>
<br>
<br>

Current gold: {{ gold }} <img src="/media/Gold.png">
<br>
<br>

<table style="width:300px;  height:50px">

<tr>
  <th></th>
  <th>Depth</th>
  <th>Cue</th>
</tr>
{% if blocks %}
    {% for block in blocks %}
        {% if block.dug == False %}
            <tr>
              <td></td>
              <td>{{ block.pos }}<br></td>
              <td>{{ block.cue }}<br></td>
                {% if pointer == block.pos %}
              <td><form action="/gold_digger/dig/">
                  <button type="submit" value="{{ block.gold }}" name="dig">dig</button>
                  <input type="hidden" value="{{ block.pos }}" name="block">
              </form></td>
                    {% endif %}
            </tr>
        {% else %}
            <tr>
              <td></td>
              <td>xxxxxxxxxx<br></td>
              <td>xxxxxxxxxx<br></td>
              <td>{{ block.gold }}</td>
            </tr>
        {% endif %}
    {% endfor %}
        </table>

{% endif %}
{% if pointer == blocks|length %}
    <a href = "/gold_digger/dig/" >Next mine?</a><br>

{% endif %}
<form action="/gold_digger/back_to_main/">
    <button type="submit" onclick="myFunction()" value="Back to main">Back to main</button><br>
</form>

<script>
function myFunction() {
    alert("You will lose {{ gold }} gold!");
}
</script>
<form action="/gold_digger/move/">
<button type="submit" value="choose mine" name="move">Choose mine</button>
</form>
</body>
</html>