<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gold Digger</title>
</head>
<body>
<h1> Game choice</h1>
Choose your game!

<table style="width:500px;  height:300px">
<tr>
  <td>Constant Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="constant">Play</button></form></td>
  <td>Random Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="random">Play</button></form></td>
  <td>Linear Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="linear">Play</button></form></td>

</tr>
<tr>
  <td>Cubic Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="cubic">Play</button></form></td>
  <td>Quadratic Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="quadratic">Play</button></form></td>
  <td>Exponential Yield<br><form action="/gold_digger/game/"><button type="submit" value="mine type" name="exponential">Play</button></form></td>
</tr>

</table>
</body>
</html>