{% extends "gold_digger/base.html" %}

<!DOCTYPE html>

<html>
{% load static %}
<head>
    <title>Mine selection</title>

</head>
{% block body_block %}
    <body>

    <div id="ocean">
    <span id='csrf'>{% csrf_token %}</span>

    <div class="jumbotron" id="about">
        <h1>Locations</h1>
        <h2>Pick a location!</h2>

    </div>
    <hr>

    <!-- Achievement unlocked! -->

    <div id="egg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                            <h2 class="achievements">Easter Egg!</h2>
                        </div>
                <div class="modal-body" style="text-align: justify;">
                    <h3 class="achievements" id="achname" style=" text-align: center">BANANA!</h3>
                     <div class="thumbnail" id="newitem">
                        <img id="achimage"  src="/media/icons/Achievements/Banana.png"></div>
                    <h4 class="achievements" id="achdesc" >Congratulations, you found the Gold Digger easter Egg! Except...it's a Banana!</h4>

                </div>
                <div class="modal-footer">

                    <button name="no" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>


    <!-- California Modal -->
    <div class="modal fade" id="California" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">California</h3>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Wild%20West%20Background.png" %}"></div><br>
                    <strong>Gold Rush!!</strong><br><br>

                    In 1848 <a href="http://en.wikipedia.org/wiki/California_Gold_Rush#History" target="_blank">James W. Marshall
                    noticed some shiny metal</a> in the tailrace of a lumber mill <strong>at Sutter's Mill
                    (Coloma)</strong> and, what do you know?
                    The old dog litterally struck gold! After Marshall's find the news started to spread, and before one
                    was able to saddle a horse and say
                    "giddyup!" thousands came flocking to California.
                    <br><br>
                    <div class="well" id="modalcost">
                    <ul>
                        <li><strong style="font-size: 14pt">Mine cost: 40 </strong><img height="20px" src="/static/nugget.png"></li>
                        <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                    </ul></div>
                </div>
                <div class="modal-footer">
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.0 }}" name="mine type"
                                id="Cali">Go to
                            mine
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Yukon Modal -->
    <div class="modal fade" id="Yukon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Yukon - Klondike</h3>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Yukon.png" %}"></div><br>
                    <strong>The last Great gold Rush!</strong><br><br> On <a
                        href="http://en.wikipedia.org/wiki/Klondike_Gold_Rush#Discovery_.281896.29" target="_blank"> August 16 1896
                    George Carmack and Skookum Jim </a>found a considerable amount
                    of gold at Bonanza creek. Since then and between 1896 and 1899 a <strong>stampede of an estimated
                    100,000 people</strong> migrated to the Klondike region of the Yukon in North-West Canada.
                    Wanna have a go? But be careful it's pretty chilly up there!
                    <br><br>
                    <div class="well" id="modalcost">
                    <ul>
                        <li><strong style="font-size: 14pt">Mine cost: 100 </strong><img height="20px" src="/static/nugget.png"></li>
                        <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                    </ul>
</div>
                </div>
                <div class="modal-footer">
                    {% if gold < 100 %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.1 }}" name="mine type" disabled>Go to
                            mine</button>
                    {% else %}
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.1 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Brazil Modal -->
    <div class="modal fade" id="Brazil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Brazil</h3>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "Brazil.png" %}"></div><br>

                    Qualé mano!?<br><br>
                    The Brazilian Gold rush started in the 1700s when bandeirantes <a
                        href="http://en.wikipedia.org/wiki/Brazilian_Gold_Rush" target="_blank">discovered large deposits in the
                    mountains of Minas Gerais. </a>
                    More than 400,000 Portuguese people came to the mines to seek fortune abandoning the sugar
                    plantations in the north east coast.
                    By 1725 <strong>half the population of Brazil</strong> was living here in southeastern Brazil!
                    <br><br>
                    <div class="well" id="modalcost">
                    <ul>
                        <li><strong style="font-size: 14pt">Mine cost: 200 </strong><img height="20px" src="/static/nugget.png"></li>
                        <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                    </ul>
</div>

                </div>
                <div class="modal-footer">
                        {% if gold < 200 %}
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.2 }}" name="mine type" disabled>Go to
                            mine
                        </button>
                        {% else %}
                        <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.2 }}" name="mine type">Go to
                            mine
                        </button>
                            {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- South Africa Modal -->
    <div class="modal fade" id="South_Africa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">South Africa - Witwatersrand</h3>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{% static "South_Africa3.png" %}"></div><br>
                    You thought there were only diamonds!<br><br>

                    Startred in 1886 <b>led to the establishment</b> of Johannesburg. <a href="http://en.wikipedia.org/wiki/Witwatersrand_Gold_Rush" target="_blank">It was part of the Mineral Revolution</a> , so much so that it's been known as the <b> modern
                    day El Dorado </b>. Studies have shown how the "Golden Arc" stretching from Johannesburg to Welkom was once a massive inland created by numerous rivers transporting gold
                    sediments.




                    <br><br>
                    <div class="well" id="modalcost">
                    <ul>
                        <li><strong style="font-size: 14pt">Mine cost: 300 </strong><img height="20px" src="/static/nugget.png"></li>
                        <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                    </ul>
</div>
                </div>
                <div class="modal-footer">
                    {% if gold < 300 %}
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.3 }}" name="mine type" disabled>Go to
                            mine
                        </button>
                    {% else %}
                    <form action="/gold_digger/game2/">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="{{ mine_types.3 }}" name="mine type">Go to
                            mine
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div>

        <!-- Scotland Modal -->
        <div class="modal fade" id="Scotland" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="myModalLabel">Scotland - Kildonan</h3>
                    </div>
                    <div class="modal-body">
                        <div class="thumbnail">
                            <img src="{% static "Scotland.png" %}"></div><br>
                        Betcha didn't know <a href="http://www.helmsdale.org/gold-rush.php" target="_blank">Scotland had its own
                        gold rush!</a><br><br>

                        <p>The history of <strong>Kildonan's gold</strong> started in 1818, when a solitary nugget of
                            gold weighing about ten pennyweights was found in the
                            <strong>River Helmsdale.</strong> It is claimed a ring was made out of this and is in the
                            possession of the Sutherland family.</p>

                        <br><br>
                        <div class="well" id="modalcost">
                        <ul>
                            <li><strong style="font-size: 14pt">Mine cost: 400 </strong><img height="20px" src="/static/nugget.png"></li>
                            <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                        </ul>
</div>
                    </div>
                    <div class="modal-footer">
                        {% if gold < 400 %}
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.4 }}" name="mine type" disabled>Go
                                to mine
                            </button>
                        {% else %}
                        <form action="/gold_digger/game2/">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.4 }}" name="mine type">Go
                                to mine
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Victoria Modal -->
        <div class="modal fade" id="Victoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="myModalLabel">Victoria</h3>
                    </div>
                    <div class="modal-body">
                        <div class="thumbnail">
                            <img src="{% static "Victoria2.png" %}"></div><br>

                        Go Down Under to dig Down Under!<br><br>

                        When <a href="http://en.wikipedia.org/wiki/Victorian_gold_rush#Gold_discovered" target="_blank">gold was
                        discovered in 1850 by Mr. W. Campbell of Strath Loddon</a>
                        the whole business was kept secret for fear of destabilizing the young colony, but now you can
                        dig to your heart's content! <strong>Go on! Grab a shovel and start digging mate!</strong>
                        <br><br>

                        <br><br>
                        <div class="well" id="modalcost">
                        <ul>
                            <li><strong style="font-size: 14pt">Mine cost: 500 </strong><img height="20px" src="/static/nugget.png"></li>
                            <li><strong style="font-size: 14pt">Max yield: <img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"><img height="20px" src="/static/nugget.png"></strong></li>
                        </ul>
</div>
                    </div>
                    <div class="modal-footer">
                        {% if gold < 500 %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.5 }}" name="mine type" disabled>Go
                                to
                                mine
                            </button>
                        {% else %}
                        <form action="/gold_digger/game2/">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="{{ mine_types.5 }}" name="mine type">Go
                                to mine
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-2 col-md-2">

                <div class="well" id="mapstats2">
                    <img src="/media/icons/Items/Chest.png"> Gold: <span id="gold">{{ gold }}</span>
                    <hr>
                    <table style="line-height: 74px">
                        <tr>
                            <td>Scanning:</td>
                            <td><img data-toggle="tooltip" data-placement="right" title="Accuracy: {{ mod_scan }}%" id="scan" src="{{ scan }}"></td>
                        </tr>
                        <tr>
                            <td>Tool: </td>
                            <td><img data-toggle="tooltip" data-placement="right" title="Dig cost: {{ modt_tool }} Extracted: {{ mod_tool }}%"id="tool" src="{{ tool }}"></td>
                        </tr>
                        <tr>
                            <td>Vehicle: </td>
                            <td><img data-toggle="tooltip" data-placement="right" title="Move cost: {{ mod_vehicle }}" id="vehicle" src="{{ vehicle }}"></td>
                        </tr>
                    </table>

                </div>
                <div class="animated bounceIn"><a class="btn btn-primary btn-lg btn-warning animated bounceIn" href="/gold_digger/store/"
                   style="font-family: pixelfont">Buy stuff</a>
                </div>
            </div>
            <div class="col-xs-10 col-md-10">


                <!-- Map -->
                <img style="border-color: #000000; border-width: 2px; border-radius:6px; " id="img_ID"
                     src="/static/map_locations3.png" usemap="#map" border="0" width="100%" alt=""/>
            </div>
            <map id="map_ID" name="map">
                <area shape="rect" coords="79,212,249,264" href="#" data-toggle="modal" data-target="#California"
                      alt="California" title="California" class="location"/>
                <area shape="rect" coords="258,62,378,109" href="#" data-toggle="modal" data-target="#Yukon" alt="Yukon"
                      title="Yukon" class="location"/>
                <area shape="rect" coords="590,608,772,652" href="#" data-toggle="modal" data-target="#Brazil"
                      alt="Brazil" title="Brazil" class="location"/>
                <area shape="rect" coords="995,576,1234,624" href="#" data-toggle="modal" data-target="#South_Africa"
                      alt="South Africa" title="South Africa" class="location"/>
                <area shape="rect" coords="657,37,815,81" href="#" data-toggle="modal" data-target="#Scotland"
                      alt="Scotland" title="Scotland" class="location"/>
                <area shape="rect" coords="1500,693,1640,737" href="#" data-toggle="modal" data-target="#Victoria"
                      alt="Victoria" title="Victoria" class="location"/>
                <area shape="rect" coords="1156,231,1188,251" href="#" data-toggle="modal" data-target="#Egg"
                      alt="Egg" title="Egg" class="locationegg"/>

            </map>
        </div>
    </div>
    <hr>
    <script type="text/javascript" src="/static/js/map_javascript.js"></script>

    </div>

                <script src="/static/js/tooltips.js"></script>
                <script src="/static/js/egg.js"></script>
                <script src="{% static "js/location-ajax.js" %}"></script>
{% endblock %}
</body>
</html>