<!DOCTYPE html>
<html>
<head>
    <title>General Store</title>
</head>
<style>
table,tr,td
{
border:1px solid black;
}
</style>
<body>
<h1>General store</h1>
<h3>Scanning Equipment</h3>
Use these items to view more accurate cues!
<br>
<br>
<table style="width:150px;  height:100px">

<tr>
    <th>Object</th>
    <th></th>
    <th>Modifier</th>
    <th>Price</th>
    <th></th>
</tr>
{% for eq in equipment %}
<tr>

    <td>{{ eq.name }}</td>
    <td><img src ="media/{{ eq.image }}" title = "{{ eq.name }}, modifier: {{ eq.modifier }}" height = "50px"></td>
    <td>{{ eq.price }}</td>
    <td><form action="/gold_digger/buy/"><button type="submit" value="{{ eq.name }}" name="buy">Buy</button></form></td>

</tr>
{% endfor %}
</table>
</body>
</html>