{% extends "gold_digger/base.html" %}

<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>General Store</title>
</head>

<body>
{% block body_block %}
    <div class="jumbotron" id="about">

        <img src="/media/mine/store_sign.png" id="storesign"><br>

    </div>

    <div class="container-fluid" id="store">


        <!-- <table>
            <tr>
                <td><img src="media/Icons/Items/Chest.png" title="gold" height="50px"></td>
                <td>Current Gold:{{ gold }}</td>
            </tr>
        </table>-->

    <div class="col-xs-2 col-md-2">

            <ul class="nav nav-pills nav-stacked">

                {% if user.is_authenticated %}
                    <li><a href="/gold_digger/profile/">Your profile</a></li>
                    <li><a href="/gold_digger/about/">About Gold Digger</a></li>
                    <li><a href="/gold_digger/leaderboards/">Leaderboards</a></li>
                {% else %}
                    <li><a href="/gold_digger/about/">About Gold Digger</a></li>
                    <li><a href="/gold_digger/leaderboards/">Leaderboards</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#regModal">Register</a></li>
                    <li><a href="/gold_digger/store/">About Gold Digger</a></li>


                {% endif %}
            </ul>
        </div>
        <div class="col-sm-10 col-md-10">
        <h3>Scanning Equipment</h3>
        Use these items to view more accurate cues!
        <br><br>

        <div class="row">
            {% for eq in equipment %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <img class="thumbnail" src="{{ eq.image.url }}" alt="{{ eq.name }}">

                        <div class="caption">
                            <h3>{{ eq.name }}</h3>

                            <p>Image</p>

                            <p><a href="#" class="btn btn-primary" role="button">Buy!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3>Vehicles</h3>
        Buy a vehicle to spend less gold moving to a new mine!
        <br><br>
        <div class="row">
            {% for v in vehicles %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <img class="thumbnail" src="{{ v.image.url }}" alt="{{ v.name }}">

                        <div class="caption">
                            <h3>{{ v.name }}</h3>

                            <p>Image</p>

                            <p><a href="#" class="btn btn-primary" role="button">Buy!</a>
                        </div>
                    </div>
                </div>



            {% endfor %}
        </div>

        <h3>Tools</h3>
        Buy new tools to get more gold from each dig!
        <br><br>
        <div class="row">
            {% for t in tools %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <img class="thumbnail" src="{{ t.image.url }}" alt="{{ t.name }}">

                        <div class="caption">
                            <h3>{{ t.name }}</h3>

                            <p>Image</p>

                            <p><a href="#" class="btn btn-primary" role="button">Buy!</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>