{% extends "gold_digger/base.html" %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Gold Digger</title>

</head>
{% block body_block %}
    <body id="shopbody">

    <div class="jumbotron" id="about">
        <h1>Gold Digger</h1>

        <h2>{{ request.session.prova }}</h2>
        <div class="fb-like" data-href="http://golddigger.pythonanywhere.com/gold_digger/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

    </div>
    <hr>



    <div class="container-fluid">
        {% if user.is_authenticated %}

            <div class="col-xs-6 col-md-3">
                <div class="well" id="mapstats">
                    <img src="/media/icons/Items/Chest.png"> Gold: <span id="gold">{{ gold }}</span>
                    <hr>

                    <table style="line-height: 74px">
                        <tr>
                            <td>Scanning:</td>
                            <td><img data-toggle="tooltip" data-placement="right" title="Accuracy: {{ mod_scan }}%"
                                     id="scan" src="{{ scan }}"></td>
                        </tr>
                        <tr>
                            <td>Tool:</td>
                            <td><img data-toggle="tooltip" data-placement="right"
                                     title="Dig cost: {{ modt_tool }} Extracted: {{ mod_tool }}%" id="tool"
                                     src="{{ tool }}"></td>
                        </tr>
                        <tr>
                            <td>Vehicle:</td>
                            <td><img data-toggle="tooltip" data-placement="right" title="Move cost: {{ mod_vehicle }}"
                                     id="vehicle" src="{{ vehicle }}"></td>
                        </tr>
                    </table>

                </div>

            {% if user.is_authenticated %}
                        <div style="margin-left: 3%;">
                        <a class="btn btn-primary btn-lg btn-success animated bounceIn"
                           href="/gold_digger/game_choice2/"
                           style="font-family: pixelfont">Play!</a>
                        <a class="btn btn-primary btn-lg btn-info animated bounceIn" href="/gold_digger/tour/"
                           style="font-family: pixelfont">How to play</a>
</div>
                    {% endif %}
            </div>

        {% else %}
            {% if not user.is_authenticated %}
                <div class="col-xs-6 col-md-3">

                    <div class="panel panel-default" id="homewell">
                        <div class="panel-body">
                            <form class="form-horizontal" action="/gold_digger/user_login/" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <legend style="color: black; border-color: #000000;">Login</legend>



                                    {% if bad_details %}

                                        <div class="form-group has-error">
                                            <label for="inputError" class="col-lg-3 control-label">Username</label>

                                            <div class="col-lg-8">
                                                <input type="text" name="username" class="form-control animated shake" id="inputError"
                                                       placeholder="Username">

                                            </div>
                                        </div>
                                        <div class="form-group has-error">
                                            <label for="inputError" class="col-lg-3 control-label">Password</label>

                                            <div class="col-lg-8">
                                                <input type="password" name="password" class="form-control animated shake"
                                                       id="inputError"
                                                       placeholder="Password">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default">Login</button>
                                         <button class="btn btn-warning animated bounceIn" data-toggle="modal"
                                                    data-target="#regModal">
                                                Register
                                            </button>
                                    {% else %}
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-3 control-label">Username</label>

                                            <div class="col-lg-8">
                                                <input type="text" name="username" class="form-control" id="inputEmail"
                                                       placeholder="Username">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-3 control-label">Password</label>

                                            <div class="col-lg-8">
                                                <input type="password" name="password" class="form-control"
                                                       id="inputPassword" placeholder="Password">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default">Login</button>

                                            <button class="btn btn-warning animated bounceIn" data-toggle="modal"
                                                    data-target="#regModal">
                                                Register
                                            </button><br><br>
                                    {% endif %}

                                </fieldset>
                            </form>
                        </div>
                    </div>
                    {% if bad_details %}
                        <div class="alert alert-dismissable alert-danger animated bounceInDown">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>Invalid login details supplied</strong>
                        </div>
                    {% endif %}
                </div>
            {% endif %}



        {% endif %}



        <div class="col-xs-6 col-md-7">
            <div class="well" id="homewell">
                {% if registered %}
                    <div style="float: right;" class="alert alert-dismissable alert-success">
                        <button type="button" class="close animated bounceInDown" data-dismiss="alert">×</button>
                        <strong> You successfully registrated! </strong> Now click on "Play" to begin diggin'!
                    </div>
                {% endif %}
                {% if registered == False %}
                        <div  class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>Invalid registration details supplied!</strong>
                        </div>
                    {% endif %}
                <div >
                <h2>Welcome to Gold Digger!</h2>

                <p class="introp">Gold Digger is a strategy game where <b>your objecticve is to gather as much gold as
                    possible</b> in different
                    mines around the world.</p>
                </div>
                <div style="float: right;">
                    <h3>1. Choose a location!</h3>

                    <p class="introp"><img class="thumbnail intro" src="/static/map_locations3.png" height="180px"
                                           style="float: left;"/>To begin your gold digging journey, you need to choose
                        a location. There are 6 locations you
                        can
                        travel to to try your luck: <b>California, Yukon, Brazil, South Africa, Scotland</b> and<b>
                            Victoria</b>.
                        Travelling to each location will cost an amount of money that is <b>proportional to the amount of
                        gold
                        you'll be able to find</b>. The more expensive the mine, the more gold you'll find!</p>
                </div>
                <div style="float: right">
                    <h3>2. Dig!</h3>

                    <p class="introp"><img class="thumbnail intro" src="/static/Intro1.png" height="150px"
                                           style="float: right;"/>Once you get to a mine you'll be able to start
                        digging. Each mine has <b>10 layers</b>, each one
                        yielding a certain amount of gold nuggets. You can guess how much gold there might be in a layer
                        by
                        looking
                        at the <b>gold flecks</b> some of them will show. But be careful, <b>the accuracy of these
                            "clues" is
                            only as good as your scanning equipment.</b> The better the scanning equipment, the better
                        the chance that what shines <i>is</i> actually gold. Scanning equipment also determines <b>how
                            many layers of each mine will show you gold flecks</b></p>
                </div>
                <div style="float: right">
                    <h3>3. Move!</h3>

                    <p class="introp"><img class="thumbnail intro" src="/static/Intro2.png" height="200px"
                                           style="float: left;"/>If you think that the mine you're in is not giving you
                        the amount of gold you need, there's only one
                        thing to do: <b>move to a new mine</b>! Moving to a new mine will also cost you a certain amount
                        of
                        time
                        but it might be hugely profitable! Your success will be measured by <b>your ability to know when
                            to
                            stop
                            digging and move away</b>. Like gambling, you gotta know when to stop!</p>
                </div>
                <div style="float: right;">
                    <h3>4. Rest and Shop!</h3>

                    <p class="introp"><img class="thumbnail intro" src="/static/Intro3.png" height="200px"
                                           style="float: right "/>After a day of hard mining work, <b>when you've used
                        up all your time</b>, you can have a look at how
                        you did and <b>how much gold you were able to gather</b>. If you managed to get enough, you
                        could
                        <b>
                            go to the shop</b> and buy yourself some new items! <b>The better your equipment, the more gold
                        you'll get</b>.</p>
                </div>
                <br><br>

                <div style="float: right;">
                    <h3 >5. Gain Acievements and become rich!</h3>

                    <p class="introp"> <img class="thumbnail intro" src="/static/Intro4.png" height="200px"
                                           style="float: left "/>Gain achievements for <b>moving to new mines, diggig for days and acquiring more and more amounts of gold!</b> Become a true <b>Gold
                        Digger! If you'd like a <b>more in depth explanation on how to play</b> please click on <a href="/gold_digger/tour">How to Play</a> to enter a tutorial. </b></p></div>


                    <div style="text-align: center "><img style="margin-left: 3%; margin-right: 3%"
                                                         src="/static/nugget.png"> <img
                            style="margin-left: 3%; margin-right: 3%" src="/static/nugget.png"> <img
                            style="margin-left: 3%; margin-right: 3%" src="/static/nugget.png"></div>



        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <form class="form-horizontal" id="user_form" method="post" action="/gold_digger/register/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Register</h4>
                    </div>
                    <div class="modal-body" style="padding-right: 60px;">

                        {% if user_form and profile_form %}
                            {{ user_form| bootstrap_horizontal:'col-lg-3' }}
                            {{ profile_form | bootstrap_horizontal:'col-lg-3' }}
                        {% endif %}

                        <label for="text" class="col-lg-2 control-label" id="disclaimerlabel">Disclaimer</label>
                        <div id="text" class="thumbnail" style="overflow: scroll; font-size: 10pt; text-align: justify; height: 200px" disabled="disabled" rows="10" cols="100">
                        <h3 style="text-align: center"> - Please read -</h3>
                        Gold Digger is a project by the University of Glasgow and developed by Gabriele Rossi <a href="mailto:2108535r@student.glasgow.ac.uk">2108535r@student.glasgow.ac.uk</a>.<br>
                        Gold Digger collects gameplay data that is <b>COMPLETELY ANONYMOUS</b> in order to evaluate how players perform while they play. Examples of data that will be gathered are:<br><br>
                        <ul>
                            <li>Amount of gold dug in each mine</li>
                            <li>Number of digging days</li>
                            <li>The kind of mine and how much gold is extracted</li>
                        </ul>
                        For more information on the project and the use of the data gathered please go to <a href="/gold_digger/about/">about</a> or email the project developer at the above address.<br><br>

                        By clicking "Register" users certifies that they are over 16 and that they agree to the collection of said data. If you wish your data to be withdrawn at any point please email the
                        developer.

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" name="submit" value="Register" class="btn btn-primary">Register
                        </button>
                    </div>
            </form>
        </div>
    </div>
    </div>





    <script src="/static/js/tooltips.js"></script>

{% endblock %}
</body>
</html>