{% extends "gold_digger/base.html" %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Gold Digger</title>

</head>
<body>
{% block body_block %}
<div class="jumbotron" id="home">
<h1>Gold Digger</h1>
</div>
<hr>



  <div class="container-fluid">

      <div class="col-xs-6 col-md-2">

            <ul class="nav nav-pills nav-stacked">

                {% if user.is_authenticated %}
                    <li class="active"><a href = "/gold_digger/game_choice/">Play!</a></li>
                    <li><a href = "/gold_digger/profile/">Your profile</a></li>
                {% endif %}
                    <li><a href = "/gold_digger/about/">About Gold Digger</a></li>
                    <li><a href = "/gold_digger/leaderboards/">Leaderboards</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#regModal">Register</a></li>

            </ul>
      </div>
        <div class="col-xs-6 col-md-7">
            {% if registered %}
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong> You successfully registrated! </strong> Now click on "Play" to begin diggin'!
            </div>
            {% endif %}
            <h2>Welcome</h2>
            Gold digger is a videogame brought to you by the University of Glasgow and...I dunno, beer!
        </div>
  {% if not user.is_authenticated %}
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal" action="/gold_digger/user_login/" method="post">
                {% csrf_token %}
              <fieldset>
                <legend>Login</legend>



                  {% if bad_details %}

                    <div class="form-group has-error">
                        <label for="inputError" class="col-lg-3 control-label">Username</label>
                        <div class="col-lg-8">
                        <input type="text" name="username" class="form-control" id="inputError" placeholder="Username">
                         <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="inputError" class="col-lg-3 control-label">Username</label>
                        <div class="col-lg-8">
                        <input type="password" name="password" class="form-control" id="inputError" placeholder="Password">
                    </div>
                    </div>
                      <button type="submit" class="btn btn-default">Login</button>
                 {% else %}
                   <div class="form-group">
                      <label for="inputEmail" class="col-lg-3 control-label">Username</label>
                      <div class="col-lg-8">
                        <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Username">

                      </div>
                  </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                          <div class="col-lg-8">
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                          </div>
                        </div>
                  <button type="submit" class="btn btn-default">Login</button>
                  {% endif %}

               </fieldset>
            </form>
          </div>
        </div>
          {% if bad_details %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                 <strong>Invalid login details supplied</strong>
                </div>
          {% endif %}
    </div>
{% endif %}
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

      <form class="form-horizontal" id="user_form" method="post" action="/gold_digger/register/" enctype="multipart/form-data">
          {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body" style="padding-right: 60px;">

         {% if user_form and profile_form %}
            {{ user_form| bootstrap_horizontal:'col-lg-3'}}
            {{ profile_form | bootstrap_horizontal:'col-lg-3'}}
         {% endif %}


        <br>
      </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" name="submit" value="Register" class="btn btn-primary">Register</button>
        </div>
        </form>
    </div>
  </div>
</div>







{% endblock %}
</body>
</html>