<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Leaderboards</title>
</head>
<body>
<h1>Leaderboards</h1><br>

This is where users will be able to check their scores...<br>
<br>
<br>
<form id="select" action="/gold_digger/change_order/" method="post" name="rank">
    {% csrf_token %}
<select name="rank">
  <option value="average">By highest average</option>
  <option value="gold">By max gold</option>
  <option value="played">By games played</option>
  <input type="submit" value="Submit">
</select>
</form>
<table style="width:500px;  height:100px">
    <tr>
        <th>Thumbnail</th>
        <th>Username</th>
        <th>Max gold</th>
        <th>Games Played</th>
        <th>Average</th>
        <th>Rank</th>
    </tr>

    {% for user in users %}

    <tr>
        <td><img src="{{ user.picture.url }}" title="{{ user.user.username }}" height="75px"></td>
        <td>{{ user.user.username }}</td>
        <td>{{ user.all_time_max_gold}}</td>
        <td>{{ user.games_played }}</td>
        <td>{{ user.average}}</td>
        <td>{{ forloop.counter }}</td>
    </tr>

    {% endfor %}
</table>

<a href = "/gold_digger/" >Back to Main</a>
</body>
</html>