{% extends "gold_digger/base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>User Profile</title>
</head>

    <body>
    {% block nav %}
        <div class="row">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="notices pull-right">
                <p class="navbar-brand"><a style="color: #808080" href="/gold_digger/profile/" id="username">{{ user.user.username }}</a> / <a href="/gold_digger/logout/" id="logout">Logout</a></p>
            </div>

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-chevron-down"></span>
					MENU
				</button>
				 <a href="/gold_digger/" class="navbar-brand" id="golddigger">Gold Digger</a>
			</div>

			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
                    {% if user.user.is_authenticated %}
					<li class="active"><a href="/gold_digger/game_choice2/">Play!</a></li>
                    {% endif %}
					<li><a href="/gold_digger/leaderboards/">Leaderboards</a></li>
					<li><a href="/gold_digger/about/">About</a></li>
					<li><a href="/gold_digger/tour/">How to Play</a></li>
                    <li><a href="/gold_digger/display_achievements/">Achievements</a></li>

				</ul>

			</div>
		</nav>
	</div>
    {% endblock %}
    {% block body_block %}
    <div class="jumbotron" id="about">

        <h1>{{ user.user.username }}</h1><br>

    </div>

    {% if user %}
        <div class="container-fluid">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-9" >
        <div class="row">
        <div>
            <img id="profileimg" class="thumbnail" src="{{ user.picture.url }}"  alt="{{ user.user.username }}">
        </div>
        <h2 id="titoli">Profile</h2>
        <table class="thumbnail" id="details_well">
        <tr>
            <td>Username:</td>
            <td id="right_stats">{{ user.user.username }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td id="right_stats">{{ user.location }}</td>
        </tr>
         <tr>
            <td>Email: </td>
            <td id="right_stats">{{ user.user.email }}</td>
        </tr>
        </table>
            <h2 id="titoli">Equipment</h2>
         <table class = "thumbnail" id="equipment_well">

            <tr>
                <td><u>Scanning:</u></td>
                <td id="right"><img src="{{ user.equipment.image.url }}" height="70px"
                         alt="{{ user.equipment.name }}, {{ user.equipment.modifier }}" /></td>
                <td style="text-align: right;">{{ user.equipment.name }}</td>

                <td style="text-align: right">Accuracy: <span id="modifier">{{ mod_scan }}%</span></td>
                <td  style="text-align: right">Visibility: <span id="modifier">{{ mod_scan_l }}</span></td>
            </tr>
            <tr>
                <td><u>Digging:</u></td>
                <td id="right"><img src="{{ user.tool.image.url }}" height="70px"
                         alt="{{ user.tool.name }}, {{ user.tool.modifier }}" /></td>
                <td style="text-align: center">{{ user.tool.name }}</td>
                <td style="text-align: right">Extracted: <span id="modifier">{{ mod_tool }}%</span></td>
                <td style="text-align: right">Dig cost: <span id="modifier">{{ modt_tool }}</span></td>
            </tr>
            <tr>
                <td><u>Moving:</u></td>
                <td id="right"><img src="{{ user.vehicle.image.url }}" height="70px"
                         alt="{{ user.vehicle.name }}, {{ user.vehicle.modifier }}" /></td>
                <td style="text-align: center">{{ user.vehicle.name }}</td>
                <td colspan="2" style="text-align: right">Moving cost: <span id="modifier">{{ user.vehicle.modifier }}</span></td>
            </tr>
        </table>
            <h2 id="titoli">Game stats</h2>
        <table class="thumbnail" id="stats_well">
        <tr>
            <td>All time gold:</td>
            <td id="right_stats">{{ user.all_time_gold }} <img height="25" src="/static/nugget.png"/></td>
        </tr>
        <tr>
            <td style="width: 50%">Current gold:</td>
            <td id="right_stats">{{ user.gold }} <img height="25" src="/static/nugget.png"/></td>
        </tr>
        <tr>
            <td>Max gold dug:</td>
            <td id="right_stats">{{ user.all_time_max_gold }} <img height="25" src="/static/nugget.png"/></td>
        </tr>
        <tr>
            <td>Average:</td>
            <td id="right_stats">{{ user.average }} <img height="25" src="/static/nugget.png"/></td>
        </tr>
        <tr>
            <td>Mined for:</td>
            <td id="right_stats">{{ user.games_played }} <span style="color: #000000">days</span></td>
        </tr>
        <tr>
            <td>Mined in:</td>
            <td id="right_stats">{{ user.mines }} <span style="color: #000000">mines</span></td>
        </tr>

        </table>
            {% if achievements %}
                <h2 id="titoli">Achievements</h2>

                <div class="row thumbnail" id="newitem">

                    {% for a in achievements %}
                        <div class="col-sm-6 col-md-2">
                            <div id="achievementprofile">
                                <div style="background-color: rgba(255, 255, 255, 0); border: none" class="thumbnail">
                                    <img src="{{ a.achievement.image.url }}" alt="{{ a.achievement.name }}">
                                </div>
                                <div class="caption">
                                    <h3 style="text-align: center">{{ a.achievement.name }}</h3>

                                    <p style="text-align: center"><b>{{ a.achievement.condition }}</b></p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            {% endif %}
        </div>

        </div>
        </div>
        </div>

    {% endif %}
<br>


{% endblock %}
</body>
</html>