{% extends "gold_digger/base.html" %}
<!DOCTYPE html>
<html>
<head>

</head>
{% block body_block %}
    <span id='csrf'>{% csrf_token %}</span>
    <body class="store_view">


<!-- Nogold -->

        <div id="nogold" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
          <h3 style="color: red; font-family: pixelfont">Not enough gold!</h3>
          <h4 style="font-family: pixelfont">Gotta dig some more!</h4>
      </div>
    </div>
  </div>
</div>

<!-- Maxed Out modal -->

    <div id="maxedout" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center; font-family: pixelfont">
          <h3 style="color: red; font-family: pixelfont">Maxed out!</h3>
          <h4 style="font-family: pixelfont">You already have the best equipment!</h4>
      </div>
    </div>
  </div>
</div>


    <!-- Scanning Modal -->

    <div class="modal fade" id="modal_s" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Item purchase</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{{ new_item_s.image.url }}"></div>
                    <h3>{{ new_item_s.name }}</h3>
                    <ul>
                        <li><strong>Price: <span>{{ new_item_s.price }} </span><img height="20px" width="20px"
                                                                                    src="/static/nugget.png"></strong>
                        </li>
                        <li><strong>Accuracy: {{ new_item_s.modifier }}</strong></li>
                    </ul>
                    <br>
                    Do you want to purchase this item?

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button name="buyscan" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Buy!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tool Modal -->

    <div class="modal fade" id="modal_t" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Item purchase</h4>
                </div>
                <div class="modal-body">

                    <div class="thumbnail">
                        <img src="{{ new_item_t.image.url }}"></div>
                    <h3>{{ new_item_t.name }}</h3>
                    <ul>
                        <li><strong>Price: <span>{{ new_item_t.price }} </span><img height="20px" width="20px"
                                                                                    src="/static/nugget.png"></strong>
                        </li>
                        <li><strong>Gold Extracted: {{ new_item_t.modifier }}</strong></li>
                        <li><strong>Dig cost: {{ new_item_t.time_modifier }}</strong></li>
                    </ul>
                    <br>
                    Do you want to purchase this item?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button name="buytool" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Buy!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Vehicle Modal -->

    <div class="modal fade" id="modal_v" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Item purchase</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img src="{{ new_item_v.image.url }}"></div>
                    <h3>{{ new_item_v.name }}</h3>
                    <ul>
                        <li><strong>Price: <span>{{ new_item_v.price }} </span><img height="20px" width="20px"
                                                                                    src="/static/nugget.png"></strong>
                        </li>
                        <li><strong>Moving const: {{ new_item_v.modifier }}</strong></li>
                    </ul>
                    <br>
                    Do you want to purchase this item?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button name="buyvehicle" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Buy!</button>
                </div>
            </div>
        </div>
    </div>


    <!-- row 2: header -->

    <div class="landscape_container" id="generalstore">
        <div class="row store_sign_area animated flipInX">
            <div class="col-xs-2">
                <div class="row"><a href="map_view.html">
                    <div class="map_button"></div>
                </a></div>
            </div>
            <div class="col-xs-8">
                <div class="row store_sign"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="message" class="col-xs-2 store left">

            <div class="well" id="shopgold">
                <img src="/media/icons/Items/Chest.png"> Gold: <span id="gold">{{ gold }}</span>
                <!--<span style="color: red" id="message"></span>-->
                <hr>
                <table style="line-height: 74px">
                    <tr>
                        <td>Scanning:</td>
                        <td><img id="scan" src="{{ scan }}"/></td>
                        <td>
                            {% if new_item_s.image.url != scan %}
                            <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_scan"
                                    style="font-family: pixelfont; margin-left: 12px" >Upgrade
                            </button>
                            {% else%}
                                <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_scan"
                                    style="font-family: pixelfont; margin-left: 12px" disabled>Upgrade
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Tool:</td>
                        <td><img id="tool" src="{{ dig }}"/></td>
                        <td style="margin-left: 14px">
                            {% if new_item_t.image.url != dig  %}
                            <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_tool"
                                    style="font-family: pixelfont; margin-left: 12px">Upgrade
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_tool"
                                    style="font-family: pixelfont; margin-left: 12px">Upgrade
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Vehicle:</td>
                        <td><img id="vehicle" src="{{ move }}"/></td>
                        <td style="margin-left: 14px">
                            {% if new_item_v.image.url != move %}
                            <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_vehicle"
                                    style="font-family: pixelfont; margin-left: 12px">Upgrade
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-warning btn-xs upgrade" name="upgrade_vehicle"
                                    style="font-family: pixelfont; margin-left: 12px" disabled>Upgrade
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div><p id="playstore"><a class="btn btn-primary btn-lg btn-success animated bounceIn"
                                          href="/gold_digger/game_choice2/" style="font-family: pixelfont">Play!</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">

        <div class="col-xs-10" id="shoprow">
            <h1 style="font-family: pixelfont; color: goldenrod">Scanning Equipment</h1>
            <h4 style="font-family: pixelfont; color: goldenrod">Look further down each mine, and everything that shines
                <i>will</i> be gold!</h4>

            <div class="row store left">
                {% for e in equipment %}
                    <div class="col-xs-2 store left">
                        <a href="#">
                            <div class="row">
                                <div class="{% cycle 'scanning_5' 'scanning_1' 'scanning_2' 'scanning_3' 'scanning_4' %} animated bounceInRight">
                                    <div class="buy_1"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                {% for e in equipment %}
                    <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe" style="overflow: scroll">
                                <div class="caption">
                                    <h3 id="name">{{ e.name }}</h3>

                                    <p>Price: <span id="prices">{{ e.price }} </span><img height="20px" width="20px"
                                                                                          src="/static/nugget.png"></p>

                                    <p>Accuracy <span id="accuracy">{{ e.store_val }}%</span></p>

                                    <p style="width: 140; height: 60; overflow: scroll">{{ e.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h1 style="font-family: pixelfont; color: goldenrod">Digging Equipment</h1>
            <h4 style="font-family: pixelfont; color: goldenrod">Get more gold for every dig AND pay less for digging!
                Double gain!</h4>

            <div class="row">

                {% for t in tools %}
                    <div class="col-xs-2 store left">
                        <a href="#">
                            <div class="row">
                                <div class="{% cycle 'digging_0' 'digging_1' 'digging_2' 'digging_3' 'digging_4' %} animated bounceInRight">
                                    <div class="buy_1"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for t in tools %}
                    <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe" style="overflow: scroll">
                                <div class="caption">
                                    <h3 id="name">{{ t.name }}</h3>

                                    <p>Price: <span id="prices">{{ t.price }} </span><img height="20px"
                                                                                          src="/static/nugget.png"></p>

                                    <p>Gold extracted: <span id="accuracy">{{ t.store_val }}%</span></p>

                                    <p>Dig cost: <span id="cost">{{ t.time_modifier }}</span></p>

                                    <p>{{ t.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h1 style="font-family: pixelfont; color: goldenrod">Vehicles</h1>
            <h4 style="font-family: pixelfont; color: goldenrod">In a rush? Buy yourself a vehicle and beat the gold
                rush!</h4>

            <div class="row">
                {% for v in vehicles %}
                    <div class="col-xs-2 store left">
                        <a href="#">
                            <div class="row">
                                <div class="{% cycle 'moving_0' 'moving_1' 'moving_2' 'moving_3' 'moving_4' %} animated bounceInRight">
                                    <div class="buy_1"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for v in vehicles %}
                    <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe" style="overflow: scroll">
                                <div class="caption">
                                    <h3 id="name">{{ v.name }}</h3>

                                    <p>Price: <span id="prices">{{ v.price }} </span><img height="20px"
                                                                                          src="/static/nugget.png"></p>

                                    <p>Moving cost: <span id="cost">{{ v.modifier }}</span></p>

                                    <p>{{ v.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src="/static/js/tooltips.js"></script>

{% endblock %}
</body>
</html>