{% extends "gold_digger/base.html" %}
<!DOCTYPE html>
<html>
<head>

</head>
{% block body_block %}
<span id='csrf'>{% csrf_token %}</span>
<body class="store_view">


	<!-- row 2: header -->

		<div class="landscape_container" id="generalstore">
		<div class="row store_sign_area animated flipInX">
	    	<div class="col-xs-2">
	    		<div class="row"><a href="map_view.html"><div class="map_button"></div></a></div>
	    	</div>
			<div class="col-xs-8">
				<div class="row store_sign"></div>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
		</div>
<div class="container-fluid">
    <div class="col-xs-2 store left">
        <div class="well" id="shopgold">
            <img src="/media/icons/Items/Chest.png"> Gold: <span id="gold">{{ gold }}</span>
            <hr>
            <p>Scanning: <img id="scan" src="{{ scan }}"> <button type="button" class="btn btn-warning btn-xs" id="upgrade" style="font-family: pixelfont">Upgrade</button></p>
            <p>Tool: <img id="tool" src="{{ dig }}"> <button type="button" class="btn btn-warning btn-xs" id="upgrade" style="font-family: pixelfont">Upgrade</button></p>
            <p>Vehicle: <img id="vehicle" src="{{ move }}"> <button type="button" class="btn btn-warning btn-xs" id="upgrade" style="font-family: pixelfont">Upgrade</button></p>
            <p id="playstore"><a class="btn btn-primary btn-lg btn-success animated bounceIn" href="/gold_digger/game_choice2/" style="font-family: pixelfont">Play!</a></p>
        </div>

    </div>
    </div>
 		<div class="container-fluid">

	    <div class="col-xs-10" id="shoprow" >
        <h1 style="font-family: pixelfont; color: goldenrod">Scanning Equipment</h1>
        <h4 style="font-family: pixelfont; color: goldenrod">Improve your cue accuracy and everything that shines <i>will</i> be gold!</h4>
            <div class="row store left" >
            {% for e in equipment %}
	    	<div class="col-xs-2 store left">
				<a href="#"><div class="row"><div class="{% cycle 'scanning_5' 'scanning_1' 'scanning_2' 'scanning_3' 'scanning_4' 'scanning_5' %} animated bounceInRight"><div class="buy_1"></div></div></div></a>
            </div>
            {% endfor %}
            </div>

            <div class="row" >
            {% for e in equipment %}
                <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe">
                                <div class="caption">
                                    <h3 id="name">{{ e.name }}</h3>
                                    <p>Price: <span id="prices">{{ e.price }} </span><img height="20px" width="20px" src="/static/nugget.png"></p>
                                    <p>Accuracy <span id="accuracy">{{ e.store_val }}%</span></p>
                                    <p>{{ e.description }}</p>

                                </div>
                            </div>
                        </div>
            </div>
            {% endfor %}
	    </div>
            <h1 style="font-family: pixelfont; color: goldenrod">Digging Equipment</h1>
            <h4 style="font-family: pixelfont; color: goldenrod">Get more gold for every dig AND pay less for digging! Double gain!</h4>
            <div class="row" >

            {% for t in tools %}
	    	<div class="col-xs-2 store left">
				<a href="#"><div class="row"><div class="{% cycle 'digging_1' 'digging_2' 'digging_3' 'digging_4' %} animated bounceInRight"><div class="buy_1"></div></div></div></a>
            </div>
            {% endfor %}
            </div>
            <div class="row" >
            {% for t in tools %}
                <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe">
                                <div class="caption">
                                    <h3 id="name">{{ t.name }}</h3>
                                    <p>Price: <span id="prices">{{ t.price }} </span><img height="20px" src="/static/nugget.png"></p>
                                    <p>Gold extracted: <span id="accuracy">{{ t.store_val }}%</span></p>
                                    <p>Dig cost: <span id="cost">{{ t.time_modifier }}</span></p>
                                    <p>{{ t.description }}</p>

                                </div>
                            </div>
                        </div>
            </div>
            {% endfor %}
	    </div>
        <h1 style="font-family: pixelfont; color: goldenrod">Vehicles</h1>
        <h4 style="font-family: pixelfont; color: goldenrod">In a rush? Buy yourself a vehicle and beet the gold rush!</h4>
        <div class="row" >
            {% for v in vehicles %}
	    	<div class="col-xs-2 store left">
				<a href="#"><div class="row"><div class="{% cycle 'moving_1' 'moving_2' 'moving_3' 'moving_4' %} animated bounceInRight"><div class="buy_1"></div></div></div></a>
            </div>
            {% endfor %}
            </div>
            <div class="row" >
            {% for v in vehicles %}
                <div class="col-xs-2 store left">
                        <div class="description">
                            <div class="thumbnail" id="shoppe">
                                <div class="caption">
                                    <h3 id="name">{{ v.name }}</h3>
                                    <p>Price: <span id="prices">{{ v.price }} </span><img height="20px" src="/static/nugget.png"></p>
                                    <p>Moving cost: <span id="cost">{{ v.modifier }}</span></p>
                                    <p>{{ v.description }}</p>

                                </div>
                            </div>
                        </div>
            </div>
            {% endfor %}
	    </div>
	    </div>

	</div>

{% endblock %}
</body>
</html>