{% extends "gold_digger/base.html" %}
<!DOCTYPE html>
<html>
<head>

</head>
{% block body_block %}
<body class="store_view">

	
	<!-- row 2: header -->
	
		<div class="landscape_container">		
		<div class="row store_sign_area">
	    	<div class="col-xs-2">
	    		<div class="row"><a href="map_view.html"><div class="map_button"></div></a></div>
	    	</div>
			<div class="col-xs-8">
				<div class="row store_sign"></div>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
		</div>
 		<div class="container">		
 

	    <div class="row">			
	    	<div class="col-xs-3 store left">
				<a href="#"><div class="row"><div class="digging_1"><div class="buy_1"></div></div></div></a>
				<a href="#"><div class="row"><div class="scanning_1"><div class="buy_1"></div></div></div></a>
				<a href="#"><div class="row"><div class="moving_1"><div class="buy_1"></div></div></div></a>
			</div>
			<div class="col-xs-3 store left">
				<a href="#"><div class="row"><div class="digging_2"><div class="buy_2"></div></div></div></a>
				<a href="#"><div class="row"><div class="scanning_2"><div class="buy_2"></div></div></div></a>
				<a href="#"><div class="row"><div class="moving_2"><div class="buy_2"></div></div></div></a>
			</div>
			<div class="col-xs-3 store right">
				<a href="#"><div class="row"><div class="digging_3"><div class="buy_3"></div></div></div></a>
				<a href="#"><div class="row"><div class="scanning_3"><div class="buy_3"></div></div></div></a>
				<a href="#"><div class="row"><div class="moving_3"><div class="buy_3"></div></div></div></a>
			</div>
			<div class="col-xs-3 store right">
				<a href="#"><div class="row"><div class="digging_4"><div class="buy_4"></div></div></div></a>
				<a href="#"><div class="row"><div class="scanning_4"><div class="buy_4"></div></div></div></a>
				<a href="#"><div class="row"><div class="moving_4"><div class="buy_4"></div></div></div></a>
			</div>
	    </div>
	</div>

{% endblock %}
</body>
</html>