
{% extends 'base/base.html' %}

{% block title %}
       Abstract Search Games: In Game
{% endblock %}


{% block navbar %}

            {% include "base/gamenavbar.html" %}


{% endblock %}

         {% block belownavbar %}
        <div class="well sidebar-nav">

        <ul class="nav nav-list">
             <li class="nav-header">Instructions</li>

            <li>Click <b>Assess</b> to open the next document.</li>
            <br/>
            <li>Each document contains 0 to 3 new pieces of information (points).</li>
            <br/>
            <li>Click <b>Query</b> to move to a new set of documents.</li>
            <br/>
            <li>Each action takes time.</li>
            <br/>
            <li>Each games has 30 units of unit.</li>
            <br/>
            <li>Find the most amount of information (points)</li>

        </ul>
             </div><!--/.well -->
                {% endblock %}


{% block content %}

{% if data %}

        <div class="jumbotron">
        </div>
        <hr>
         <div class="row-fluid">
            <div class="span5">

                <h3>Results for Query {{data.no}}</h3>
                {% for d in data.round %}
                    <p>{% if d.opened%} <span class="label">Opened</span> {% else %} <span class="label label-inverse">Unopened</span> {% endif %} <br/>
                        {{d.label}}
                        {% if d.opened%}
                        {% if d.gain > 2 %} <span class="badge badge-success">{{d.gain}}</span>
                    {% else %}
                        {% if d.gain > 0 %}
                            <span class="badge badge-warning">{{d.gain}}</span>
                        {% else %}
                            <span class="badge badge-important">{{d.gain}}</span>
                        {% endif %}
                    {% endif %}
                        {% else %} <span class="badge">?</span> {% endif %} </h4>
                   </p>



                {% endfor %}
{% if data.gameover %}
                <p><a href="/asg/pick/" class="btn btn-success btn-large">Play Again &raquo;</a> </p>
             {% else %}
               <p></p>
 {% endif %}
            </div>
            <div class="span2">
<h3>Actions</h3>
                {% if data.gameover %}

                {% else %}
                <p></p>
                <p></p>
                 <p>
                     <a href="/asg/query/" class="btn btn-primary btn-large">Query &nbsp &raquo;</a>
                    </p>
                <p>
                    <a href="/asg/assess/" class="btn btn-warning btn-large"> &laquo; Assess</a>
                    </p>

                {% endif %}
            </div>



            <div class="span5 well">

             <h3>Game Stats</h3>
            <p>Time Left: <span class="badge">{{data.tokens}}</span></p>
            <div class="progress">
            <div class="bar" style="width: {{data.ptokens}}%;"></div>
            </div>
            <p>Query Cost in units of time: <span class="badge badge-info">{{data.cq}}</span> </p>
            <p>Assessment Cost in units of time:  <span class="badge badge-warning">{{data.ca}}</span> </p>
            <p>Information Points: <span class="badge badge-success">{{data.points}}</span></p>
            <p>No. of Queries Issued: {{data.no}}</p>
                {% if data.gameover %}

                <h3>Game Over</h3>
                <p>You scored {{data.points}}!</p>
                {% if new_high %}
                <p>New High Score!</p>
                {% endif %}



                <p><a href="/asg/pick/" class="btn btn-success btn-large">Play Again &raquo;</a> </p>
             {% else %}


{% endif %}
            </div>


{% endif %}

{% endblock %}
