<!DOCTYPE html>
<html>
<head>
    <title>ASG Game</title>
</head>
<body>
<a href="/asg/start/">start</a> | <a href="/asg/start2/">start2</a> |  <a href="/asg/query/">query</a> | <a href="/asg/assess/">assess</a>
<p>
    {{sid}}

{% if data %}
    <ul>
        <li>Tokens Left: {{data.tokens}}</li>
        <li>Query Cost: {{data.cq}}</li>
        <li>Assessment Cost: {{data.ca}}</li>
        <li>Points: {{data.points}}</li>
        <li>Round No.: {{data.no}}</li>
    </ul>

    {% if data.gameover %}
        Game Over
    {% else %}
        <p>
        {% for d in data.round %}

            {{d.label}} <br>{% if d.opened%} {{d.gain}} {% else %} Unopened {% endif %}<br>
        {% endfor %}
        <p>
    {% endif %}

{% endif %}
</p>
</body>
</html>