
{% extends 'base/base.html' %}

{% block title %}
      Abstract Search Games
{% endblock %}

{% block navbar %}
            {% include "base/navbar.html" %}
{% endblock %}


{% block content %}
    <div class="hero-unit">
    <h1>Search Abstraction</h1>
    <p class="lead">
        Put your search skills to the test in a game of strategies!</p>
<p>
    <ul>
        <li>Your goal is to find as many pieces of information as you can.</li>

        <li>Querying will bring back new results.</li>

        <li>Assessing will open the result and reveal how much information you gain.</li>

        <li>Every time you query or assess it costs time.</li>

        <li>However, you only have a fixed amount of time in each game.</li>

    </ul>
    </p>

    {% if user.is_authenticated %}
    <p><a href="/asg/pick/" class="btn btn-success btn-large">Play &raquo;</a></p>
       {% else %}
    <p><a href="/accounts/register/" class="btn btn-success btn-large">Signup &raquo;</a>  <a href="/accounts/login/" class="btn btn-primary btn-large">Login &raquo;</a></p>
        {% endif %}

  </div>


{% endblock %}
